/* Common Tree status colors via CSS Variables.

  Can be imported via:

    @import '../colors';
*/

@import '../../infra-sk/themes';

:root {
  --closed: var(--failure-alpha);
  --caution: var(--warning-alpha);
  --open: var(--success-alpha);
}
