/* Common Tree status colors via CSS Variables.

  Can be imported via:

    @import '../colors';
*/

@import '../../infra-sk/themes';

:root {
  --primary: rgb(63, 81, 181);

  --closed: var(--failure-alpha);
  --caution: var(--warning-alpha);
  --open: var(--success-alpha);

  .darkmode {
    --primary: var(--blue-grey-600);
    --on-primary: var(--white);
  }
}
