/* Common Tree status colors via CSS Variables.

  Can be imported via:

    @import '../colors';
*/

:root {
  --primary: rgb(63, 81, 181);

  --closed: rgb(240, 168, 168);
  --caution: rgb(255, 253, 153);
  --open: rgb(144, 238, 144);

  .darkmode {
    --primary: var(--blue-grey-600);
    --on-primary: var(--white);

    --closed: rgb(217, 95, 2);
    --caution: rgb(255, 167, 38);
    --open: rgb(102, 166, 30);
  }
}
