/*
 * Styles for select and options to make them look better.
 */
select,
option {
  padding: 0.6em;
  background-color: white;
  border: none;
  outline: none;
  line-height: 20px;
  vertical-align: middle;
  border-radius: 4px;
}

select {
  border: solid 1px #A6CEE3;
  margin: 0.6em;
}

select option:focus,
select:focus {
  border: solid 1px lightgray;
  outline: dotted thick #1F78B4;
  outline-offset: 1px;
}

option:hover {
  background-color: #ddd;
}

option:focus {
  background-color: #ddd;
  transition: background-color 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

option:checked {
  background-color: #A6CEE3;
  color: #1F78B4;
}

select {
  overflow-y: auto;
}
