<!DOCTYPE html>
<html>
  <head>
    <title>Chromium Perf Runs</title>
    {{template "header.html" .}}
  </head>
  <body>

    <paper-header-panel class="fit">

      {{template "titlebar.html" .}}

      <div class="content">
        <paper-drawer-panel>
          <div drawer>
            <drawer-sk></drawer-sk>
          </div>
          <div main class="scrollable">
            <section id=chromium_perf_runs_history class="left_padded">
              <chromium-perf-runs-sk id="chromium_perf_runs"></chromium-perf-runs-sk>
            </section>
          </div>
        </paper-drawer-panel>
      </div>

      <error-toast-sk></error-toast-sk>
    </paper-header-panel>

  </body>
</html>
