<!DOCTYPE html>
<html>
  <head>
    <title>Chromium Perf Runs</title>
    {{template "header.html" .}}
    <link href="/res/imp/chromium-perf-runs-sk.html" rel="import" />
    </style>
  </head>
  <body>

    <paper-header-panel class="fit">

      {{template "titlebar.html" .}}

      <div class="content">
        <paper-drawer-panel>
          <div drawer>
            {{template "drawer.html" .}}
          </div>
          <div main id="scrollable">
            <section id=chromium_perf_runs_history class="left_padded">
              <chromium-perf-runs-sk id="chromium_perf_runs"></chromium-perf-runs-sk>
            </section>
          </div>
        </paper-drawer-panel>
      </div>

    </paper-header-panel>

  </body>
</html>
