        <paper-menu theme="core-light-theme" style="padding: 15px 0px 0px 10px;">
          
          <paper-item>
            <a href="/chromium_perf/" class="nolink">
              <iron-icon icon="trending-up" class="right_padded"></iron-icon>
              Performance
            </a>
          </paper-item>

          <paper-item>
            <a href="/capture_skps/" class="nolink">
              <iron-icon icon="image:photo-camera" class="right_padded"></iron-icon>
              SkPictures
            </a>
          </paper-item>

          <paper-item>
            <a href="/lua_script/" class="nolink">
              <iron-icon icon="cloud" class="right_padded"></iron-icon>
              Lua Scripts
            </a>
          </paper-item>

          <paper-item>
            <a href="/chromium_builds/" class="nolink">
              <iron-icon icon="shopping-cart" class="right_padded"></iron-icon>
              Builds
            </a>
          </paper-item>

          <paper-item>
            <a href="/admin_tasks/" class="nolink">
              <iron-icon icon="social:person" class="right_padded"></iron-icon>
              Admin Tasks
            </a>
          </paper-item>

          <paper-item>
            <a href="/queue/" class="nolink">
              <iron-icon icon="reorder" class="right_padded"></iron-icon>
              View Queue
            </a>
          </paper-item>

          <paper-item>
            <a href="/history/" class="nolink">
              <iron-icon icon="history" class="right_padded"></iron-icon>
              Runs History
            </a>
          </paper-item>

          <paper-item>
            <a href="https://github.com/google/skia-buildbot/tree/master/ct" class="nolink">
              <iron-icon icon="folder" class="right_padded"></iron-icon>
              Code
            </a>
          </paper-item>

          <paper-item>
            <a href="/docs/" class="nolink">
              <iron-icon icon="help" class="right_padded"></iron-icon>
              Docs
            </a>
          </paper-item>

        </paper-menu>
