<!DOCTYPE html>
<html>
  <head>
    <title>Metrics Analysis</title>
    {{template "header.html" .}}
  </head>
  <body>

    <paper-header-panel class="fit">

      {{template "titlebar.html" .}}

      <div class="content">
        <paper-drawer-panel>
          <div drawer>
            <drawer-sk></drawer-sk>
          </div>
          <div main class="scrollable">
            <section id=metircs_analysis class="left_padded">
              <h2>Metrics analysis on cloud trace URLs</h2>
              <p>
                <span style="text-align: center;">
                  Design doc is <a href="https://docs.google.com/document/d/1MY95ULhEuKFznBQpF60_uhdhRco5bWzUVfVTp0M2hDw/edit?ts=5accc1eb#" target="_blank">here</a>.
                </span>
              </p>
              <br/><br/>
              <metrics-analysis-sk id="metrics_analysis"></metrics-analysis-sk>
            </section>
          </div>
        </paper-drawer-panel>
      </div>

      <paper-toast id="confirm_toast" duration="5000"></paper-toast>
      <error-toast-sk></error-toast-sk>
    </paper-header-panel>

    <script type="text/javascript" charset="utf-8">
       (function() {
         sk.post('/_/task_priorities/').then(JSON.parse).then(function(json) {
           $$$('metrics-analysis-sk').taskPrioritiesToDesc = json["task_priorities"];
           $$$('metrics-analysis-sk').taskPriorities = Object.keys(json["task_priorities"]);
         }).catch(sk.errorMessage);
       })();
    </script>

  </body>
</html>
