<!DOCTYPE html>
<html>
  <head>
    <title>Tasks in the Queue</title>
    {{template "header.html" .}}
    <link href="/res/imp/pending-tasks-sk.html" rel="import" />
  </head>
  <body>

    <paper-header-panel class="fit">

      {{template "titlebar.html" .}}

      <div class="content">
        <paper-drawer-panel>
          <div drawer>
            {{template "drawer.html" .}}
          </div>
          <div main id="scrollable">
            <section id=pending_tasks class="left_padded">
              <pending-tasks-sk></pending-tasks-sk>
            </section>
          </div>
        </paper-drawer-panel>
      </div>

    </paper-header-panel>

  </body>
</html>
