<!DOCTYPE html>
<html>
  <head>
    <title>Recreate Page Sets Task Runs</title>
    {{template "header.html" .}}
  </head>
  <body>

    <paper-header-panel class="fit">

      {{template "titlebar.html" .}}

      <div class="content">
        <paper-drawer-panel>
          <div drawer>
            {{template "drawer.html" .}}
          </div>
          <div main class="scrollable">
            <section class="left_padded">
              <admin-task-runs-sk url="/_/get_recreate_page_sets_tasks"
                                  task-type="RecreatePageSets">
              </admin-task-runs-sk>
            </section>
          </div>
        </paper-drawer-panel>
      </div>

      <error-toast-sk></error-toast-sk>
    </paper-header-panel>

  </body>
</html>
