<!DOCTYPE html>
<html>
  <head>
    <title>Runs History</title>
    {{template "header.html" .}}
  </head>
  <body>

    <paper-header-panel class="fit">

      {{template "titlebar.html" .}}

      <div class="content">
        <paper-drawer-panel>
          <div drawer>
            <drawer-sk></drawer-sk>
          </div>
          <div main class="scrollable">
            <section id=runs_history class="left_padded top_padded">
              View the runs of the following CT tasks:
              <ul>
                <li><a href="/chromium_perf_runs/">Chromium Perf Runs</a></li>
                <li><a href="/chromium_analysis_runs/">Chromium Analysis Runs</a></li>
                <li><a href="/metrics_analysis_runs/">Metrics Analysis Runs</a></li>
                <li><a href="/capture_skp_runs/">Capture SKP Runs</a></li>
                <li><a href="/lua_script_runs/">Lua Script Runs</a></li>
                <li><a href="/chromium_builds_runs/">Chromium Builds Runs</a></li>
                <li><a href="/recreate_page_sets_runs/">Recreate Page Sets Task Runs</a></li>
                <li><a href="/recreate_webpage_archives_runs/">Recreate Webpage Archives Task Runs</a></li>
              </ul>
            </section>
          </div>
        </paper-drawer-panel>
      </div>

    </paper-header-panel>

  </body>
</html>
