@import '../themes/themes.scss';

.body-sk test-picker-sk {
  spinner-sk {
    width: 2px;
    height: 2px;
  }

  #testPicker,
  #fieldContainer {
    display: flex;
    align-items: end;
    gap: 8px;
  }

  #fieldContainer {
    display: flex;
  }

  #queryCount {
    display: flex;
    flex-direction: column;
    align-items: center;

    .test-picker-sk-matches-container {
      spinner-sk {
        margin: 0;
        margin-left: 8px;
        margin-top: 7px;
      }
    }
    button {
      z-index: 1;
      margin-bottom: 0;
      white-space: nowrap;
    }
  }
}
