@import '../../../infra-sk/themes.scss';

commands-sk {
  hr {
    border: none;
    height: 1px;
    margin: 0;
    color: #bbb;
    background-color: #bbb;
  }

  .count {
    display: inline-block;
    font-weight: bold;
  }

  .horizontal-flex {
    display: flex;
    justify-items: stretch;
    align-items: center;
  }

  .icon {
    display: inline-block;
    opacity: 0.7;
  }

  details[open] {
    background: #eee;
  }

  .selected {
    background: #77beff;
  }

  details:hover {
    background-color: #eeffee;
  }

  summary {
    display: flex;
  }

  .list {
    margin-top: 4px;
    overflow-y: scroll;
    height: 85vh;
    display: block;

    .op {
      display: block;

      // makes the button only as tall as necessary to hold text
      button {
        margin: 2px;
      }

      .command-summary {
        display: flex;
        align-items: center;
        margin: 0 2px 4px 0;
      }
    }
  }

  .command-icons-group {
    white-space: nowrap;
  }

  .command-title {
    font-size: 13px;
    padding: 4px;
  }

  code.short-desc {
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 6;
    color: var(--primary-variant);
  }

  .gpu-op-id {
    background: #1b9e77;
    color: white;
    border-radius: 5px;
    padding: 2px 4px;
    margin: 1px;
    position: relative;
    top: 5px;
  }

  checkbox-sk {
    min-width: 16px;
    display: inline-block;
  }

  .range-input {
    width: 24px;
  }

  #text-filter {
    flex-grow: 2;
  }
}
