commands-sk {

  .list {
    overflow-y: scroll;
    height: 85vh;
    display: block;
  }

  .op {
    display: block;
    margin-left: -2em;
  }

  hr {
    border: none;
    height: 1px;
    margin: 0px;
    color: #BBB;
    background-color: #BBB;
  }

  .count {
    display: inline-block;
    margin-left: -1em;
    font-weight: bold;
    top: 0.5em;
    left: -0.5em;
    position: relative;
    width: 0.7em;
  }

  .index {
    margin-right: 0.5em;
  }

  // makes the button only as tall as necessary to hold text
  button {
    margin-top: auto;
    margin-bottom: auto;
  }

  pre {
    margin-left: 1em;
  }

  .icon {
    margin-left: -0.5em;
    display: inline-block;
    opacity: 0.7;
  }

  details {
    margin-left: 2em;
  }

  details[open] {
    background: #eee;
  }

  .selected {
    background: #77beff;
  }

  details:hover {
    background-color: #eeffee;
  }

  summary {
    display: flex;
    flex-diection: row;
  }

  // flex box was happy to shrink this thing, which looked terrible.
  details summary::-webkit-details-marker {
    width: 9px;
  }

  .command-icons-group {
    margin-left: -0.4em;
    white-space: nowrap;
  }

  .command-title {
    font-size: 13px;
    padding: 4px;
  }

  code.short-desc {
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 6;
    padding-top: 4px;
  }

  .gpu-op-id {
    background: #1B9E77;
    color: white;
    border-radius: 5px;
    padding: 2px 4px;
    margin: 1px;
    position: relative;
    top: 5px;
  }

  checkbox-sk {
    min-width: 16px;
    display: inline-block;
  }

  play-sk {
    margin: 5px auto;
  }

  .range-input {
    width: 2em;
  }

  #text-filter {
    flex-grow: 2;
  }
}
