@import '../modules/colors';

body {
  display: block;
  padding: 0;
  margin: 0;

  .title {
    font-weight: bold;
    font-size: 2em;
  }

  .note, a {
    font-size: 1em;
  }

  table {
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    width: 80%
  }

  td, th {
    border: 1px solid var(--on-background);
    padding: 0.5em;
    font-size: 1.2em;
  }

  th {
    background-color: var(--primary);
  }
}
