@import '../modules/colors';

body {
  display: block;
  padding: 0;
  margin: 0;

  table {
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3em;
    width: 80%;
  }

  td, th {
    border: 1px solid var(--on-background);
    padding: 0.5em;
    font-size: 1.3em;
  }
}
