@import '../../../infra-sk/themes.scss';

particles-player-sk {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 0;

  .widget {
    margin: 1px 3px;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid var(--on-surface);
    * {
      vertical-align: middle;
    }
  }

  canvas {
    display: block;
  }
}
