[Unit]
Description=metadata_server_ansible
After=syslog.target network.target

[Service]
Type=simple
User=chrome-bot

ExecStart=/usr/local/bin/metadata_server_ansible \
  --port=:{{ all.metadata_server_port }} \
  --prom_port=:{{ all.prometheus.monitoring.ports.metadata_server_ansible }}
Restart=always

[Install]
WantedBy=multi-user.target