# See https://skia.googlesource.com/buildbot.git/+show/master/autoroll/go/config/config.proto
# for the structure of this file.

roller_name:  "chromium-skia-autoroll"
child_display_name:  "Chromium"
parent_display_name:  "Skia"
parent_waterfall:  "https://status.skia.org"
owner_primary:  "borenet"
owner_secondary:  "rmistry"
contacts:  "borenet@google.com"
service_account:  "skia-autoroll@skia-public.iam.gserviceaccount.com"
reviewer:  "https://chrome-ops-rotation-proxy.appspot.com/current/grotation:skia-gardener"
roll_cooldown:  "12h"
time_window:  "M-F 04:00-08:00"
commit_msg:  {
  child_log_url_tmpl:  "https://chromium.googlesource.com/chromium/src.git/+log/{{.RollingFrom}}..{{.RollingTo}}"
  cq_extra_trybots:  "skia/skia.primary:Perf-Mac10.13-Clang-MacBookPro11.5-GPU-RadeonHD8870M-x86_64-Release-All-CommandBuffer"
  cq_extra_trybots:  "skia/skia.primary:Test-Mac10.13-Clang-MacBookPro11.5-GPU-RadeonHD8870M-x86_64-Debug-All-CommandBuffer"
  include_revision_count:  true
  include_tbr_line:  true
  built_in:  DEFAULT
}
gerrit:  {
  url:  "https://skia-review.googlesource.com"
  project:  "skia"
  config:  CHROMIUM
}
kubernetes:  {
  cpu:  "1"
  memory:  "2Gi"
  readiness_failure_threshold:  10
  readiness_initial_delay_seconds:  30
  readiness_period_seconds:  30
}
parent_child_repo_manager:  {
  gitiles_parent:  {
    gitiles:  {
      branch:  "master"
      repo_url:  "https://skia.googlesource.com/skia.git"
    }
    dep:  {
      primary:  {
        id:  "https://chromium.googlesource.com/chromium/src.git"
        path:  "DEPS"
      }
    }
    gerrit:  {
      url:  "https://skia-review.googlesource.com"
      project:  "skia"
      config:  CHROMIUM
    }
  }
  gitiles_child:  {
    gitiles:  {
      branch:  "master"
      repo_url:  "https://chromium.googlesource.com/chromium/src.git"
    }
  }
}
