# See https://skia.googlesource.com/buildbot.git/+show/main/autoroll/go/config/config.proto
# for the structure of this file.

roller_name:  "fuchsia-mac-sdk-flutter-engine"
child_display_name:  "Fuchsia Mac SDK"
parent_display_name:  "Flutter"
parent_bug_link: "https://github.com/flutter/flutter/issues/new/choose"
parent_waterfall:  "https://ci.chromium.org/p/flutter/g/engine/console"
owner_primary:  "rmistry"
owner_secondary:  "borenet"
contacts:  "liyuqian@google.com"
contacts:  "rmistry@google.com"
service_account:  "flutter-engine-autoroll@skia-public.iam.gserviceaccount.com"
reviewer:  "https://chrome-ops-rotation-proxy.appspot.com/current/grotation:flutter-engine"
roll_cooldown:  "12h"
commit_msg:  {
  built_in:  DEFAULT
}
github:  {
  repo_owner:  "flutter"
  repo_name:  "engine"
  checks_wait_for:  "luci-engine"
}
kubernetes:  {
  cpu:  "1"
  memory:  "8Gi"
  readiness_failure_threshold:  10
  readiness_initial_delay_seconds:  600
  readiness_period_seconds:  60
  disk:  "50Gi"
  secrets:  {
    name:  "flutter-engine-github-token"
    mount_path:  "/var/secrets/github-token"
  }
  secrets:  {
    name:  "flutter-engine-ssh-key"
    mount_path:  "/var/secrets/ssh-key"
  }
}
parent_child_repo_manager:  {
  deps_local_github_parent:  {
    deps_local:  {
      git_checkout:  {
        git_checkout:  {
          branch:  "master"
          repo_url:  "git@github.com:flutter/engine.git"
        }
        dep:  {
          primary:  {
            id:  "fuchsia/sdk/core/mac-amd64"
            path:  "DEPS"
          }
        }
      }
      checkout_path:  "src/flutter"
      gclient_spec:  "solutions=[{\"name\":\"src/flutter\",\"url\":\"git@github.com:flutter/engine.git\",\"deps_file\":\"DEPS\",\"managed\":False,\"custom_deps\":{},\"custom_vars\":{\"host_os\":\"mac\"},\"safesync_url\":\"\"}]"
      run_hooks:  true
    }
    github:  {
      repo_owner:  "flutter"
      repo_name:  "engine"
      checks_wait_for:  "luci-engine"
    }
    fork_repo_url:  "git@github.com:skia-flutter-autoroll/engine.git"
  }
  cipd_child:  {
    name:  "fuchsia/sdk/core/mac-amd64"
    tag:  "latest"
  }
}
notifiers:  {
  log_level:  WARNING
  email:  {
    emails:  "$REVIEWERS"
  }
}
