# See https://skia.googlesource.com/buildbot.git/+show/master/autoroll/go/config/config.proto
# for the structure of this file.

roller_name:  "fuchsia-sdk-chromium-autoroll"
child_display_name:  "Fuchsia SDK"
parent_display_name:  "Chromium"
parent_waterfall:  "https://build.chromium.org"
owner_primary:  "borenet"
owner_secondary:  "rmistry"
contacts:  "cr-fuchsia@chromium.org"
service_account:  "chromium-autoroll@skia-public.google.com.iam.gserviceaccount.com"
reviewer:  "chrome-fuchsia-gardener@grotations.appspotmail.com"
roll_cooldown:  "6h"
commit_msg:  {
  cq_extra_trybots:  "luci.chromium.try:fuchsia-arm64-cast"
  cq_extra_trybots:  "luci.chromium.try:fuchsia-deterministic-dbg"
  cq_extra_trybots:  "luci.chromium.try:fuchsia-x64-cast"
  include_tbr_line:  true
  built_in:  DEFAULT
}
gerrit:  {
  url:  "https://chromium-review.googlesource.com"
  project:  "chromium/src"
  config:  CHROMIUM
}
kubernetes:  {
  cpu:  "1"
  memory:  "2Gi"
  readiness_failure_threshold:  10
  readiness_initial_delay_seconds:  30
  readiness_period_seconds:  30
}
parent_child_repo_manager:  {
  gitiles_parent:  {
    gitiles:  {
      branch:  "master"
      repo_url:  "https://chromium.googlesource.com/chromium/src.git"
    }
    dep:  {
      primary:  {
        id:  "FuchsiaSDK"
        path:  "build/fuchsia/linux.sdk.sha1"
      }
      transitive:  {
        child:  {
          id:  "development/LATEST_MAC"
          path:  "build/fuchsia/mac.sdk.sha1"
        }
        parent:  {
          id:  "development/LATEST_MAC"
          path:  "build/fuchsia/mac.sdk.sha1"
        }
      }
    }
    gerrit:  {
      url:  "https://chromium-review.googlesource.com"
      project:  "chromium/src"
      config:  CHROMIUM
    }
  }
  fuchsia_sdk_child:  {
    include_mac_sdk:  true
  }
}
notifiers:  {
  log_level:  ERROR
  email:  {
    emails:  "chrome-fuchsia-gardener@grotations.appspotmail.com"
  }
}
