# See https://skia.googlesource.com/buildbot.git/+show/main/autoroll/go/config/config.proto
# for the structure of this file.

roller_name:  "swiftshader-angle-autoroll"
child_display_name:  "SwiftShader"
parent_display_name:  "ANGLE"
parent_waterfall:  "https://ci.chromium.org/p/angle/g/ci/console"
owner_primary:  "borenet"
owner_secondary:  "rmistry"
contacts:  "geofflang@chromium.org"
contacts:  "jmadill@chromium.org"
contacts:  "syoussefi@chromium.org"
contacts:  "ynovikov@chromium.org"
service_account:  "angle-autoroll@skia-public.iam.gserviceaccount.com"
reviewer:  "https://chrome-ops-rotation-proxy.appspot.com/current/grotation:angle-wrangler"
reviewer_backup:  "ynovikov@chromium.org"
roll_cooldown:  "6h"
time_window:  "M-F 10:00-13:00"
supports_manual_rolls:  true
commit_msg:  {
  bug_project:  "angleproject"
  child_log_url_tmpl:  "https://swiftshader.googlesource.com/SwiftShader.git/+log/{{.RollingFrom}}..{{.RollingTo}}"
  include_log:  true
  include_revision_count:  true
  include_tbr_line:  true
  built_in:  DEFAULT
}
gerrit:  {
  url:  "https://chromium-review.googlesource.com"
  project:  "angle/angle"
  config:  CHROMIUM_BOT_COMMIT
}
kubernetes:  {
  cpu:  "1"
  memory:  "2Gi"
  readiness_failure_threshold:  10
  readiness_initial_delay_seconds:  30
  readiness_period_seconds:  30
}
parent_child_repo_manager:  {
  gitiles_parent:  {
    gitiles:  {
      branch:  "main"
      repo_url:  "https://chromium.googlesource.com/angle/angle.git"
    }
    dep:  {
      primary:  {
        id:  "https://swiftshader.googlesource.com/SwiftShader.git"
        path:  "DEPS"
      }
    }
    gerrit:  {
      url:  "https://chromium-review.googlesource.com"
      project:  "angle/angle"
      config:  CHROMIUM_BOT_COMMIT
    }
  }
  gitiles_child:  {
    gitiles:  {
      branch:  "master"
      repo_url:  "https://swiftshader.googlesource.com/SwiftShader.git"
    }
  }
}
notifiers:  {
  log_level:  ERROR
  email:  {
    emails:  "$REVIEWERS"
    emails:  "angle-bots+autoroll-info@google.com"
  }
}
