@import '../themes/themes.scss';

explore-multi-sk {
  #menu {
    margin: 1em;

    .title-container {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 100%;

      .title-left {
        display: flex;
        align-items: center;
      }

      h1 {
        margin-right: 0.25em;
      }

      a {
        fill: var(--primary);
      }
    }
  }

  #pagination {
    margin: 1em;
  }

  label > span.prefix {
    display: inline-block;
    width: 100px;
  }

  label > input {
    color: var(--on-surface);
    background: var(--surface-1dp);
    width: 64px;
  }
  #test-picker.hidden {
    display: none;
  }
  .progress-container {
    align-items: center;
    display: flex;

    .progress {
      color: var(--outline);
      font-style: italic;
      margin-left: 0.5em;
    }
  }
}
