<!DOCTYPE html>
<html>
<head>
    <title>Skia Fuzzer</title>
    {{template "header.html" .}}
</head>
<body class="fullbleed vertical layout unresolved">
    <style is="custom-style">
    app-sk {
      --app-sk-main: {
        background-color: #FFFFFF;
        font-family: sans-serif;
      };
      --app-sk-toolbar: {
        background-color: #8be1b8;
      };
      login-sk{
      	--login-sk-color: white;
      };
    }
    </style>
	<app-sk class="fit" flex>
		<img header id="logo" src="/res/img/skia_fuzz.png">
		<fuzzer-status-sk rtoolbar></fuzzer-status-sk>
		<fuzzer-menu-sk navigation></fuzzer-menu-sk>

		<h2>Failing Fuzzes</h2>

		<fuzzer-summary-list-sk></fuzzer-summary-list-sk>
	</app-sk>

</body>
</html>
