@import '../../infra-sk/themes';

body,
html {
  background-color: var(--background);
  color: var(--on-background);
  fill: var(--on-background);
  min-width: fit-content;
  min-height: 100vh;
}

body {
  font-size: 12px;
}

.bg-success {
  background-color: var(--success-alpha);
}

.bg-warning {
  background-color: var(--warning-alpha);
  color: var(--black);
}

.bg-failure {
  background-color: var(--failure-alpha);
  color: var(--on-failure);
  fill: var(--on-failure);
}

.bg-mishap {
  background-color: var(--unexpected-alpha);
}

.bg-unknown {
  background-color: var(--unexpected-alpha);
}

.table {
  display: table;
  border-collapse: collapse;

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.tr {
  display: table-row;
  border-bottom: 1px solid var(--surface);
}

.td,
.th {
  display: table-cell;
}

.td {
  vertical-align: middle;
  font-size: 1em;
  padding: 6px;
}

.th {
  font-size: 0.75em;
  padding: 8px;
}

.number {
  text-align: right;
}

.nowrap {
  white-space: nowrap;
}
