<!DOCTYPE html>
<html>
  <head>
    <title>Skia Correctness Server | Triage By Blames </title>

    {%template "header.html" .%}

    <style>
      test-summary-details-sk {
        display: block;
        box-shadow: 3px 3px 6px 1px rgba(133,133,133,1);
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 3em;
        padding: 1em;
      }

      test-summary-details-sk[data-focus] {
        box-shadow: 3px 3px 6px 5px #FF7F00;
      }

      #missing {
        display: none;
        font-weight: bold;
      }

      #missing.visible {
        display: block;
      }
    </style>
  </head>
  <body>
    <scaffold-sk responsiveWidth="700px">
      {%template "titlebar.html" .%}

      <div id=missing>No digests match your query.</div>
      <h3>
        {%len .Summaries%} Digests.
      </h3>

      <detail-list-sk>
        {%range .Summaries%}
          <test-summary-details-sk test="{%.Test%}" digest="{%.Digest%}" mailbox="{%.Test%}:{%.Digest%}" triage images=false></test-summary-details-sk>
        {%end%}
      </detail-list-sk>
      <commits-sk></commits-sk>

    </scaffold-sk>

    <script type="text/javascript" charset="utf-8">
     (function() {
       var details = {%.JS%};

       details.forEach(function(detail) {
         sk.Mailbox.send(detail.test + ":" + detail.digest, detail.detail);
       });

       $$$('#missing').classList.toggle('visible', details.length == 0);

       // Once all the details have been loaded, then start loading images,
       // starting from the top. This function is called every 100ms until
       // all the details elements have been changed to load images.
       //
       //   details - An array of test-summary-details-sk elements.
       //
       function loadDetailImagesStep(details) {
         details.splice(0, 3).forEach(function(ele) {
           ele.images = true;
         });
         if (details.length > 0) {
           window.setTimeout(loadDetailImagesStep, 100, details);
         }
       }

       sk.WebComponentsReady.then(function() {
         loadDetailImagesStep($$('test-summary-details-sk'));
       });
     })();
    </script>
  </body>
</html>
