<!DOCTYPE html>
<html>
  <head>
    <title>Skia Correctness Server</title>

    {%template "header.html" .%}
    <style>
      .link {
        stroke: #ccc;
      }

      .node {
        cursor: move;
        fill: #ccc;
        stroke: #000;
        stroke-width: 1.5px;
      }

      cluster-sk {
        display: block;
        position: relative;
        width: 100%;
        height: 90vh;
      }

      #body {
        min-height: 80vh;
      }

      .hidden {
        display: none;
      }

      paper-tabs {
        background-color: transparent;
        color: #D95F02;
        box-shadow: none;
      }

      paper-tabs::shadow #selectionBar {
        background-color: #D95F02;
      }

      paper-tabs paper-tab::shadow #ink {
        color: #D95F02 #1f78b4;
      }
    </style>
  </head>
  <body>
    <scaffold-sk responsiveWidth="700px">
      {%template "titlebar.html" .%}

      <div id=body horizontal layout>
        <cluster-sk flex></cluster-sk>
        <div flex>
          <paper-tabs id=tabs selected=0>
            <paper-tab>Parameters</paper-tab>
            <paper-tab>Details</paper-tab>
          </paper-tabs>
          <core-pages id=pages selected=0>
            <div>
              <paramset-sk></paramset-sk>
            </div>
            <div vertical layout>
              <h2><a id=difflink target=_blank href="" class=hidden>Diff</a></h2>
              <detail-table-sk top="" left="" test="" bothcolumns=false class=hidden></detail-table-sk>
            </div>
          </core-pages>
        </div>
      </div>
      <commits-sk></commits-sk>
      <error-toast-sk></error-toast-sk>

      <script type="text/javascript" charset="utf-8">
        (function() {
          var selected = [];
          var query = sk.query.toParamSet(document.location.search.slice(1));
          var params = sk.query.toParamSet(query.query[0]);
          var data = {};

          $$$('#body').addEventListener('paramset-key-click', function(e){
            // text maps digests to the strings to display by that digest.
            var text = {};
            Object.keys(data.paramsets).forEach(function(digest) {
              var value = data.paramsets[digest][e.detail.key];
              if (value) {
                text[digest] = value.join(", ");
              }
            });
            $$$('cluster-sk').setTextNodes(text);
          });

          $$$('#body').addEventListener('paramset-key-value-click', function(e){
            // text maps digests to the strings to display by that digest.
            var text = {};
            Object.keys(data.paramsets).forEach(function(digest) {
              var paramset = data.paramsets[digest];
              if (paramset[e.detail.key] && (paramset[e.detail.key].indexOf(e.detail.value) != -1)) {
                text[digest] = e.detail.value;
              }
            });
            $$$('cluster-sk').setTextNodes(text);
          });

          $$$('#body').addEventListener('digest-select', function(e){
            selected.push(e.detail);
            if (selected.length > 2) {
              selected.shift();
            }
            $$$('#difflink').classList.toggle('hidden', selected.length != 2 || (selected[0] == selected[1]) );
            $$$('#difflink').href = "/diff?test="+params.name[0]+"&left="+selected[0]+"&top="+selected[1];
            $$$('detail-table-sk').classList.toggle('hidden', selected.length == 0);
            $$$('detail-table-sk').left = selected[0];
            $$$('detail-table-sk').top = selected[selected.length-1];
            $$$('detail-table-sk').bothcolumns= selected.length > 1;
            $$$('#pages').selected = 1;
            $$$('#tabs').selected = 1;
          });

          $$$('#tabs').addEventListener('core-select', function(e) {
            $$$('#pages').selected = e.target.selected;
          });

          function loadData() {
            sk.get("/_/nxn"+document.location.search).then(JSON.parse).then(function(json) {
              data = json;
              $$$('cluster-sk').data = json;
              $$$('paramset-sk').paramset = json.paramset;
            }).catch(sk.errorMessage);
          }

          document.body.addEventListener('triage', function(e) {
            sk.post('_/triage', JSON.stringify(e.detail)).then(function() {
              $$$('cluster-sk').newTriageStatus(e.detail.digest, e.detail.status);
            }).catch(function(e) {
              sk.errorMessage(e);
            });
          });

          sk.WebComponentsReady.then(function() {
            $$$('detail-table-sk').test= params.name[0];
            loadData();
          });
        })();
      </script>
    </scaffold-sk>
  </body>
</html>
