<!DOCTYPE html>
<html>
  <head>
    <title>Skia Correctness Server</title>

    {{template "header.html" .}}

    <style type="text/css" media="screen">
    </style>
  </head>
  <body>
    <scaffold-sk responsiveWidth="700px">
      {{template "titlebar.html" .}}

      <div>
        <diff-detail-sk flex></diff-detail-sk>
      </div>

      <paper-toast></paper-toast>
    </scaffold-sk>

    <script type="text/javascript" charset="utf-8">
     (function() {
       sk.WebComponentsReady.then(function() {
         var q = sk.query.toObject(window.location.search.slice(1));
         sk.get('/_/diff'+window.location.search).then(JSON.parse).then(function(json) {
           $$$('diff-detail-sk').value = json;
         });
       });

       $$$('diff-detail-sk').addEventListener('triage', function(e) {
         sk.post('/_/triage', JSON.stringify(e.detail)).then(function(){
         }).catch(function(e) {
           $$$('paper-toast').text = e;
           $$$('paper-toast').show();
         });
       });
     })();
    </script>
  </body>
</html>
