<!DOCTYPE html>
<html>
  <head>
    <title>Skia Correctness Server</title>

    {{template "header.html" .}}

  </head>
  <body>
    <scaffold-sk responsiveWidth="700px">
      {{template "titlebar.html" .}}

      <h1>Image Diff Color Scheme</h1>
      <table border="0" cellspacing="5" cellpadding="5">
        <tr><th>Color Distance</th><th>RGBA</th><th>Alpha</th></tr>
        <tr><td>1 </td><td><div style="background :#fdd0a2">&nbsp;</div>  </td><td><div style="background :#c6dbef">&nbsp;</div></td></tr>
        <tr><td>2-5 </td><td><div style="background :#fdae6b">&nbsp;</div>  </td><td><div style="background :#9ecae1">&nbsp;</div></td></tr>
        <tr><td>6-15  </td><td><div style="background :#fd8d3c">&nbsp;</div>  </td><td><div style="background :#6baed6">&nbsp;</div></td></tr>
        <tr><td>16-46 </td><td><div style="background :#f16913">&nbsp;</div>  </td><td><div style="background :#4292c6">&nbsp;</div></td></tr>
        <tr><td>47-140  </td><td><div style="background :#d94801">&nbsp;</div>  </td><td><div style="background :#2171b5">&nbsp;</div></td></tr>
        <tr><td>141-420 </td><td><div style="background :#a63603">&nbsp;</div>  </td><td><div style="background :#08519c">&nbsp;</div></td></tr>
        <tr><td>421-1024 </td><td><div style="background :#7f2704">&nbsp;</div> </td><td></td></tr>
      </table>

    </scaffold-sk>

  </body>
</html>
