<!DOCTYPE html>
<html>
  <head>
    <title>Skia Correctness Server</title>

    {{template "header.html" .}}

    <style type="text/css" media="screen">
      test-summary-sk {
        display: block;
        margin-top: 0.5em;
      }
      html /deep/ .header {
        width: 20em;
      }
      html /deep/ .header.short {
        width: 5em;
      }
      corpus-chooser-sk {
        display: block;
      }
    </style>
  </head>
  <body>
    <scaffold-sk responsiveWidth="700px">
      {{template "titlebar.html" .}}

      <corpus-chooser-sk></corpus-chooser-sk>
      <sort-sk target=summaries>
        <paper-button class=header data-key="name" data-alpha=true>Name</paper-button>
        <paper-button class="header short" data-key="diameter">Diam</paper-button>
        <paper-button class="header short" data-key="pos">Pos</paper-button>
        <paper-button class="header short" data-key="neg">Neg</paper-button>
        <paper-button class="header short" data-key="untriaged">Un-Triaged</paper-button>
        <paper-button class="header short" data-key="num">Total Digests</paper-button>
      </sort-sk>
      <div id="summaries"></div>
      <paper-toast></paper-toast>

    </scaffold-sk>

    <script type="text/javascript" charset="utf-8">
     (function() {
       var summaries  = [];

       function filterSummaries(corpus) {
         corpus = corpus || '*';
         var container = $$$('#summaries');
         sk.clearChildren(container);
         summaries.forEach(function(c) {
           if (corpus == '*' || c.corpus == corpus) {
             var s = document.createElement('test-summary-sk');
             container.appendChild(s);
             s.summary = c;
           }
         });
       }

       sk.WebComponentsReady.then(function(){
         sk.get('/2/_/list').then(JSON.parse).then(function(json) {
           summaries = json;
           filterSummaries();
         }).catch(function(e) {
           $$$('paper-toast').text = e;
           $$$('paper-toast').show();
         });

         $$$('corpus-chooser-sk').addEventListener('change', function(e) {
           console.log(e.detail);
           filterSummaries(e.detail);
         });

         sk.get('/2/_/paramset').then(JSON.parse).then(function(json) {
           $$$('corpus-chooser-sk').choices = json["source_type"].sort();
         }).catch(function(e) {
           $$$('paper-toast').text = e;
           $$$('paper-toast').show();
         });
       });
     })();
    </script>
  </body>
</html>
