<!DOCTYPE html>
<html>
  <head>
    <title>Skia Correctness Server</title>

    {{template "header.html" .}}

    <style type="text/css" media="screen">
    </style>
  </head>
  <body>
    <scaffold-sk responsiveWidth="700px">
      {{template "titlebar.html" .}}

      <div>
        <detail-table-sk top="" left="" test=""></detail-table-sk>
      </div>

      <paper-toast></paper-toast>
    </scaffold-sk>

    <script type="text/javascript" charset="utf-8">
     (function() {
       sk.WebComponentsReady.then(function() {
         // Parse the query and populate test and digest.
         var q = sk.query.toObject(window.location.search.slice(1));
         $$$('detail-table-sk').test = q.test || "";
         $$$('detail-table-sk').top = q.digest || "";
         $$$('detail-table-sk').left = q.digest || "";
       });

       $$$('detail-table-sk').addEventListener('triage', function(e) {
         sk.post('/2/_/triage', JSON.stringify(e.detail)).then(function(){
         }).catch(function(e) {
           $$$('paper-toast').text = e;
           $$$('paper-toast').show();
         });
       });
     })();
    </script>
  </body>
</html>
