      <core-header-panel navigation flex mode=seamed >
        <core-toolbar>Skia Gold</core-toolbar>
        <core-menu theme="core-light-theme">
          <core-item icon="home" label="Home"><a href="/"></a></core-item>
          <core-item icon="label" label="Ignores"><a href="ignores"></a></core-item>
          <core-item icon="list" label="By Test"><a href="/list"></a></core-item>
          <core-item icon="view-day" label="By Blame"><a href="/"></a></core-item>
          <core-item icon="hardware:computer" label="Trybot"><a href="/trybot"></a></core-item>
          <core-item icon="notification:sync-problem" label="Failures"><a href="/failures"></a></core-item>
          <core-item icon="search" label="Search"><a href="/search"></a></core-item>
          <core-item icon="find-in-page" label="Triage Log"><a href="triagelog"></a></core-item>
          <core-item icon="help" label="Help"><a href="/help"></a></core-item>
          <core-item icon="folder" label="Code"><a href="https://github.com/google/skia-buildbot/tree/master/golden"></a></core-item>
        </core-menu>
      </core-header-panel>
      <div id=title tool flex horizontal layout>
        <status-sk></status-sk>
        <login-sk></login-sk>
      </div>
