      <core-header-panel navigation flex mode=seamed >
        <core-toolbar>Skia Gold</core-toolbar>
        <core-menu theme="core-light-theme">
          <core-item icon="home" label="Home"><a href="/"></a></core-item>
          <core-item icon="label" label="Ignores"><a href="/2/ignores"></a></core-item>

          <core-item icon="list" label="List"><a href="/2/"></a></core-item>
          <core-item icon="find-in-page" label="Triage Log"><a href="/2/triagelog"></a></core-item>
          <core-item icon="help" label="Help"><a href="/2/help"></a></core-item>
          <core-item icon="folder" label="Code"><a href="https://github.com/google/skia-buildbot/tree/master/golden"></a></core-item>
        </core-menu>
      </core-header-panel>
      <div id=title flex horizontal layout>
        <status-sk></status-sk>
        <login-sk></login-sk>
      </div>
