[Unit]
Description=Swarming Task Logger
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/local/bin/swarming_logger \
    --host=swarming-logger.skia.org \
    --logtostderr \
    --workdir=/mnt/pd0/swarming_logger_workdir
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
