commits-table-d3-sk .commit {
  display: flex;
  font-family: monospace;
  font-size: .75em;
  height: 16px;
  padding: 2px;
  position: relative;
  cursor: pointer;
}

commits-table-d3-sk .back {
  /* The goal is to have this behind every row and stretch the entire screen width*/
  background-color: #efefef;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 4000px;
  z-index:-1;
}

commits-table-d3-sk .author {
  margin: auto;
}
commits-table-d3-sk .subject {
  margin: auto;
}

commits-table-d3-sk .flex {
  flex: 1 1 auto;
}

commits-table-d3-sk iron-icon.tiny {
  width: 12px;
  height: 12px;
}

commits-table-d3-sk iron-icon.revert {
  color: #D95F02;
}

commits-table-d3-sk div.revert {
  background-color: #D95F02;
}

commits-table-d3-sk iron-icon.reland {
  color: #66a61e;
}

commits-table-d3-sk div.reland {
  background-color: #66a61e;
}

commits-table-d3-sk .category {
  border-top: 1px solid black;
  display:flex;
  flex-direction: column;
  flex: 1 1 auto;
}

commits-table-d3-sk .category-title {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 12px;
  font-weight: bold;
  height: 17px;
  padding:1px 3px;
  text-align:center;
}

commits-table-d3-sk .subcategories {
  display:flex;
  flex-direction:row;
  flex: 1 1 auto;
}

commits-table-d3-sk .subcategory {
  display:flex;
  flex-direction: column;
  flex: 1 1 auto;
}

commits-table-d3-sk .subcategory-title {
  padding:1px 3px;
  font-size: 10px;
  font-weight: bold;
  text-align:center;
  border-right: 1px solid black;
}

commits-table-d3-sk .builders {
  display:flex;
  flex-direction:row;
  flex: 1 1 auto;
  align-items: flex-start;
}

commits-table-d3-sk .builder {
  flex: 1 1 auto;
  display:flex;
  flex-direction: column;
  margin-right: 1px;
  min-width:20px;
}

commits-table-d3-sk .builder-title {
  background-color:white;
  border-radius:5px;
  border: 1px solid black;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  cursor: pointer;
  display: flex;
  height: 20px;
  justify-content: center;
}

commits-table-d3-sk .builder-spacer {
  height: 12px;  /*Tweak this to align the commits and the builds */
}

commits-table-d3-sk .builds {
  display:flex;
  flex-direction:column;
  flex: 1 1 auto;
}

commits-table-d3-sk .build {
  height: 20px;
  /* Basically disable flexing so we can control the sizes.*/
  flex: 0 0 auto;
}

commits-table-d3-sk .build > div {
  border-style: solid;
  border-color: grey;
  border-width: 0;
  text-align: center;
}

commits-table-d3-sk div.build_single {
  border-width: 1px;
  border-radius: 3px;
  margin: 1px 0px 1px 1px;
  height: 16px;
  cursor: pointer;
}

commits-table-d3-sk div.build_middle {
  border-width: 0px 1px;
  border-radius: 0px;
  margin: 0px 0px 0px 1px;
  height: 20px;
  cursor: pointer;
}

commits-table-d3-sk div.build_top {
  border-width: 1px 1px 0px 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: 1px 0px 0px 1px;
  height: 18px;
  cursor: pointer;
}

commits-table-d3-sk div.build_bottom {
  border-width: 0px 1px 1px 1px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin: 0px 0px 1px 1px;
  height: 18px;
  cursor: pointer;
}

commits-table-d3-sk div.dashed_top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-style: dashed;
  border-top-width: 1px;
  border-top-color: black;
}

commits-table-d3-sk div.dashed_bottom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

commits-table-d3-sk .dashed_bottom.build_top {
  height: 16px;
  margin-bottom: 1px;
}

commits-table-d3-sk .dashed_top.build_bottom {
  height: 16px;
  margin-top: 1px;
}

commits-table-d3-sk .dashed_bottom.build_middle {
  height: 19px;
}

commits-table-d3-sk .dashed_top.build_middle {
  height: 19px;
}