{%- block doctype -%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% endblock %}
<!-- Copied and modified from:
http://src.chromium.org/viewvc/chrome/trunk/tools/build/third_party/buildbot_8_4p1/buildbot/status/web/templates/layout.html?revision=89637&content-type=text/plain
-->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% if metatags %}
      {{ metatags }}
    {% endif %}
    {% if refresh %}
      <meta http-equiv="refresh" content="{{ refresh|e }}"/>
    {% endif %}
    <title>{{ pageTitle|e }}</title>
    <link rel="stylesheet" href="{{ stylesheet }}" type="text/css" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ path_to_root }}rss">
    <!-- Using Thomas Frank's JSON stringifier -->
    <script type="text/javascript" src="/jsonStringify.js"></script>
    <script type="text/javascript">
    "use strict";

    var reload = 40;
    var iframe_reload = 60000;

    // Magic numbers to make the console page show enough revisions.
    var default_revs = 20;
    var rev_limit = 50;

    var skia_repo = "{{ skia_repo }}";
    var try_repo = "{{ try_repo }}";
    var internalport = "{{ internal_port }}";
    var externalport = "{{ external_port }}";

    var all_full_category_names = [
      {% for c in all_full_category_names %}
      "{{ c }}",
      {% endfor %}
    ];
    var all_categories = [
      {% for r in all_categories %}
      "{{ r }}",
      {% endfor %}
    ];
    var all_subcategories = [
      {% for subcategory in all_subcategories %}
      "{{ subcategory }}",
      {% endfor %}
    ];
    var builders_by_cat_subcat = {
      {% for category in builders_by_cat_subcat %}
        "{{ category }}": {
          {% for subcategory in builders_by_cat_subcat[category] %}
            "{{ subcategory }}": [
              {% for cat in builders_by_cat_subcat[category][subcategory] %}
                "{{ cat }}",
              {% endfor %}
            ],
          {% endfor %}
        },
      {% endfor %}
    };
    var default_categories = all_categories;
    var default_subcategories = all_subcategories;
    var default_categories_fullnames = [];
    for (var i = 0; i < default_categories.length; ++i) {
      var category = default_categories[i];
      for (var j = 0; j < default_subcategories.length; ++j) {
        var subcategory = default_subcategories[j];
        var cats = builders_by_cat_subcat[category][subcategory];
        if (cats && cats.length > 0) {
          for (var k = 0; k < cats.length; ++k) {
            default_categories_fullnames.push(cats[k]);
          }
        }
      }
    }

    var displaying_full_category_names = [];
    var displaying_categories = [];
    var displaying_subcategories = [];

    // Set an option on window.name
    function setOption(name, value) {
      var options = JSONstring.toObject(top.name);
      options[name] = value;
      top.name = JSONstring.make(options);
    }

    // Get an option from window.name
    function getOption(name) {
      var options = JSONstring.toObject(top.name);
      return options[name];
    }

    // Reload the page with new categories. If make_historic is true, a new
    // history entry is added for this reload.
    function reloadWithOptions(make_historic, changed_chkbox) {
      if (changed_chkbox) {
        var split_name = changed_chkbox.split("_", 2);
        if (document.getElementById(changed_chkbox).checked) {
          // Add to categories
          if (split_name[0] == "category") {
            var category = split_name[1];
            displaying_categories.push(category);
            // If no subcategories under the new category are being displayed,
            // display them all.
            var add_all_subcats = true;
            for (var subcategory in builders_by_cat_subcat[category]) {
              if (displaying_subcategories.indexOf(subcategory) != -1) {
                add_all_subcats = false;
                break;
              }
            }
            if (add_all_subcats) {
              for (var subcategory in builders_by_cat_subcat[category]) {
                displaying_subcategories.push(subcategory);
              }
            }
          } else {
            displaying_subcategories.push(split_name[1]);
          }
        } else {
          // Remove from categories
          if (split_name[0] == "category") {
            for (var i = 0; i < displaying_categories.length; ++i) {
              if (displaying_categories[i] == split_name[1]) {
                displaying_categories.splice(i, 1);
                break;
              }
            }
          } else {
            for (var i = 0; i < displaying_subcategories.length; ++i) {
              if (displaying_subcategories[i] == split_name[1]) {
                displaying_subcategories.splice(i, 1);
                break;
              }
            }
          }
        }
      }

      var categories = [];
      for (var i = 0; i < displaying_categories.length; ++i) {
        var category = displaying_categories[i];
        for (var j = 0; j < displaying_subcategories.length; ++j) {
          var subcategory = displaying_subcategories[j];
          var cats_to_add = builders_by_cat_subcat[category][subcategory];
          if (cats_to_add) {
            for (var k = 0; k < cats_to_add.length; ++k) {
              categories.push(cats_to_add[k]);
            }
          }
        }
      }

      setOption("categories", categories);

      // Reload the page with the desired list of categories.
      var current_url = window.location.href;
      var bare_url = current_url.substring(0, current_url.indexOf("?"));
      var new_url = bare_url + "?reload=" + reload + "&repository=" + skia_repo
                        + "&revs=" + default_revs + "&limit=" + rev_limit
                        + getCategoryString(categories);
      if (make_historic) {
        // This forces a new history entry.
        window.location = new_url;
      } else {
        // This sneakily replaces the current history entry.
        window.location.replace(new_url);
      }
    }

    // Switch to the internal or external view.
    function setInternalView(is_internal) {
      var current_host = window.location.host;
      var new_host = current_host.split(":")[0] + ":";
      if (is_internal) {
        new_host += internalport;
      } else {
        new_host += externalport;
      }
      window.location.host = new_host;
    }

    // Parse the variables in the URL and return a key/value dictionary.
    function parseArgs()
    {
      var args = {};
      var dict = window.location.search.slice(1).split('&');
      for(var i = 0; i < dict.length; i++) {
        var split = dict[i].split('=');
        if (args[split[0]]) {
          if (Object.prototype.toString.call(args[split[0]]) == "[object Array]") {
            args[split[0]].push(split[1]);
          } else {
            args[split[0]] = [args[split[0]], split[1]];
          }
        } else {
          args[split[0]] = split[1];
        }
      }
      return args;
    }

    // Return a string of the form: "&category=x&category=y..." with all of
    // those contained in the given array of categories.
    function getCategoryString(categories) {
      var category_string = "";
      for (var i = 0; i < categories.length; i++) {
        category_string = category_string.concat("&category=", categories[i]);
      }
      return category_string;
    }

    // Scroll the header div with the page.
    function scrollHeader() {
      var header = document.getElementById("skia_header");
      if (header) {
        header.style.top = (5 - parseInt(document.body.scrollTop)) + "px";
      }
    }
    document.onscroll = scrollHeader;

    // Check the desired boxes.
    function setCheckBoxes() {
      for (var i = 0; i < displaying_categories.length; ++i) {
        document.getElementById("category_" + displaying_categories[i]).checked = true;
      }
      for (var i = 0; i < displaying_subcategories.length; ++i) {
        document.getElementById("subcategory_" + displaying_subcategories[i]).checked = true;
      }
    }

    // Function to call on page load. Reloads the page with appropriate options
    // if they are not already set.
    function init() {
      // Use the URL variables and window-attached options to determine which
      // categories to display and reload the page if necessary.
      var args = parseArgs();
      displaying_full_category_names = args["category"];
      if (displaying_full_category_names &&
          !(Object.prototype.toString.call(displaying_full_category_names) == "[object Array]")) {
        displaying_full_category_names = [displaying_full_category_names];
      }

      // Some categories have spaces in the name. Filter them out.
      var desired_categories = getOption("categories");
      // Do not reload pages with "show=" or "builder=".
      if (!args["show"] && !args["builder"]) {
        var needs_to_reload = false;
        if (!displaying_full_category_names) {
          if (desired_categories && desired_categories.length > 0) {
            displaying_full_category_names = desired_categories;
            needs_to_reload = true;
          } else {
            displaying_full_category_names = default_categories_fullnames;
            needs_to_reload = true;
          }
        }

        for (var i = 0; i < displaying_full_category_names.length; ++i) {
          var split_category = displaying_full_category_names[i].split("|");
          var category = split_category[0];
          if (displaying_categories.indexOf(category) == -1) {
            displaying_categories.push(category);
          }
          var subcategory = split_category[1];
          if (displaying_subcategories.indexOf(subcategory) == -1) {
            displaying_subcategories.push(subcategory);
          }
        }

        // Set options for the next page load.
        setOption("categories", displaying_full_category_names);

        if (needs_to_reload) {
          reloadWithOptions(false);
          return;
        }
      }
      // Check the correct checkboxes.
      setCheckBoxes();
      var host = window.location.host;
      if (host.indexOf(internalport, host.length - internalport.length) !== -1) {
        document.getElementById("radio_internal").checked = true;
      } else if (host.indexOf(externalport, host.length - externalport.length) !== -1) {
        document.getElementById("radio_external").checked = true;
      }
    }

    // Display a builder tooltip.
    function showBuilderTooltip(message, event) {
      var tooltipbox = document.getElementById('builderTooltip');
      var cursorPosTop = (window.event ? window.event.clientY : event.pageY)
      var cursorPosLeft = (window.event ? window.event.clientX : event.pageX)
    
      cursorPosTop  = cursorPosTop  + document.body.scrollTop + 5;    
      cursorPosLeft = cursorPosLeft  + document.body.scrollLeft;
    
      tooltipbox.innerHTML = message;
      tooltipbox.style.top = parseInt(cursorPosTop) + 'px';
      tooltipbox.style.left = parseInt(cursorPosLeft) + 'px';
      tooltipbox.style.display = "block";
    }

    // Hide the builder tooltip.
    function hideBuilderTooltip(event) {
      // Only hide the tooltip if the mouse is outside the tooltip area.
      var cursorPosTop = (window.event ? window.event.clientY : event.pageY)
      var cursorPosLeft = (window.event ? window.event.clientX : event.pageX)
      cursorPosTop  = cursorPosTop  + document.body.scrollTop;    
      cursorPosLeft = cursorPosLeft  + document.body.scrollLeft;

      var tooltipbox = document.getElementById('builderTooltip');
      var top = parseInt(tooltipbox.style.top.replace("px", ""));
      var left = parseInt(tooltipbox.style.left.replace("px", ""));
      var bottom = top + parseInt(tooltipbox.offsetHeight);
      var right = left + parseInt(tooltipbox.offsetWidth);

      if (cursorPosTop < top - 5 || cursorPosTop > bottom ||
          cursorPosLeft < left || cursorPosLeft > right) {
        tooltipbox.style.display = "none";
      }
    }

    </script>
    {% endblock %}
  </head>
  <body class="interface">
    {% block header -%}
    <div id="skia_header" style="top:5px;">
      <a href="{{ tree_status_baseurl }}" target="_blank" style="text-decoration:inherit;">
        <div id="skia-tree-status-div" width="100%" height="50" class="status-message {{ tree_status['general_state'] }}">
          {{ tree_status['message'] }}
          <div class="sheriff-message">Sheriff: {{ tree_status['username'] }}</div>
        </div>
      </a>
      <div id="container" style="float: left; width: 100%;">
        <div style="float:left; width:25%;">
        <form name="unused">
          <input type="radio" name="internal_external" value="external" id="radio_external" onClick="setInternalView(false);">External View<br>
          <input type="radio" name="internal_external" value="internal" id="radio_internal" onClick="setInternalView(true);">Internal View
        </form>
        </div>
  
        <div id="links" style="float:right; width:25%;">
          <div style="float:right; width: 195px;"><ul style="margin: 0px 0px 0px 25px; padding:0;"><li><a href="https://sites.google.com/site/skiadocs/developer-documentation/the-skia-buildbots/1-overview" target="_blank">Full Skia documentation</a><br/></li></ul></div>
          <div style="float:right; width: 195px;"><ul style="margin: 0px 0px 0px 25px; padding:0;"><li><a href="https://code.google.com/p/skia/issues/list?can=2&q=label%3ABreakingTheBuildbots" target="_blank">Current build-breaking bugs</a><br/></li></ul></div>
          <div style="float:right; width: 195px;"><ul style="margin: 0px 0px 0px 25px; padding:0;"><li><a href="http://skia.googlecode.com/svn/buildbot/bench_graphs.html" target="_blank">Bench Graphs</a><br/></li></ul></div>
          <div style="float:right; width: 195px;"><ul style="margin: 0px 0px 0px 25px; padding:0;"><li><a href="http://go/skpdash" target="_blank">Bench Dashboard Internal</a><br/></li></ul></div>
          <div style="float:right; width: 195px;"><ul style="margin: 0px 0px 0px 25px; padding:0;"><li><a href="https://skiadash.appspot.com/report" target="_blank">Bench Dashboard External</a><br/></li></ul></div>
          <div style="float:right; width: 195px;"><ul style="margin: 0px 0px 0px 25px; padding:0;"><li><a href="http://skia.googlecode.com/svn/buildbot/bug_graphs.html" target="_blank">Open Bugs Graph</a><br/></li></ul></div>
          <div style="float:right; width: 195px;"><ul style="margin: 0px 0px 0px 25px; padding:0;"><li><a href="https://storage.cloud.google.com/chromium-skia-gm/static_analyzers/clang_static_analyzer/index.html" target="_blank">Clang Static Analyzer</a><br/></li></ul></div>
          <div style="float:right; width: 195px;"><ul style="margin: 0px 0px 0px 25px; padding:0;"><li><a href="http://skia.googlecode.com/svn/buildbot/buildbots_self_analysis.html" target="_blank">Buildbot Self-Dashboard</a><br/></li></ul></div>
          <div style="float:right; width: 195px;"><ul style="margin: 0px 0px 0px 25px; padding:0;"><li><a href="http://skia.googlecode.com/svn/buildbot/buildslave_idle.html" target="_blank">Buildslave Idle Time Analysis</a><br/></li></ul></div>
          <div style="float:right; width: 195px;"><ul style="margin: 0px 0px 0px 25px; padding:0;"><li><a href="https://skia-tree-status.appspot.com/sheriff" target="_blank">Sheriff Schedule</a><br/></li></ul></div>
          <div style="float:right; width: 195px;"><ul style="margin: 0px 0px 0px 25px; padding:0;"><li><a href="https://skia-tree-status.appspot.com/skia-telemetry/lua_script" target="_blank">Run Lua Scripts on SKP Repo</a><br/></li></ul></div>
        </div>
  
        <div style="text-align:center; width: 50%; margin-left: 25%; margin-right: 25%">
          <div id="heading" style="font-size:3.5em; text-align:center;">Skia Buildbots</div>
          <div style="text-align:center;">
            <form name="unused2">
              <p>
              <b>Category:</b>
              {% for r in all_categories %}
              <nobr><input type="checkbox" id="category_{{ r }}" name="category_chkbox" value="{{ r }}" onClick="javascript:reloadWithOptions(true, 'category_{{ r }}');">{{ r|trim }}</nobr>
              {% endfor %}
              </p>
              <p>
              <b>Subcategory:</b>
              {% for subcategory in all_subcategories %}
              <nobr><input type="checkbox" id="subcategory_{{ subcategory }}" name="subcategory_chkbox" value="{{ subcategory }}" onClick="javascript:reloadWithOptions(true, 'subcategory_{{ subcategory }}');">{{ subcategory|trim }}</nobr>
              {% endfor %}
              </p>
            </form>
          </div>
        </div>
      </div>

      <div class="header">
          <a href="{{ path_to_root or '.' }}">Home</a> -
          <a href="{{ path_to_root }}waterfall">Waterfall</a>
          <a href="{{ path_to_root }}console">Console</a>
          <a href="{{ path_to_root }}builders">Builders</a>
          <a href="{{ path_to_root }}buildslaves">Buildslaves</a> -
          <a href="{{ path_to_root }}failures">Currently Failing</a> -
          <a href="{{ path_to_root }}trybots">Trybot Waterfall</a> -
          <a href="{{ path_to_root }}json/help">JSON API</a> -
          <a href="{{ path_to_root }}about">About</a>
      </div>
    </div>
    <script language="JavaScript">
      init();
    </script>
    {% endblock %}

    {%- block barecontent -%}

    <div class="content">
      {%- block content -%}
      {%- endblock -%}
    </div>
    {%- endblock -%}

    {%- block footer -%}
    <div class="footer" style="clear:both">
      <hr/>
      <a href="http://buildbot.net/">BuildBot</a> ({{version}})
      {% if title -%}
        working for the&nbsp;
        {%- if title_url -%}
          <a href="{{ title_url }}">{{ title }}</a>
        {%- else -%}
          {{ title }}
        {%- endif -%}
        &nbsp;project.
      {%- endif -%}
      <br/>
      Page built: <b>{{ time }}</b> ({{ tz }})
    </div>
    {% endblock -%}
    <div id="builderTooltip" class="BuilderTooltip" style="display: none;" onmouseout="hideBuilderTooltip(event)"></div>
  </body>
</html>
