@import '../../../../elements-sk/modules/colors';

div.container {
  div.wrapper-exporter {
    width: 100%;

    .export-form {
      width: 100%;
      &__filename {
        padding: 8px;
        border-radius: 4px;
        width: 100%;
      }

      &__label {
        font-size: 14px;
        margin: 16px 0;
      }

      article {
        .detail {
          display: flex;
          align-items: center;
          gap: 16px;
          margin: 8px 0;

          &__property {
            flex: 1 1 auto;
            font-size: 14px;
          }

          &__value {
            flex: 1 1 auto;
            font-size: 14px;
            text-align: right;
          }

          &__info {
            flex: 0 0 auto;
            font-size: 14px;
            width: 20px;
            position: relative;

            &__tooltip {
              width: max-content;
              max-width: 300px;
              background-color: var(--surface);
              border-radius: 6px;
              color: var(--disabled);
              margin: 0 0 0 8px;
              text-align: center;
              padding: 8px;
              visibility: hidden;
              position: absolute;
              left: 100%;
              top: -4px;
              z-index: 1;
            }

            &:hover .detail__info__tooltip {
              visibility: visible;
            }
          }
        }
      }
    }

    .separator {
      border-bottom: 1px solid var(--surface-2dp);
      margin: 16px 0;
    }

    .navigation {
      display: flex;
      justify-content: end;
      margin: 16px 0 0 0;

      &__button {
        margin-left: 8px;
      }
    }

    div.running {
      &__message {
        font-size: 18px;
      }
      &__details {
        font-size: 14px;
      }
    }
  }
}
