@import '~elements-sk/themes/themes';

html {
  --success: rgb(102, 166, 30);
  --success-alpha: rgba(102, 166, 30, 0.3);
  --warning: rgb(255, 167, 38);
  --warning-alpha: rgb(255, 171, 64, 0.8);
  --failure: rgb(217, 95, 2);
  --failure-alpha: rgba(217, 95, 2, 0.8);
  --on-success: var(--black);
  --on-failure: var(--black);
  --on-warning: var(--black);
  --unexpected: rgb(117, 112, 179);
  --unexpected-alpha: rgba(117, 112, 179, 1);
  --disabled: var(--grey-500);
  --disabled-alpha: rgba(117, 117, 117, 1);

  .darkmode {
    --on-success: var(--on-secondary);
    --on-failure: var(--on-secondary);
    --on-warning: var(--on-secondary);

    --warning-alpha: rgb(255, 171, 64, 0.5);
    --failure-alpha: rgba(217, 95, 2, 0.5);
  }
}
