[Unit]
Description=graphite-exporter
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/graphite_exporter \
    -web.listen-address=:20002 \
    -graphite.listen-address=:2003 \
    -graphite.mapping-config=/etc/graphite-exporter/graphite-exporter.conf \
    -log.level=info

Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
