[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/prometheus \
    -config.file=/etc/prometheus/prometheus.yml \
    -storage.local.path=/var/prometheus \
    -log.level=info \
    -web.listen-address=:8000

Restart=always
User=chrome-bot
Group=chrome-bot
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
