[Unit]
Description=Prometheus Auth Proxy
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/local/bin/prom_proxy_with_auth \
    --logtostderr \
    --target_port=:8000 \
    --prom_port=:20002 \
    --port=:8002

Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
