[Unit]
Description=pushgateway
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/pushgateway \
    -web.listen-address=:20006 \
    -log.level=info

Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
