[Unit]
Description=Weekly job to email the different Skia sheriffs

[Timer]
OnCalendar=Mon *-*-* 13:45:00
Persistent=false

[Install]
WantedBy=multi-user.target
