[Unit]
Description=Weekly job to email the different Skia sheriffs
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/sheriff_emails --logtostderr
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
