[Unit]
Description=Webhook Email Proxy Service
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/local/bin/webhook_proxy \
    --logtostderr \
    --port=localhost:8004 \
    --public_port=:8005 \
    --prom_port=:20004

Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
