@import '../themes/themes.scss';
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/base16-dark.css';
@import '~codemirror/theme/base16-light.css';

.body-sk shaders-app-sk {
  display: block;
  background: var(--surface);
  margin: 0;
  min-height: 100vh;

  header {
    background: var(--surface-1dp);
    color: var(--primary);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;

    h2 {
      margin: 8px 0 8px 0;

      a {
        background: var(--surface-1dp);
      }
    }

    #githash {
      background: var(--surface-1dp);
    }
  }

  main {
    padding: 16px;
    display: flex;

    canvas {
      margin: 0 16px 16px 0;
    }

    #codeEditor > div {
      padding: 8px;
    }

    #shaderControls {
      margin-left: 8px;

      .action {
        margin: 8px;
      }
    }

    #fps {
      margin-left: 8px;
    }

    #uniformControls {
      margin-left: 0;
    }

    #uniformControls > * {
      padding: 0;
      margin: 8px;
    }

    #uniformControls uniform-mouse-sk {
      padding: 0;
      margin: 0;
    }
  }

  details {
    margin-left: 16px;

    summary {
      display: inline-block;
      padding: 4px;
      background: var(--surface);
      color: var(--on-surface);
      border: solid 1px var(--on-surface);
      cursor: pointer;
      list-style: none;
      margin: 8px 0;
      box-shadow: inset 0 0 2px 0px var(--on-surface);
    }

    summary:focus {
      outline: dashed 1px var(--on-surface);
      outline-offset: 3px;
    }

    summary::-webkit-details-marker {
      display: none;
    }
  }

  details[open] {
    background: var(--surface);
  }

  details#shaderinputs {
    display: initial;
    margin: initial;
    padding: initial;
    list-style: initial;
    box-shadow: initial;
    margin: 0 0 8px 0;
    font-size: 11px;

    textarea {
      display: block;
      background: var(--surface);
      color: var(--secondary);
      font-family: monospace;
      resize: none;
      font-size: 11px;
    }

    summary {
      display: initial;
      margin: initial;
      padding: initial;
      list-style: initial;
      box-shadow: initial;
      outline: initial;
      outline-offset: initial;
      border: none;
      background: var(--surface);
      color: var(--on-surface);
    }

    summary::-webkit-details-marker {
      display: initial;
    }
  }

  .CodeMirror {
    height: auto;

    * {
      font-family: monospace;
      font-size: 13px;
    }
  }
}
