@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
  color-scheme: light;
}

html.dark-theme {
  color-scheme: dark;
}

body {
  height: 100%;
  margin: 0;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

/* A reusable spacer class to push elements to opposite ends of a container. */
.spacer {
  flex: 1 1 auto;
}
