@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
  color-scheme: light;
}

html.dark-theme {
  color-scheme: dark;
}

body {
  height: 100%;
  margin: 0;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-large);
}

/* A reusable spacer class to push elements to opposite ends of a container. */
.spacer {
  flex: 1 1 auto;
}

/* Angular CDK Drag and Drop smooth animations. */
.cdk-drag-preview {
  /* Ensure the dragged header preview has a solid background and padding */
  background-color: var(--mat-sys-surface-container-high);
  color: var(--mat-sys-on-surface);
  display: flex;
  align-items: center;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
