    <meta charset="utf-8">
    <meta name="theme-color" content="#526E9C">
    <link rel="shortcut icon" href="/res/img/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/res/js/core.js" type="text/javascript" charset="utf-8"></script>
    <link href="/res/vul/elements.html" rel="import" />
    <!--We must use is=custom-style here so styles don't get leaked into local DOM.
    Note that using custom-style inside <dom-module> can lead to
    unintended consequences, such as CSS mixins not being visible.
    https://www.polymer-project.org/1.0/docs/devguide/styling#custom-style -->
    <style is="custom-style" include="iron-flex iron-flex-alignment"></style>
    <style is="custom-style" type="text/css" media="screen">
      body {
        margin: 0;
        padding: 0;
        transition: none;
        font-family: sans-serif;
      }

      textarea {
        padding: 0.5em;
        font-family: monospace;
        display: block;
        border: none;
        margin-left: 5em;
        resize: none;
        outline: none;
        background: #eee;
        font-size: 13px;
      }

      header {
        background: #1f78b4;
        color: white;
        padding: 0.5em;
        margin: 0;
      }

      header > * {
        display: inline-block;
      }

      header h2 {
        margin: 0;
      }

      header .version > * {
        color: #eee;
      }

      #main {
        padding: 1em;
      }

      #docs {
        display: block;
        margin: 1em 0;
      }

      #build {
        color: white;
        margin-right: 2em;
      }

      #navMenu {
        margin: 0;
        padding: 0;
      }

      #navMenu a {
        color: #1F78B4;
        text-decoration: none;
      }
    </style>
