// Skia Common Color Palette.
//
// Can be imported via:
//
//    @import '~infra-sk/colors';
//
$blue:    #175A87;
$green:   #33A02C;
$red:     #E31A1C;
$orange:  #FF7F00;
$purple:  #6A3D9A;
$brown:   #B15928;
$gray:    #4F4F4F;
$light-blue:    #A6CEE3;
$light-green:   #B2DF8A;
$light-red:     #FB9a99;
$light-orange:  #FDBF6F;
$light-purple:  #CAB2D6;
$light-brown:   #FFFF99;
$light-gray:    #575757;

:root {
  --blue:          #175A87;
  --green:         #33A02C;
  --red:           #E31A1C;
  --orange:        #FF7F00;
  --purple:        #6A3D9A;
  --brown:         #B15928;
  --gray:          #4F4F4F;
  --light-blue:    #A6CEE3;
  --light-green:   #B2DF8A;
  --light-red:     #FB9a99;
  --light-orange:  #FDBF6F;
  --light-purple:  #CAB2D6;
  --light-brown:   #FFFF99;
  --light-gray:    #575757;
}
