@import '~infra-sk/modules/colors';

named-fiddle-sk {
  display: flex;
  align-items: center;
  font-family: sans-serif;

  * {
    padding: 0 0.4em;
  }

  button {
    height: initial;
    padding: 0.3em 0.8em;
    min-width: initial;
    text-transform: none;
  }

  span {
    display: inline-block;
  }

  .name {
    width: 20em;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  .user,
  .name a {
    color: var(--blue);
    font-size: 110%;
  }

  .status {
    font-weight: bold;
    width: 3em;
    color: var(--red);
  }

  .inflight {
    font-weight: bold;
    width: 3em;
    color: var(--gray);
  }
}
