@import '../colors.css';

chromium-perf-runs-sk {
  div.dialog-background {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
  }
  div.hidden {
    display: none;
  }
  div.dialog-content {
    min-width: 200px;
    max-width: calc(100% - 10px);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    border-radius: 1em;
  }
  table.runssummary > tbody > tr > td, table.runssummary>tbody>tr>th {
      padding: 10px;
      border: solid black 1px;
    }
  table.runssummary {
    border-spacing: 0px;
    padding-top: 2em;
    padding-left: 2em;
    th {
      text-align: center;
    }
    td.nowrap {
      white-space: nowrap;
    }
  }

  table.inner-table {
    td {
      border: none;
      .nowrap {
        white-space: nowrap;
      }
    }
  }
}

/* Outside chromium-perf-runs-sk because darkmode exists outside it. */
.darkmode .queue a {
  color: var(--secondary);
}
