@import 'node_modules/elements-sk/themes/color-palette.scss';
@import 'node_modules/elements-sk/themes/themes.scss';

test-src-sk {
  .output {
    margin: 0;
    padding: 0;
    background: var(--in-primary);
    color: var(--primary);
    overflow-x: auto;
    font-family: monospace;
    font-size: 13px;
  }
}
