@import '~elements-sk/colors';

query-chooser-sk {
  query-count-sk {
    display: inline-block;
  }

  .row {
    display: flex;
    align-items: center;
  }

  .row paramset-sk {
    margin-left: 8px;
  }

  .row paramset-sk div {
    display: block;
  }

  .matches {
    margin: 0.6em;
    font-weight: bold;
  }

  #dialog {
    display: none;
    padding: 1em;
    margin: 1em;
    border: solid var(--light-gray) 1px;
  }

  #dialog.display {
    display: block;
  }

  #edit {
    display: inline-block;
  }

  button {
    text-transform: none;
    padding: 4px 8px;
    min-width: auto;
    height: auto;
  }
}

@import '../themes/themes.scss';

.body-sk query-chooser-sk {
  #dialog {
    border: solid var(--on-surface) 1px;
  }
}
