
checkbox-sk {
  display: block;
  margin: 0.4em;
}

checkbox-sk span {
  display: inline-block;
}

checkbox-sk label {
  display: flex;
  align-items: center;
}

checkbox-sk .box {
  margin-right: 0.4em;
  border: 4px solid #175A87;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 4px;
}

checkbox-sk input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

checkbox-sk input:checked + .box {
  background: #1F78B4;
}

checkbox-sk input:focus + .box {
  outline: dotted thick #175A87;
  outline-offset: 1px;
}

checkbox-sk:hover .box {
  background: #eee;
}

checkbox-sk input:checked:hover + .box {
  background: #777;
}

checkbox-sk input:checked + .box {
  background: #175A87;
}

checkbox-sk[hidden] {
  display: none;
}

checkbox-sk input:disabled + .box {
  border: 4px solid #757575;
  background: white;
}

checkbox-sk input:disabled:checked + .box {
  border: 4px solid #757575;
  background: #757575;
  color: #757575;
}
