<div style="display: inline;">
        <a href="" ng-click="selectAll(testName, digests, c.POSITIVE)"
           ng-class="{'stateChanged' : selected === c.POSITIVE}">
           <span class="glyphicon glyphicon-ok positiveLabel"></span>
         </a>
        <a href="" ng-click="selectAll(testName, digests, c.NEGATIVE)"
           ng-class="{'stateChanged' : selected === c.NEGATIVE}">
          <span class="glyphicon glyphicon-ban-circle negativeLabel"></span>
        </a>
        <a href="" ng-click="selectAll(testName, digests, c.UNTRIAGED)"
           ng-class="{'stateChanged' : selected === c.UNTRIAGED}">
          <span class="glyphicon glyphicon-question-sign"></span>
        </a>
</div>
