<div class="row">
    <div class="col-xs-6">
	<div>
		<div class="col-xs-2" style="padding:6px;">
			<span style="font-weight: bold; text-align: right;">Commit Range:</span>
		</div>
		<div class="col-xs-3">
			<input type="text"
				   ng-model="commitRangeQuery[c.QUERY_COMMIT_START]"
			       placeholder="Start Commit"
			       style="width: 100%; padding: 6px;">
		    </div>
			    <div class="col-xs-3">
			    <input type="text"
				   ng-model="commitRangeQuery[c.QUERY_COMMIT_END]"
				   placeholder="End Commit"
				   style="width: 100%; padding: 6px;">
			</div>
		<div class="col-xs-3">
			<button ng-click="resetCommitRangeQuery()"
					ng-disabled="crClean"
			        class="btn btn-default">Reset</button>

			<button ng-click="selectCommitRange()"
			        ng-disabled="crClean"
			        class="btn btn-primary">Update</button>
	       </div>
	</div>
    </div>

    <div class="col-xs-6 pull-right" style="padding: 6px;">
        <div style="display:inline; font-weight: bold;">
        Show # of commits:
        </div>
        <div class="autoRange" ng-repeat="cr in crLinks">
        		<span ng-if="cr.start.hash === commitRangeQuery[c.QUERY_COMMIT_START]">{{cr.name}}</span>
        	<a ng-if="cr.start.hash !== commitRangeQuery[c.QUERY_COMMIT_START]" href=""  ng-click="selectCommitRange(cr)">{{cr.name}}</a>
        </div>
    </div>
</div>