<html>
  <head>
    <title>Results of Skia Tryserver Run</title>
  </head>

  <body>
    <h2>Results of Skia Tryserver Run</h2>

    {% if worker_name_to_info_items %}
    RenderPictures args: {{ render_pictures_args }}<br/>
    NoPatch render_pictures run with GPU: {{ nopatch_gpu }}<br/>
    WithPatch render_pictures run with GPU: {{ withpatch_gpu  }}<br/><br/>

    To view all {{ failing_files_count }} failing files click <a href='{{ absolute_url }}list_of_all_files.html'>here</a>.
    <br/><br/><br/>

    <table border="1" cellpadding="5">
      <tr bgcolor="#CCCCFF">
        <th>Worker</th>
        <th>Total failing files</th>
      </tr>
      {% for worker_name, worker_info in worker_name_to_info_items %}
        <tr>
          <td>{{ worker_name }}</td>
          <td align="center">{{ worker_info.failed_files|length }}</td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
      <h4>All SKP images were identical!</h4>
    {% endif %}
  </body>
</html>
