@import '~elements-sk/icon/icon-sk';
@import '~elements-sk/toast-sk/toast-sk';
@import '~elements-sk/styles/buttons/buttons';
@import '~elements-sk/themes/themes';
@import '../theme/theme';

machine-server-sk {
  header {
    padding: 8px;
    background: var(--surface-1dp);
    display: block;
    width: 100%;
    border-bottom: solid 1px var(--on-surface);
    position: fixed;
    top: 0;
    z-index: 10;
  }

  table {
    border-collapse: collapse;
  }

  tr {
    border-top: 1px solid var(--on-background);
  }

  th {
    padding: 4px;
  }

  td {
    vertical-align: top;
    padding: 8px 4px 4px 4px;
  }

  td.outOfSpec {
    color: var(--error);
    font-weight: bold;
  }

  main {
    margin-top: 40px;
  }

  a:visited,
  a {
    color: var(--primary);
  }
}

machine-server-sk[waiting] * {
  cursor: wait;
}
