@import '~elements-sk/colors.css';

machine-server-sk {
  header {
    padding: 8px;
  }

  table {
    text-align: center;
    border-collapse: collapse;
  }

  tr {
    border: 2px solid var(--on-background);
  }

  table td,
  table th {
    padding: 4px 10px;
  }
}

machine-server-sk[waiting] * {
  cursor: wait;
}
