@import '../../../elements-sk/modules/styles/buttons';
@import '../themes/themes.scss';

bisect-dialog-sk {
  #bisect-dialog {
    overflow: auto;
    width: 25%;
    padding: 16px;
    border: solid var(--on-background) 1px;
    color: var(--on-background);
    background: var(--background);
    textarea {
      background: var(--background);
      color: var(--on-surface);
      border: solid 1px var(--on-surface);
    }
    #bisectCloseIcon {
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
      margin-top: 10px;
      margin-right: 11px;
      border: none;
      padding: 5px;
      cursor: pointer;
    }
    .footer {
      display: flex;
      justify-content: left;
    }
  }

  #icon {
    font-family: 'Material Icons';
  }

  .iron-selected {
    background: #eee;
  }
}
