@import '../../../elements-sk/modules/colors';

skottie-exporter-sk {
  .wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .background {
    width: 100%;
    height: 100%;
    background-color: var(--background);
    border-radius: 4px;
    opacity: 0.98;
    position: absolute;
    top: 0;
    left: 0;
  }

  .main {
    width: 100%;
    height: 100%;
    align-items: center;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -15%;
    left: 0;
  }

  .modal {
    background: var(--surface);
    padding: 24px;
    min-width: 360px;

    .header {
      padding: 4px 0;
      background: none;

      h2.header__text {
        font-size: 22px;
      }
    }
  }
}
