push-selection-sk {
  display: block;
}

push-selection-sk .pushSelection {
  display: flex;
  padding: 0.4em 0.2em;
  cursor: pointer;
}

push-selection-sk .pushSelection[selected]:hover,
push-selection-sk .pushSelection:hover {
  background: lightgray;
}

push-selection-sk .pushSelection icon-check-sk {
  visibility: hidden;
}

push-selection-sk .pushSelection[selected] icon-check-sk {
  visibility: visible;
}

push-selection-sk .pushSelection[selected] {
  background: #fff;
}

push-selection-sk a {
  color: #1F78B4;
}

push-selection-sk .userid {
  color: #7570B3;
}

push-selection-sk .built {
  color: #D95F02;
}

push-selection-sk pre {
  margin: 0 0.2em;
}

push-selection-sk .buttons {
  display: flex;
  justify-content: flex-end;
}
