[defaults]
inventory = hosts.ini
host_key_checking = False
log_path = /tmp/ansible/
interpreter_python = auto_silent

# Print more readable errors if a command fails.
stdout_callback = yaml

[ssh_connection]
ssh_args = -F ./ssh.cfg -o ControlMaster=auto -o ControlPersist=30m -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
control_path = ~/.ssh/ansible-%%r@%%h:%%p