[defaults]
inventory = hosts.ini
host_key_checking = False
log_path = /tmp/ansible/
interpreter_python = auto_silent
gather_facts = False
forks = 30

# Print more readable errors if a command fails.
stdout_callback = yaml

[ssh_connection]
ssh_args = -F ./ssh.cfg  -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
control_path = ~/.ssh/ansible-%%r@%%h:%%p