# https://docs.rackspace.com/blog/speeding-up-ssh-session-creation/


Host internal1
  Hostname 100.115.95.131
  User chrome-bot
  ProxyCommand corp-ssh-helper %h %p
  ControlMaster auto
  Controlpath ~/.ssh/ssh-%C
  ControlPersist 5m

Host rack1
  Hostname 100.115.95.143
  User chrome-bot
  ProxyCommand corp-ssh-helper %h %p
  ControlMaster auto
  Controlpath ~/.ssh/ssh-%C
  ControlPersist 5m

Host rack2
  Hostname 100.115.95.133
  User chrome-bot
  ProxyCommand corp-ssh-helper %h %p
  ControlMaster auto
  Controlpath ~/.ssh/ssh-%C
  ControlPersist 5m

Host rack3
  Hostname 100.115.95.134
  User chrome-bot
  ProxyCommand corp-ssh-helper %h %p
  ControlMaster auto
  Controlpath ~/.ssh/ssh-%C
  ControlPersist 5m

Host rack4
  Hostname 100.115.95.135
  User chrome-bot
  ProxyCommand corp-ssh-helper %h %p
  ControlMaster auto
  Controlpath ~/.ssh/ssh-%C
  ControlPersist 5m
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Match host skia-rpi2-rack4-*
  CanonicalizeHostname no
  Hostname %h
  ProxyJump chrome-bot@rack4:22
  User chrome-bot
  ControlMaster auto
  Controlpath ~/.ssh/ssh-%C
  ControlPersist 5m
  
Match host skia-rpi-*
  CanonicalizeHostname no
  Hostname %h
  ProxyJump chrome-bot@rack1:22
  User chrome-bot
  ControlMaster auto
  Controlpath ~/.ssh/ssh-%C
  ControlPersist 5m

Match host skia-e-*-2*
  CanonicalizeHostname no
  Hostname %h
  ProxyJump chrome-bot@rack2:22
  User chrome-bot
  ControlMaster auto
  Controlpath ~/.ssh/ssh-%C
  ControlPersist 5m

Match host skia-e-*-3*
  CanonicalizeHostname no
  Hostname %h
  ProxyJump chrome-bot@rack3:22
  User chrome-bot
  ControlMaster auto
  Controlpath ~/.ssh/ssh-%C
  ControlPersist 5m

