@import '../themes/themes';

toast-sk {
  display: flex;
  visibility: hidden;
  position: fixed;
  left: auto;
  bottom: 0;
  color: var(--on-background);
  background: var(--background);
  fill: var(--on-background);
  padding: 10px 15px;
  opacity: 0;
  z-index: 20;
}

toast-sk[shown] {
  visibility: visible;
  opacity: 1;
  bottom: 0px;
  color: var(--on-background);
  background: var(--background);
  fill: var(--on-background);
  width: auto;
  max-width: 900px;
}
