<div class="table-container">
  <table mat-table [dataSource]="dataSource">

    <!-- Job Name Column -->
    <ng-container [matColumnDef]="JobTableColumn.Name">
      <th mat-header-cell *matHeaderCellDef>Job Name</th>
      <td mat-cell *matCellDef="let job">
        <span>
          <a
            color="primary"
            href="https://pinpoint-dot-chromeperf.appspot.com/job/{{ job.jobId }}"
            target="_blank"
            rel="noopener noreferrer">
            {{ job.name || job.jobId }}
          </a>
        </span>
      </td>
    </ng-container>

    <!-- Benchmark Column -->
    <ng-container [matColumnDef]="JobTableColumn.Benchmark">
      <th mat-header-cell *matHeaderCellDef>Benchmark</th>
      <td mat-cell *matCellDef="let job"><span>{{ job.benchmark }}</span></td>
    </ng-container>

    <!-- Configuration Column -->
    <ng-container [matColumnDef]="JobTableColumn.Configuration">
      <th mat-header-cell *matHeaderCellDef>Bot</th>
      <td mat-cell *matCellDef="let job">
        <span>
          <a
            color="primary"
            href="https://pinpoint-dot-chromeperf.appspot.com/queue-stats/{{ job.configuration }}"
            target="_blank"
            rel="noopener noreferrer">
            {{ job.configuration }}
          </a>
        </span>
      </td>
    </ng-container>

    <!-- Story Column -->
    <ng-container [matColumnDef]="JobTableColumn.Story">
      <th mat-header-cell *matHeaderCellDef>Story</th>
      <td mat-cell *matCellDef="let job"><span>{{ job.story || '-' }}</span></td>
    </ng-container>

    <!-- Job Type Column -->
    <ng-container [matColumnDef]="JobTableColumn.JobType">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let job">
        <span
          class="job-type-badge"
          [class.badge-bisect]="job.jobType === 'JOB_TYPE_BISECT'"
          [class.badge-try]="job.jobType === 'JOB_TYPE_TRY'">
          {{ getJobTypeLabel(job.jobType) }}
        </span>
      </td>
    </ng-container>

    <!-- User Column -->
    <ng-container [matColumnDef]="JobTableColumn.User">
      <th mat-header-cell *matHeaderCellDef>User</th>
      <td mat-cell *matCellDef="let job">
        <span>{{ job.user }}</span>
      </td>
    </ng-container>

    <!-- Created Column -->
    <ng-container [matColumnDef]="JobTableColumn.Created">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let job">
        {{ job.created ? (job.created | date:'MMM d, y, h:mm a') : '-' }}
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container [matColumnDef]="JobTableColumn.JobStatus">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let job">
        {{ jobStatusToLabel(job.jobStatus) }}
      </td>
    </ng-container>

    <!-- Loading Progress Bar Column -->
    <ng-container matColumnDef="loading">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="displayedColumns.length" class="loading-header-cell">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-header-row *matHeaderRowDef="['loading']; sticky: true" class="loading-header-row" [hidden]="!loading()"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  @if (error()) {
    <mat-error class="error-message">
      <mat-icon>error</mat-icon>
      <span>{{ error() }}</span>
    </mat-error>
  }
</div>

<mat-paginator
  [pageSizeOptions]="[10, 25, 50, 100]"
  pageSize="25"
  showFirstLastButtons
  (page)="onPageChange($event)">
</mat-paginator>
