# Compiled python files.
*.pyc
# Files open in vi.
*.swp
# Compiled cfg files.
*.cfgc
# gclient files
.gclient*
# common code
common
# TAGS
*TAGS
# Files used by bugdroid.
.bugdroid_password
services/bugdroid/bugdroid_log.txt
# Data files used by webpages_playback.py
# Eclipse project files
.project
.pydevproject
bug_chomper/oauth_client_secret.json
# Generated Go files.
go/skiaversion/gen_version.go
# Server executables/config
golden/app/third_party
golden/node_modules
perf/bqtoken.data
perf/google_storage_token.data
perf/node_modules
perf/res/css/perf.css
perf/res/js/core-debug.js
perf/res/js/core.js
perf/res/imp/bower_components
perf/res/vul
perf/third_party
perf/timestamp.json
monitoring/autoroll_git
monitoring/google_email_token.data
monitoring/node_modules
monitoring/npm-debug.log
monitoring/res/imp/core*
monitoring/res/imp/paper*
monitoring/res/imp/polymer
monitoring/res/js/sheriffing-debug.js
monitoring/res/js/sheriffing.js
monitoring/third_party
# Ignore all SQLite databases, because tests will create their own unique ones.
*.db
# Logfiles from launched buildslaves.
launch_slaves.log*
