# Compiled python files.
*.pyc
# Files open in vi.
*.swp
# Compiled cfg files.
*.cfgc
# gclient files
.gclient*
# common code
common
# TAGS
*TAGS
*tags
# Files used by bugdroid.
.bugdroid_password
services/bugdroid/bugdroid_log.txt
# Data files used by webpages_playback.py
# Eclipse project files
.project
.pydevproject
bug_chomper/oauth_client_secret.json
# Generated Go files.
go/skiaversion/gen_version.go
# Server executables/config
golden/app/third_party
golden/node_modules
golden/res/vul
golden/res/js/core-debug.js
golden/res/js/core.js
golden/res/css/core.css
golden/res/imp/bower_components
golden/google_oauth_token.data
golden/app/css/generated.css
golden/app/fonts/
golden/app/js/generated.js
fuzzer/node_modules
fuzzer/res/css/fuzzer.css
fuzzer/res/imp/bower_components
fuzzer/res/js/core-debug.js
fuzzer/res/js/core.js
fuzzer/res/vul
fuzzer/third_party
perf/bqtoken.data
perf/google_storage_token.data
perf/node_modules
perf/res/css/perf.css
perf/res/js/core-debug.js
perf/res/js/core.js
perf/res/imp/bower_components
perf/res/vul
perf/res/common
perf/third_party
perf/timestamp.json
perf/local.toml
push/google_storage_token.data
push/third_party
push/node_modules
push/res/vul
push/res/imp/bower_components
push/res/js/core.js
push/res/js/core-debug.js
push/res/imp/bower_components
push/res/common
doc/res/common
doc/res/imp/bower_components
doc/res/css/docs.css
doc/res/js/core.js
doc/res/js/core-debug.js
doc/node_modules
doc/third_party
alertserver/res/vul
alertserver/res/js/core-debug.js
alertserver/res/js/core.js
alertserver/res/imp/bower_components
alertserver/node_modules
alertserver/third_party
status/res/vul
status/res/js/core-debug.js
status/res/js/core.js
status/res/imp/bower_components
status/node_modules
status/third_party
webtry/node_modules
webtry/res/js/core-debug.js
webtry/res/js/core.js
webtry/res/vul
webtry/templates/template.cpp
webtry/res/imp/bower_components
# Ignore all SQLite databases, because tests will create their own unique ones.
*.db
# Logfiles from launched buildslaves.
launch_slaves.log*
