# Compiled python files.
*.pyc
# Files open in vi.
*.swp
# Compiled cfg files.
*.cfgc
# gclient files
.gclient*
# common code
common
# TAGS
*TAGS
*tags
# Files used by bugdroid.
.bugdroid_password
services/bugdroid/bugdroid_log.txt
# Data files used by webpages_playback.py
# Eclipse project files
.project
.pydevproject
client_secret.json
oauth-token.cache
bug_chomper/oauth_client_secret.json
# Bower and Node related directories
node_modules
bower_components
# Sublime project files
*.sublime-project
*.sublime-workspace
# Generated Go files.
go/skiaversion/gen_version.go
# Generated for Go package.
pdfium/build
# Server executables/config
bug_chomper/res/vul
bug_chomper/res/js/core-debug.js
bug_chomper/res/js/core.js
bug_chomper/res/imp/bower_components
bug_chomper/node_modules
bug_chomper/third_party
golden/app/third_party
golden/res/vul
golden/res/js/core-debug.js
golden/res/js/core.js
golden/res/css/core.css
golden/google_oauth_token.data
golden/app/css/generated.css
golden/app/fonts/
golden/app/js/generated.js
fuzzer/res/css/fuzzer.css
fuzzer/res/js/core-debug.js
fuzzer/res/js/core.js
fuzzer/res/vul
fuzzer/third_party
perf/bqtoken.data
perf/google_storage_token.data
perf/res/css/perf.css
perf/res/js/core-debug.js
perf/res/js/core.js
perf/res/vul
perf/res/common
perf/third_party
perf/timestamp.json
perf/local.toml
perf/client_secrets.json
push/google_storage_token.data
push/third_party
push/res/vul
push/res/js/core.js
push/res/js/core-debug.js
push/res/common
sksysmon/third_party
sksysmon/res/vul
sksysmon/res/js/core.js
sksysmon/res/js/core-debug.js
sksysmon/res/common
doc/res/common
doc/res/css/docs.css
doc/res/js/core.js
doc/res/js/core-debug.js
doc/third_party
alertserver/res/vul
alertserver/res/js/core-debug.js
alertserver/res/js/core.js
alertserver/third_party
status/res/vul
status/res/js/core-debug.js
status/res/js/core.js
status/third_party
webtry/res/js/core-debug.js
webtry/res/js/core.js
webtry/res/vul
webtry/templates/template.cpp
# Ignore all SQLite databases, because tests will create their own unique ones.
*.db
# Logfiles from launched buildslaves.
launch_slaves.log*
