.git
.aspect
node_modules
dist/
build/
new_element/
**/testdata/
infra/bots/
licenses/LICENSES.md
_bazel*/**
**/modules/config/config.ts
**/modules/config/twirp.ts
**/modules/json/index.ts
**/modules/rpc_types.ts
**/modules/rpc/rpc.ts
**/modules/rpc/status.ts
**/modules/rpc/twirp.ts
**/debug-trace-quicktype.ts
**/elements-sk/modules/icons/
*.yaml
*.yml
*.json5
*.json
*.html
**/*.bazel
**/*.bzl
