[bucket "luci.skia.skia.primary"]
	builder = Housekeeper-Nightly-UpdateGoDeps
	builder = Housekeeper-OnDemand-Presubmit
	builder = Housekeeper-Weekly-UpdateCIPDPackages
	builder = Infra-Experimental-Small-Linux
	builder = Infra-Experimental-Small-Win
	builder = Infra-PerCommit-Build
	builder = Infra-PerCommit-CreateDockerImage
	builder = Infra-PerCommit-Large
	builder = Infra-PerCommit-Medium
	builder = Infra-PerCommit-Puppeteer
	builder = Infra-PerCommit-PushAppsFromInfraDockerImage
	builder = Infra-PerCommit-Race
	builder = Infra-PerCommit-Small
	builder = Infra-PerCommit-ValidateAutorollConfigs
