[access]
	inheritFrom = Public-Projects
[label "Auto-Submit"]
	function = NoBlock
	defaultValue = 0
	copyMinScore = true
	copyMaxScore = true
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
	value = 0 Do not send CL to CQ automatically after approval
	value = +1 Send CL to CQ automatically after approval
[submit]
	action = rebase always
