@import '~elements-sk/colors';

particles-config-sk {
  label {
    display: block;
    padding-bottom: 8px;
  }

  #dialog-buttons {
    display: flex;
    justify-content: flex-end;
  }

  input[type='number'] {
    width: 64px;
  }

  dialog {
    background: var(--background);
    border: solid 1px var(--on-background);
    color: var(--on-background);
  }
}
