/* Common Autoroll Colors via CSS Variables.
   Assumes use of infra-sk/modules/theme-chooser-sk.

 Can be imported via:

    @import '../colors';
*/

:root {
  --primary: #546e7a;
  --on-primary: #ffffff;
  --primary-variant: rgb(204, 204, 255);
  --on-primary-variant: #000000;
  --link-color: hsl(199, 70%, 40%);
}
.darkmode {
  --grey-850: #303030;

  --primary: #546e7a;
  --on-primary: #ffffff;
  --primary-variant: rgb(204, 204, 255);
  --on-primary-variant: #000000;
  --background: #212121;
  --on-background: #e0e0e0;
  --surface: var(--grey-850);
  --on-surface: #eee;
  --error: #ff6f00;
  --link-color: hsl(199, 70%, 60%);
}

a,
a.visited {
  color: var(--link-color);
}

.darkmode input,
.darkmode textarea {
  background-color: var(--surface-2dp);
  color: var(--on-surface);
}

:disabled {
  opacity: var(--text-intensity-medium);
}

.fg-running {
  color: #{'rgba(var(--result-color-lightgreen), 0.7)'};
}
.fg-dry-run {
  color: var(--result-color-lightorange);
}
.fg-stopped {
  color: var(--result-color-redorange);
}
.fg-offline {
  color: var(--result-color-purple);
}
