@import '../colors.css';

chromium-builds-sk {
  background-color: var(--surface);
  color: var(--on-surface);

  .rev-detail-container {
    position: relative;
    text-align: center;
    width: 350px;
    height: 100px;
  }

  .loading-rev-spinner {
    margin: auto;
    vertical-align: middle
  }

  .rev-detail {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: start;
  }
}
