@import url(~elements-sk/colors.css);

@media (max-width: 500px) {
  login-sk .email {
    display: none;
  }
}

login-sk {
  display: inline-block;

  .logInOut {
    margin-left: 10px;
  }

  .email,
  .logInOut {
    font-size: 15px;
    color: var(--background, --white);
  }
}
