header {
  background: var(--surface);
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0 8px;
}

body {
  padding: 0;
  margin: 0;
}

fiddle-sk {
  display: block;
  margin: 16px;
}

main > p {
  margin: 16px;
}
