@import '../../infra-sk/themes.scss';

.body-sk {
  padding: 0;
  margin: 0;
  --sidebar-width: 0;
  --header-horiz-padding: 16px;

  app-sk main {
    padding: 16px;

    a {
      background-color: var(--background);
    }
  }
}
