@import '../styles.scss';

gold-status-sk {
  .tr:hover {
    background-color: var(--primary);
    color: var(--on-primary);
    fill: var(--on-primary);

    // Inherited color of the underline needs to be overriden so we don't end up with e.g. black
    // text with white underline.
    .value {
      background-color: var(--surface);
      color: var(--on-surface);
      text-decoration: underline;
    }
  }

  .value {
    background-color: var(--secondary);
    color: var(--on-secondary);
    border-radius: 3px;
    padding: 4px;
    margin: 5px;
  }
}
