@import '../themes/themes.scss';

calendar-input-sk {
  display: inline-flex;
  align-items: center;

  #cal-button {
    margin-left: 4px;
    padding: 4px;
  }

  .invalid {
    display: none;
    color: var(--error);
  }

  input:invalid + .invalid {
    display: inline-block;
  }

  label input {
    color: var(--on-surface);
    background: var(--surface-1dp);
    border: solid 1px var(--on-surface);
    padding: 4px;
  }

  dialog {
    color: var(--on-background);
    background: var(--background);
  }
}
