@import '~elements-sk/colors';

ingest-file-links-sk {
  display: block;

  ul {
    list-style-type: none;
    li a {
      color: var(--primary);
    }
  }

  spinner-sk {
    width: 12px;
    height: 12px;
    margin: 0;
  }
}
