nav-links-sk {
  display: none;
  position: absolute;
  z-index: 200;
  background: white;
  border: solid 1px lightgrey;
  margin-left: 16px;
}

nav-links-sk[shown] {
  display: block;
}

nav-links-sk a {
  display: block;
  padding: 12px;
  color: #175A87;
  fill: #175A87;
}

nav-links-sk a:hover {
  background: lightgrey;
}
