[Unit]
Description=Web server for android perf metrics ingestion.
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/android-master-ingest \
    --resources_dir=/usr/local/share/androidingest/  \
    --log_dir=/var/log/logserver \
    --port=:8001 \
    --prom_port=:20001 \
    --work_root=/home/default/android-master-ingest-work \
    --subdomain=android-master-ingest \
    --branch=git_master \
    --repo_url=https://skia.googlesource.com/perf-buildid/android-master

Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
