@import '../../../elements-sk/modules/styles/buttons';
@import '../themes/themes.scss';

report-page-sk {
  #commits-dialog {
    overflow: auto;
    width: 45%;
    padding: 16px;
    border: solid var(--on-background) 1px;
    color: var(--on-background);
    background: var(--background);

    #closeIcon {
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
      margin-top: 10px;
      margin-right: 11px;
      border: none;
      padding: 5px;
      cursor: pointer;
    }

    .footer {
      display: flex;
      justify-content: right;
    }

    li {
      margin-top: 5px;
    }
  }

  #common-commits {
    position: relative;
    cursor: pointer;
    margin-left: 1300px;
    width: auto;
    height: auto;
    padding: 16px;

    [hidden] {
      display: none;
    }
  }

  #commit-message {
    background-color: #d9d9db; //(--header-background-color);
  }

  .common-commits {
    h3 {
      margin-bottom: 10px;
    }
    .scroll-commits {
      max-height: 200px;
      overflow-y: auto;
      margin-top: 10px;
      border-top: 1px solid #ccc;
      padding-top: 10px;
    }

    #all-commits-scroll {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }
}
