@import '../../../elements-sk/modules/styles/buttons';
@import '../themes/themes.scss';

report-page-sk {
  .loading-status {
    align-items: center;
    display: flex;

    .loading-message {
      color: var(--outline);
      font-style: italic;
      margin-left: 0.5em;
    }
  }

  .common-commits {
    padding-bottom: 16px;
    h3 {
      margin-bottom: 10px;
    }
    .scroll-commits {
      max-height: 200px;
      overflow-y: auto;
      margin-top: 10px;
      border-top: 1px solid #ccc;
      padding-top: 10px;
    }
    #roll-commits-link {
      color: rgb(87, 120, 211);
      cursor: pointer;
      display: contents;
    }
  }

  ul.table {
    display: table;
    list-style: none;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    li {
      display: table-row;
      #commit-message {
        color: var(--on-background);
      }
      a {
        color: var(--primary);
        display: table-cell;
        padding-right: 1em;
      }
    }
  }
}
