[Unit]
Description=ssh tunnel to skia-prom for push prom metrics.
Wants=network-online.target
Wants=sshd.service

[Service]
Environment=HOME=/home/chrome-bot

# Start a tunnel that forwards requests to localhost:20006 to skia-prom:20006.
ExecStart=/usr/bin/gcloud compute ssh default@skia-prom \
    --zone=us-central1-c \
    -- \
    -NT -L *:20006:localhost:20006 \
    -o "ExitOnForwardFailure=yes" \
    -o "ServerAliveInterval=30" \
    -o "ServerAliveCountMax=10"

RestartSec=3
Restart=always
User=chrome-bot
Group=chrome-bot
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
