[Unit]
Description=Mirror the files on the raspberry pi to cloud logging
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/cloudlogger \
  --log_dir=/var/log/logserver \
  --rollover_logs=/b/s/logs/adb.log \
  --rollover_logs=/b/s/logs/bot_config.log \
  --rollover_logs=/b/s/logs/run_isolated.log \
  --rollover_logs=/b/s/logs/swarming_bot.log \
  --service_account_path=/opt/service-account.json
Restart=always
User=root
Group=root
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
