[Unit]
Description=Obtain an OAuth2 access token.
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/get-oauth2-token \
  --logtostderr \
  --service_account=/etc/service_account_jumphost.json:/var/local/token_jumphost.json \
  --service_account=/etc/service_account_rpi-master.json:/var/local/token_rpi-master.json \
  --service_account=/etc/service_account_swarming.json:/var/local/token_swarming.json
User=root
Group=root
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
