[Unit]
Description=Monitors skia-rpi-master and allows for the hotspare to take over
Wants=network-online.target
After=network-online.target

[Service]
Environment=GCE_METADATA_HOST=metadata
ExecStart=/usr/local/bin/hotspare \
  --prom_port=:20003 \
  --virtual_interface "eno1:0" \
  --sync_period "10m" \
  --virtual_ip "192.168.1.100/24" \
  --liveness_addr "192.168.1.99:2049" \
  --sync_remote_path "chrome-bot@192.168.1.99:/opt/rpi_img/prod.img" \
  --sync_local_path "/opt/rpi_img/prod.img" \
  --start_serving_playbook=/usr/local/share/hotspare/start_serving_image.yml \
  --stop_serving_playbook=/usr/local/share/hotspare/stop_serving_image.yml

Restart=always
User=chrome-bot
Group=chrome-bot
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
