[Unit]
Description=Serve metadata to machines in the lab.
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/metadata-server \
  --port=:80 \
  --prom_port=:20003

Restart=always
User=chrome-bot
Group=chrome-bot
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
