[Unit]
Description=A long running daemon that allows powercycle to talk to power.skia.org
Wants=network-online.target
After=network-online.target

[Service]
Environment=GCE_METADATA_HOST=metadata
ExecStart=/usr/local/bin/powercycle-daemon

Restart=always
User=chrome-bot
Group=chrome-bot
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
