[Unit]
Description=Backs up the router config daily

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=100

[Install]
WantedBy=timers.target
