[Unit]
Description=Backs up the rpi image to Google Storage
Requires=network-online.target
After=network-online.target

[Service]
Environment=GCE_METADATA_HOST=metadata
ExecStart=/usr/local/bin/rpi-backup \
  --prom_port=:20001 \
  --gce_bucket skia-backups\
  --gce_folder rpi_image \
  --local_file_path /opt/rpi_img/prod.img

Restart=always
User=chrome-bot
Group=chrome-bot
