regressions-page-sk {
  .red {
    color: var(--negative);
  }

  .green {
    color: var(--positive);
  }

  .showMoreAnomalies {
    position: absolute;
  }
}

md-outlined-button {
  --md-outlined-button-container-shape: 4px;
}
