regressions-page-sk {
  .red {
    color: var(--negative);
  }

  .green {
    color: var(--positive);
  }

  #showmore {
    position: bottom;
  }

  #filter:focus {
    outline-style: none;
  }

  spinner-sk {
    position: absolute;
    align-items: center;
    justify-content: center;
    background: var(--surface-10dp);
  }

  #upper-spin {
    margin-left: 280px;
  }
}
