@import '../../../infra-sk/themes';

codesize-scaffold-sk {
  a, a:visited {
    color: var(--primary);
  }

  app-sk {
    min-height: 100vh; // Make the app span the entire height of the page.

    header {
      a, a:visited {
        color: var(--header-font-color);
      }
      spinner-sk {
        // Make the gap between the <h1> and the <header> top and bottom the same length.
        border-width: var(--header-horiz-padding);
        --size: calc(var(--header-height) - 4 * var(--header-horiz-padding));
        width: var(--size);
        height: var(--size);
      }
    }
  }
}
