@import '../styles.scss';

status-sk {
  app-sk {
    --sidebar-width: auto;
    --sidebar-horiz-padding: 0;
    --content-horiz-padding: 5px;
    --content-vert-padding: 5px;

    header {
      a {
        color: var(--on-primary);
      }
    }

    aside {
      z-index: 2;
      > * {
        border: 1px solid var(--primary);
        padding: 1px;
        margin: 5px;
      }

      .collapser {
        width: 100%;
        text-transform: none;
        padding: 0 0.5em 0 0;
        margin: 0;
        height: auto;
      }
    }
  }
}

// Coloring for tree-status.
status-sk[state='caution'] app-sk header {
  background-color: var(--warning-alpha);
  color: var(--on-warning);
  fill: var(--on-warning);
  a {
    color: var(--on-warning);
  }
}

status-sk[state='closed'] app-sk header {
  background-color: var(--failure-alpha);
  color: var(--on-failure);
  fill: var(--on-failure);
  a {
    color: var(--on-failure);
  }
}
