@import '../themes/themes.scss';
// Style reference for vaadin elements:
// https://vaadin.com/docs/latest/components/combo-box/styling
.body-sk picker-field-sk {
  // Look for any div with id containing 'picker-field'
  *[id^='picker-field-'] {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    #split-by-container {
      position: absolute;
      display: flex;
      top: -25px;
      right: 0;
    }
  }
  vaadin-multi-select-combo-box {
    --vaadin-input-field-icon-color: var(--lumo-secondary-text-color);
    --lumo-text-field-size: var(--lumo-size-xs);
    padding-top: 0px;
    min-width: 220px;
    max-width: 400px;
  }

  vaadin-multi-select-combo-box::part(input-field) {
    min-height: 42px;
    max-height: 200px;
    overflow: scroll;
    display: flex;
    align-items: flex-start;
  }

  vaadin-multi-select-combo-box-chip::part(label) {
    direction: rtl;
  }

  input {
    border: none;
    padding-top: 10px;
  }

  checkbox-sk {
    margin: 0;
    label {
      display: flex;
      flex-flow: row-reverse;
    }
  }
}

.darkmode picker-field-sk {
  vaadin-multi-select-combo-box::part(label) {
    transition: color 0.3s ease;
    color: var(--on-disabled);
  }
  vaadin-multi-select-combo-box::part(helper-text) {
    transition: color 0.3s ease;
    color: var(--on-disabled);
  }
  vaadin-multi-select-combo-box:hover::part(label) {
    transition: color 0.3s ease;
    color: var(--on-surface);
  }
  vaadin-multi-select-combo-box:focus-within::part(label) {
    transition: color 0.3s ease;
    color: var(--primary);
  }
  vaadin-multi-select-combo-box::part(input-field) {
    transition: background-color 0.3s ease;
    background-color: var(--on-disabled);
  }
  vaadin-multi-select-combo-box:hover::part(input-field) {
    transition: background-color 0.3s ease;
    background-color: var(--on-surface);
  }
  vaadin-multi-select-combo-box:focus-within::part(input-field) {
    transition: background-color 0.3s ease;
    background-color: var(--on-surface);
  }
}
