@import '../themes/themes.scss';
// Style reference for vaadin elements:
// https://vaadin.com/docs/latest/components/combo-box/styling
.body-sk picker-field-sk {
  #picker-field {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    #split-by-container {
      position: absolute;
      display: flex;
    }
  }
  vaadin-multi-select-combo-box {
    --vaadin-input-field-height: 30px;
    --vaadin-input-field-icon-color: var(--lumo-secondary-text-color);
    --vaadin-multi-select-combo-box-chip-max-width: auto;
    --vaadin-multi-select-combo-box-overlay-width: auto;
    --lumo-text-field-size: var(--lumo-size-xs);
    padding-right: 10px;
    margin-top: 10px;
    margin-left: auto;
    max-width: 300px;
  }
  input {
    border: none;
  }
  checkbox-sk label {
    flex-flow: column-reverse;
  }
}
.darkmode .darkmode picker-field-sk {
  vaadin-multi-select-combo-box::part(label) {
    transition: color 0.3s ease;
    color: var(--on-disabled);
  }
  vaadin-multi-select-combo-box::part(helper-text) {
    transition: color 0.3s ease;
    color: var(--on-disabled);
  }
  vaadin-multi-select-combo-box:hover::part(label) {
    transition: color 0.3s ease;
    color: var(--on-surface);
  }
  vaadin-multi-select-combo-box:focus-within::part(label) {
    transition: color 0.3s ease;
    color: var(--primary);
  }
  vaadin-multi-select-combo-box::part(input-field) {
    transition: background-color 0.3s ease;
    background-color: var(--on-disabled);
  }
  vaadin-multi-select-combo-box:hover::part(input-field) {
    transition: background-color 0.3s ease;
    background-color: var(--on-surface);
  }
  vaadin-multi-select-combo-box:focus-within::part(input-field) {
    transition: background-color 0.3s ease;
    background-color: var(--on-surface);
  }
}
