[Unit]
Description=Back up Buildbot BoltDB Database
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/buildbot_db_backup.sh
User=default
Group=default
LimitNOFILE=10000
