[Unit]
Description=Datahopper
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/datahopper \
    --log_dir=/var/log/logserver \
    --graphite_server=skia-monitoring:2003 \
    --workdir=/mnt/pd0/datahopper_workdir
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
