@import '../../../elements-sk/modules/styles/buttons';
@import '../themes/themes.scss';

alerts-page-sk {
  display: block;
  padding: 16px;

  dialog {
    background: var(--background);
    border: solid 1px var(--on-background);
    color: var(--on-background);
  }

  #alerts-table {
    td {
      padding: 0.2em 1em;
    }

    td > a {
      color: var(--primary);
    }

    td > create-icon-sk,
    td > delete-icon-sk {
      padding: 0.4em;
      cursor: pointer;
      fill: var(--primary);
    }
    border-spacing: 0;
    font-size: small;
    width: 100%;
    th,
    td {
      text-align: left;
      padding-right: 10px;
      padding-top: 4px;
      padding-bottom: 4px;
      max-width: 500px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    a,
    th {
      // Make the header look clicky on hover.
      cursor: pointer;
      font-weight: bold;
    }
    td > create-icon-sk:hover,
    td > delete-icon-sk:hover {
      background: var(--surface-1dp);
    }
  }

  create-icon-sk[disabled],
  delete-icon-sk[disabled] {
    opacity: 0.2;
  }

  td > paramset-sk div {
    display: block;
  }

  .dialogButtons {
    display: flex;
    justify-content: flex-end;
    margin: 8px;
  }

  .dialogButtons button {
    font-size: 110%;
    margin: 8px;
  }
}

alerts-page-sk > {
  checkbox-sk {
    margin-top: 2em;
  }

  .warning {
    color: var(--error);
    font-weight: bold;
  }

  table > tbody > tr > td {
    border-bottom: solid var(--on-surface) 1px;
  }
}
