@import '../themes/themes.scss';

alerts-page-sk {
  dialog {
    background: var(--background);
    border: solid 1px var(--on-background);
    color: var(--on-background);
  }

  td {
    padding: 0.2em 1em;
  }

  td > build-icon-sk,
  td > create-icon-sk,
  td > a > build-icon-sk,
  td > delete-icon-sk {
    padding: 0.4em;
    cursor: pointer;
    fill: var(--primary);
  }

  td > build-icon-sk:hover,
  td > create-icon-sk:hover,
  td > a > build-icon-sk:hover,
  td > delete-icon-sk:hover {
    background: var(--surface-1dp);
  }

  create-icon-sk[disabled],
  delete-icon-sk[disabled],
  build-icon-sk[disabled],
  button.fab[disabled] {
    opacity: 0.2;
  }

  td > paramset-sk div {
    display: block;
  }
}

alerts-page-sk > {
  checkbox-sk {
    margin-top: 2em;
  }

  .warning {
    color: var(--error);
    font-weight: bold;
  }

  button.fab {
    position: fixed;
    right: 2em;
    bottom: 2em;
  }

  table > tbody > tr > td {
    border-bottom: solid var(--on-surface) 1px;
  }
}
