[Unit]
Description=Skia log serving application.
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/logserverd --port=:10115 --dir=/var/log/logserver --log_dir=/var/log/logserver
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
