domain-picker-sk {
  .controls {
    justify-content: flex-end;
    display: flex;
  }

  .description {
    text-transform: initial;
  }

  p {
    font-style: italic;
  }

  .ranges label {
    display: block;
    height: 2em;
  }

  .ranges label span {
    display: inline-block;
    width: 10em;
  }
}
