@import '~elements-sk/colors';

domain-picker-sk {
  .controls {
    justify-content: flex-end;
    display: flex;
  }

  .description {
    text-transform: initial;
  }

  p {
    font-style: italic;
  }

  .ranges > label {
    display: block;
  }

  .ranges > label > span.prefix {
    display: inline-block;
    width: 50px;
  }

  .ranges > label > input {
    color: var(--on-surface);
    background: var(--surface-1dp);
    width: 50px;
  }

  input[type='number'] {
    width: 92px; // Because Safari has bad default sizing.
  }

  calendar-input-sk {
    display: inline-block;
  }
}
