[Unit]
Description=Status page for Skia
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/local/bin/status \
    --logtostderr \
    --workdir=/mnt/pd0/status_workdir \
    --use_metadata=true \
    --host=status-staging.skia.org \
    --resources_dir=/usr/local/share/status \
    --capacity_recalculate_interval=30m \
    --firestore_instance=staging \
    --pubsub_topic_set=staging \
    --repo=https://skia.googlesource.com/skiabot-test.git \
    --swarming_url=https://chromium-swarm-dev.appspot.com \
    --task_scheduler_url=https://task-scheduler-staging.skia.org \
    --task_db_url=http://skia-task-scheduler-staging:8008/db/
Restart=always
User=default
Group=default
LimitNOFILE=10000
Environment=TMPDIR=/mnt/pd0/tmp

[Install]
WantedBy=multi-user.target
