[Unit]
Description=Status page for Skia
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/local/bin/status \
    --logtostderr \
    --workdir=/mnt/pd0/status_workdir \
    --use_metadata=true \
    --host=status.skia.org \
    --resources_dir=/usr/local/share/status \
    --capacity_recalculate_interval=30m \
    --pubsub_topic_tasks=task-scheduler-modified-tasks \
    --pubsub_topic_jobs=task-scheduler-modified-jobs \
    --task_db_url=http://skia-task-scheduler:8008/db/
Restart=always
User=default
Group=default
LimitNOFILE=10000
Environment=TMPDIR=/mnt/pd0/tmp

[Install]
WantedBy=multi-user.target
