[Unit]
Description=Internal status page for Skia
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/local/bin/status \
    --bigtable_project=google.com:skia-corp \
    --bigtable_instance=internal \
    --logtostderr \
    --workdir=/mnt/pd0/status_workdir \
    --use_metadata=true \
    --host=status-internal.skia.org \
    --resources_dir=/usr/local/share/status \
    --capacity_recalculate_interval=30m \
    --firestore_instance=internal \
    --pubsub_topic_set=internal \
    --repo=https://skia.googlesource.com/skia_internal.git \
    --repo=https://skia.googlesource.com/internal_test.git \
    --swarming_url=https://chrome-swarming.appspot.com \
    --task_scheduler_url=https://skia-task-scheduler-internal-8000-proxy.skia.org \
    --task_db_url=http://skia-task-scheduler-internal:8008/db/
Restart=always
User=default
Group=default
LimitNOFILE=10000
Environment=TMPDIR=/mnt/pd0/tmp

[Install]
WantedBy=multi-user.target
