body {
  margin: 0;
  padding: 0;
}

main {
  padding: 5px;

  .output {
    display: inline-block;
    vertical-align: top;
    max-width: 500px;

    .widget {
      display: inline-block;
      margin: 0 3px;
      padding: 2px;
      border-radius: 5px;
      border: 1px solid #DDD;
      * {
        vertical-align: middle;
      }
    }

    .buttons, canvas {
      display:block;
    }

    canvas {
      border: 1px dashed grey;
      vertical-align: top;
    }
  }
}

header {
  margin: 0;
  padding: 1em 0.5em;
  color: white;
  background: #1f78b4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    color: white;
  }

  .title {
    font-size: 1.5em;
    font-weight: bold;
  }

  .npm {
    margin: auto 10px;
    font-size: 1.0em;
  }

  .version {
    margin: auto;
    font-size: 1.1em;

  }
}

.code {
  font-family: monospace;
}

#editor {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background: #ddd;
  font-family: monospace;
  font-size: 13px;
  width: 57em;

  textarea {
    background: #eee;
    border: none;
    font-family: monospace;
    font-size: 13px;
    margin-left: 5em;
    outline: none;
    overflow-x: auto;
    padding: 0.5em 0.5em 2.0em 0.5em;
    resize: none;
  }

  .numbers {
    position: absolute;
    top: 0;
    left: 0;
    font-family: monospace;
    font-size: 13px;
    padding: 0.5em;
    text-align: right;
    background: #ddd;
    width: 3em;
  }
}

.flex {
  flex: 1;
  flex-basis: 0.000000001px;
}

button.action {
  cursor: pointer;

  &.prompt {
    animation: pulse .8s 5 linear;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 8px 4px #4caf50;
  }

  50% {
    box-shadow: 0px 0px 8px 8px #4caf50;
  }

  100% {
    box-shadow: 0px 0px 8px 4px #4caf50;
  }
}

#logsContainer {
  margin-top: 5px;
  width: 100%;
  min-height: 200px;
}