[Unit]
Description=ChromeVR Gold traceserver
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/local/bin/chromevr_gold_traceserver \
    --db_file=/mnt/pd0/chromevr_gold/traceserver/chromevr_gold_traces.db \
    --http_port=:9192 \
    --port=:9092 \
    --prom_port=:20005 \
    --logtostderr
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
