[Unit]
Description=PDF ingester
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/local/bin/pdf_ingestion \
    --config_filename=/etc/pdf_ingestion/config.json5 \
    --logtostderr \
    --prom_port=:20002
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
