[Unit]
Description=Pdfium Gold ingester
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/local/bin/pdfium-gold-ingestion \
    --config_filename=/etc/pdfium-gold-ingestion/config.json5 \
    --ds_namespace=gold-pdfium \
    --http_port=:9092 \
    --logtostderr \
    --prom_port=:20001
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
