[Unit]
Description=Perf traceserver
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/perf_traceserver \
    --db_file=/mnt/pd0/traceserver/perftraces.db \
    --graphite_server=skia-monitoring:2003 \
    --port=:9000 \
    --log_dir=/var/log/logserver
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
