[Unit]
Description=Gold ingester
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/local/bin/skia-gold-ingestion \
    --config_filename=/etc/skia-gold-ingestion/config.json5 \
    --ds_namespace=gold-skia-prod \
    --http_port=:9093 \
    --logtostderr \
    --prom_port=:20000
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
