[Unit]
Description=Gold Stage Ingester
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/local/bin/stage-gold-ingestion \
    --config_filename=/etc/stage-gold-ingestion/config.json5 \
    --namespace=gold-skia-stage \
    --http_port=:9094 \
    --logtostderr \
    --prom_port=:20005
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
