@use '../../../elements-sk/modules/styles/buttons';
@use '../../../elements-sk/modules/colors';
@use '../themes/themes';

// Legacy color scheme.
triage2-sk {
  .positive {
    fill: var(--green);
  }

  .negative {
    fill: var(--red);
  }

  .untriaged {
    fill: var(--brown);
  }

  button:not([selected]) {
    fill: var(--on-disabled, var(--light-gray));
    background: var(--surface-1dp, var(--dark-white));
  }

  .positive:hover,
  .negative:hover,
  .untriaged:hover,
  .positive[raised]:hover,
  .negative[raised]:hover,
  .untriaged[raised]:hover {
    background: var(--surface, var(--light-gray));
  }

  button {
    padding: 0;
  }
}

// Theme based color scheme.
.body-sk triage2-sk {
  button {
    background: var(--surface);
    margin-right: 8px;
    padding: 4px;
  }

  .positive {
    fill: var(--positive);
  }

  .negative {
    fill: var(--negative);
  }

  .untriaged {
    fill: var(--untriaged);
  }

  button:not([selected]) {
    fill: var(--on-disabled);
    background: var(--surface-1dp);
  }

  .positive:hover,
  .negative:hover,
  .untriaged:hover,
  .positive[raised]:hover,
  .negative[raised]:hover,
  .untriaged[raised]:hover {
    background: var(--surface);
  }
}

.body-sk.darkmode triage2-sk {
  button:not([selected]) {
    fill: var(--disabled);
    background: var(--surface-1dp);
  }
}
