[Unit]
Description=Skia imageinfo extracts interesting info from an image.
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/imageinfo \
 --logtostderr \
 --resources_dir=/usr/local/share/imageinfo/ \
 --work_root=/mnt/pd0/imageinfo \
 --depot_tools=/mnt/pd0/depot_tools
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
