<!DOCTYPE html>
<html>
<head>
    <title>Android compile server for Skia bots</title>
    {{template "header.html" .}}
</head>
<body>
    <list-tasks-sk></list-tasks-sk>

    <script type="text/javascript" charset="utf-8">
      (function() {
         $$$('list-tasks-sk').androidCompileInstances = {{.AndroidCompileInstances}};
         $$$('list-tasks-sk').unownedPendingTasks = {{.UnownedPendingTasks}};
         $$$('list-tasks-sk').ownedPendingTasks = {{.OwnedPendingTasks}};
       })();
    </script>
</body>
</html>
