explore-sk {
  .test-picker {
    margin-left: 16px;
    margin-top: 30px;
  }
  md-outlined-button {
    --md-outlined-button-container-shape: 4px;
    margin-right: 8px;
  }
  #test-picker {
    width: 100%;
    display: block;
  }
  #test-picker.hidden {
    display: none;
  }
  #add-graph-button.hidden {
    display: none;
  }
}
