@import '../../../elements-sk/modules/styles/buttons';
@import '../themes/themes.scss';

new-bug-dialog-sk {
  #new-bug-dialog {
    overflow: auto;
    width: 45%;
    #closeIcon {
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
      margin-top: 10px;
      margin-right: 11px;
      border: none;
      padding: 5px;
      cursor: pointer;
    }
    #title {
      width: 95%;
    }
    #description {
      width: 95%;
    }
    .footer {
      display: flex;
      justify-content: right;
    }
  }
}
