@import '../../../elements-sk/modules/styles/buttons';
@import '../themes/themes.scss';

new-bug-dialog-sk {
  #new-bug-dialog {
    overflow: auto;
    width: 45%;
    padding: 16px;
    border: solid var(--on-background) 1px;
    color: var(--on-background);
    background: var(--background);
    textarea {
      background: var(--background);
      color: var(--on-surface);
      border: solid 1px var(--on-surface);
    }

    #closeIcon {
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
      margin-top: 10px;
      margin-right: 11px;
      border: none;
      padding: 5px;
      cursor: pointer;
    }
    #title {
      width: 95%;
    }
    #description {
      width: 95%;
    }
  }
  #loading-popup {
    border-radius: 8px;
    padding: 20px;
    text-align: center;
  }
}
