@import '../themes/themes.scss';

cluster-lastn-page-sk {
  dialog {
    z-index: 4;
    background: var(--background);
    color: var(--on-background);
    border: solid 1px var(--on-background);
  }

  .running {
    display: flex;
    align-items: center;

    spinner-sk {
      width: 12px;
      height: 12px;
    }
  }

  .messages {
    overflow-x: auto;
    width: 75%;
  }
}
