@import '../colors.css';

chromium-perf-sk {
  select-sk {
    * {
    padding: 0;
    }
    [selected] {
      background-color: var(--primary-variant);
    }
  }

  paper-input {
    width: 20em;
  }

  .triggering-spinner {
    margin: auto;
    vertical-align: middle;
  }


  .long-field {
    width: 40em;
  }

  .smaller-font {
    font-size: 80%;
  }

  table.options>tr>td {
    padding: 1em 2em;
  }

  td.center {
    text-align:center;
    padding-top:2em;
  }
}
