[Unit]
Description=Coverage ingester and frontend
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/coverage-ingest \
  --logtostderr \
  --log_dir="" \
  --resources_dir=/usr/local/share/coverage-ingest/ \
  --extract_dir=/mnt/pd0/extract \
  --git_dir=/mnt/pd0/git \
  --cache_path=/mnt/pd0/boltdb \
  --n_commits=50 \
  --ingest_period=1m
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
