@import '../colors.css';

arb-config-sk {
}

#editor {
    display: grid;
    grid-template-columns: auto auto;
}

#commitMsgTmpl {
    display: inline-flex;
    width: 100%;

    > div {
        padding: 0px 10px;
    }
}

.help-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;

    help-icon-sk {
        vertical-align: top;
    }

    help-icon-sk > svg {
        width: 12px;
        height: 12px;
    }

    .help-tooltip-text {
        display: inline-block;
        visibility: hidden;
        position: absolute;
        z-index: 1;
        border: 1px solid var(--surface-1dp);
        padding: 5px;
        width: 250px;
    }
}

.help-tooltip:hover .help-tooltip-text {
    visibility: visible;
}

table {
    width: 100%;
}

tr {
    border: none;
}

td {
    padding: 10px 0px;

    > button {
        margin: 5px 0px 0px 0px;
        border: none;
        background: none;
        padding: 0px;
    
        svg {
            margin: 0px;
        }
    }

    > input {
        width: 100%;
    }

    > select {
        width: 100%;
    }
}

textarea {
    width: 100%;
}