[Service]
User=chrome-bot
Group=chrome-bot
ExecStart=/usr/local/bin/prometheus \
  --config.file=/etc/prometheus/prometheus.yml \
  --storage.tsdb.path=/var/lib/prometheus/data \
  --storage.tsdb.retention.time=60d \
  --web.listen-address=:{{ all.prometheus.web_server_port }}
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target