[Unit]
Description=Task Scheduler for Skia
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/local/bin/task_scheduler \
    --bigtable_project=skia-public \
    --bigtable_instance=production \
    --host=task-scheduler.skia.org \
    --logtostderr \
    --pubsub_topic_set=production \
    --workdir=/mnt/pd0/task_scheduler_workdir \
    --resources_dir=/usr/local/share/task-scheduler/
Restart=always
User=default
Group=default
LimitNOFILE=10000
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/mnt/pd0/depot_tools
Environment=TMPDIR=/mnt/pd0/tmp

[Install]
WantedBy=multi-user.target
