[Unit]
Description=Trigger backup of Task Scheduler BoltDB Database
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
Type=oneshot
# Touch "workdir/triggerdir/basename", where:
#  - workdir is --workdir argument in task-scheduler.service
#  - triggerdir is recovery.TRIGGER_DIRNAME in backups.go
#  - basename is the base filename of the target backup file
ExecStartPre=mkdir -p /mnt/pd0/task_scheduler_workdir/trigger-backup
ExecStart=/usr/bin/touch /mnt/pd0/task_scheduler_workdir/trigger-backup/task-scheduler-nightly
User=default
Group=default
LimitNOFILE=10000
