[Unit]
Description=Run task-scheduler-db-backup.service nightly.

[Timer]
OnCalendar=*-*-* 05:00:00
Persistent=false

[Install]
WantedBy=timers.target
