[Unit]
Description=Internal Task Scheduler for Skia
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/local/bin/task_scheduler \
    --bigtable_project=google.com:skia-corp \
    --bigtable_instance=internal \
    --gsBucket=skia-task-scheduler-internal \
    --host=task-scheduler-internal.skia.org \
    --firestore_instance=internal \
    --isolate_server=https://chrome-isolated.appspot.com \
    --logtostderr \
    --pool=SkiaInternal \
    --pubsub_project=google.com:skia-corp \
    --pubsub_topic_set=internal \
    --pubsub_topic=swarming-tasks-internal \
    --pubsub_subscriber=task-scheduler-internal \
    --repo=https://skia.googlesource.com/internal_test.git \
    --repo=https://skia.googlesource.com/skia_internal.git \
    --resources_dir=/usr/local/share/task-scheduler/ \
    --swarming_server=chrome-swarming.appspot.com \
    --tryjob_bucket=skia.internal \
    --workdir=/mnt/pd0/task_scheduler_workdir
Restart=always
User=default
Group=default
LimitNOFILE=10000
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/mnt/pd0/depot_tools
Environment=TMPDIR=/mnt/pd0/tmp

[Install]
WantedBy=multi-user.target
