[Unit]
Description=Staging Task Scheduler for Skia
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/local/bin/task_scheduler \
    --gsBucket=skia-task-scheduler-staging \
    --host=task-scheduler-staging.skia.org \
    --isolate_server=https://isolateserver-dev.appspot.com \
    --logtostderr \
    --pool=Skia \
    --pubsub_topic=swarming-tasks-staging \
    --pubsub_subscriber=task-scheduler-staging \
    --repo=https://skia.googlesource.com/skiabot-test.git \
    --resources_dir=/usr/local/share/task-scheduler/ \
    --swarming_server=chromium-swarm-dev.appspot.com \
    --tryjob_bucket=skia.staging \
    --workdir=/mnt/pd0/task_scheduler_workdir
Restart=always
User=default
Group=default
LimitNOFILE=10000
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/mnt/pd0/depot_tools
Environment=TMPDIR=/mnt/pd0/tmp

[Install]
WantedBy=multi-user.target
