[Unit]
Description=Trigger Task Scheduler Nightly Jobs
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
Type=oneshot
# Touch "workdir/triggerdir/trigger", where:
#  - workdir is --workdir argument in task-scheduler.service
#  - triggerdir is scheduling.TRIGGER_DIRNAME in periodic.go
#  - trigger selects Jobs by the value of JobSpec.Trigger
ExecStart=/usr/bin/touch /mnt/pd0/task_scheduler_workdir/periodic-trigger/nightly
User=default
Group=default
LimitNOFILE=10000
