toast-sk {
  display: block;
  visibility: hidden;
  position: fixed;
  left: 10px;
  bottom: 0;
  color: #FFF;
  fill: #FFF;
  background: #175A87;
  border-radius: 4px;
  padding: 10px 15px;
  opacity: 0;
  z-index: 20;
}

toast-sk[shown] {
  visibility: visible;
  opacity: 1;
  bottom: 10px;
  transition: bottom 0.3s linear, opacity 0.3s linear, visibility 0s;
}
