/* app css stylesheet */

.navbar {
    margin-bottom: 0;
}

.imagesColumn {
    height: 640px;
    overflow: auto;
}

.columnImg {
    max-width:100%;
    max-height: 100%;
    padding: 0.5em;
    width:100%;
    border: 1px solid black;
}

.diffImg {
    max-width:100%;
    max-height: 100%;
    padding-bottom: 1em;
}

.selectedImg {
    border: 3px solid #1F78B4;
}

.positiveLabel {
    color: #33A02C;
}

.negativeLabel {
    color: #E31A1C;
}

.untriagedLabel {
    color: #B3B3B3;
}

.triageHeadLine {
    font-size: 18pt;
}

.triageHeader {
    padding-top: 1em;
    padding-bottom: 1em;
}

.triageSubHeader {
    padding-left: 0;
}

.posNegButtonContainer {
    padding-bottom: 1em;
    min-height: 5em;
}

.queryHeader {
    border: 1px solid #B1B1B1;
    padding: 1em;
    margin-left: 0;
    margin-right: 0;
}

.queryTitle {
    font-size: 16pt;
}

.queryTitle a {
    color: inherit;
}

.querySelect {
    height: 15em !important;
}

.countsQueryContainer {
    margin-top: 2em;
}

.busyLoading {
    opacity: 0.3;
}

.srcImageContainer {
    padding-bottom: 1em;
}

.identicalContainer {
    padding-left: 0;
    padding-right: 0;
    padding-top: 5em;
    text-align: center;
    font-size: large;
}

.stateHeader {
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 16pt;
    color: #D95F02;
}


.imageBorder {
    padding:0;
    margin: 0;
    border: 1px solid black;
}

.imgNoBorder {
    padding: 0;
    margin: 0;
}

.diffImg {
    max-width:100%;
    max-height: 100%;
    width: 100%;
}

.stateChanged {
    background-color: #FB9a99;
}

.statusOk {
    color: #66A61E !important;
    word-wrap: normal;
    font-size: 16pt;
    margin: 10px;
}

li.statusOk > a {
    color: inherit !important;
    display:inline;
    padding:0;
}

.statusFail {
    color: #E31A1C !important;
    word-wrap: normal;
    font-size: 16pt;
    margin: 10px;
}

li.statusFail > a {
    color: inherit !important;
    display:inline;
    padding:0;
}

.autoRange {
    display: inline;
    padding-left: 2em;
}
