[Unit]
Description=Web server for processing and viewing CT Pixel Diff runs
Wants=network-online.target
After=network-online.target

[Service]
Environment=DATA_DIR=/mnt/pd0/ct_pixel_diff  \

ExecStart=/usr/local/bin/ct_pixel_diff  \
    -bolt_dir=${DATA_DIR}/diffs  \
    -cache_size=20  \
    -force_login=true  \
    -gs_bucket=cluster-telemetry  \
    -gs_basedirs=tasks/pixel_diff_runs  \
    -image_dir=${DATA_DIR}/imagedir  \
    -ingest_days=30  \
    -port=:8000  \
    -prom_port=:20000  \
    -resources_dir=/usr/local/share/ct_pixel_diff/frontend  \
    -status_dir=${DATA_DIR}/status

Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
