body {
  margin: 0;
  padding: 0;
}

power-index-sk {
  .content {
    padding: 5px;
  }

  header {
    margin: 0;
    padding: 0.2em 1em;
    color: white;
    background: #6b367d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header > span {
    padding: .5em;
    font-weight: bold;
  }

  table {
    border-collapse: collapse;
    margin-left: 5px;
  }
  td, th {
    border: 1px solid #DDD;
    padding: 5px;
  }
  th {
    position: relative;
  }

  .code {
    font-family: monospace;
  }
}