@import '~elements-sk/colors';

body {
  margin: 0;
  padding: 0;
}

app-sk {
  --sidebar-width: 0;

  header h1 {
    margin-left: 0.4em;
  }
}

power-index-sk {
  table {
    border-collapse: collapse;
    margin-left: 5px;
  }

  td, th {
    border: 1px solid var(--dark-white);
    padding: 5px;
  }

  th {
    position: relative;
  }

  .code {
    font-family: monospace;
  }
}
