tabs-sk > button {
  margin: 0;
  padding: 6px 12px;
  box-shadow: none;
  border-radius: 0;
  border: none;
  color: #333;
  fill: #333;
  background-color: #A6CEE3;
  border-bottom: solid 4px #175A87;

}

tabs-sk > button.selected {
  background: #175A87;
  border: none;
  box-shadow: none;
  color: white;
  fill: white;
}
