[Unit]
Description=test_machine_monitor
After=syslog.target network.target

[Service]
Type=simple
User=chrome-bot
{% if start_swarming is true %}
Environment=SWARMING_BOT_ID={{ ansible_facts['hostname'] }}
{% endif %}
ExecStart=/usr/local/bin/test_machine_monitor \
   --config=prod.json \
   --metadata_url=http://metadata/computeMetadata/v1/instance/service-accounts/default/token \
   {% if start_swarming is true %}
   --python_exe=/usr/bin/python3 \
   --start_swarming \
   {% endif %}
   --username=chrome-bot
Restart=always

[Install]
WantedBy=multi-user.target