[Unit]
Description=test_machine_monitor
After=syslog.target network.target

[Service]
Type=simple
User=chrome-bot
{% if install_test_machine_monitor__start_swarming is true %}
Environment=SWARMING_BOT_ID={{ ansible_facts['hostname'] }}
Environment=SWARMING_EXTERNAL_BOT_SETUP=1
{% endif %}
{% if install_test_machine_monitor__linux_run_under_desktop is true %}
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/chrome-bot/.Xauthority
{% endif %}


ExecStart=/usr/local/bin/test_machine_monitor \
   --config=prod.json \
   --prom_port=:{{ all.prometheus.monitoring.ports.test_machine_monitor }} \
   --metadata_url=http://metadata:{{ all.metadata_server_port }}/computeMetadata/v1/instance/service-accounts/default/token \
   {% if install_test_machine_monitor__start_swarming is true %}
   --python_exe=/usr/bin/python3 \
   --start_swarming \
   {% endif %}
   --username=chrome-bot
Restart=always

[Install]
{% if install_test_machine_monitor__linux_run_under_desktop is true %}
WantedBy=graphical.target
{% else %}
WantedBy=multi-user.target
{% endif %}
