@import '~elements-sk/colors';

@import '~elements-sk/themes/themes.css';

word-cloud-sk {
  font-size: 12px;

  td {
    padding: 2px;
    border: solid 1px var(--light-gray);
  }

  table {
    border-collapse: collapse;
  }

  .value {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
  }

  .percent {
    width: 100px;
  }

  .percent div {
    background: var(--gray);
    height: 12px;
  }

  .textpercent {
    text-align: right;
  }
}

.body-sk word-cloud-sk {
  td {
    border: solid 1px var(--on-surface);
  }

  .percent div {
    background: var(--primary);
    height: 12px;
  }
}
