[Unit]
Description=Skia Debugger Content Server
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/skdebugger \
    --resources_dir=/usr/local/share/skdebugger/  \
    --image_dir=/mnt/pd0/container \
    --log_dir=/var/log/logserver \
    --work_root=/mnt/pd0/debugger \
    --depot_tools=/mnt/pd0/depot_tools \
    --hosted \
    --port=:8000
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
