@import '../../../elements-sk/modules/colors';

commit-detail-sk {
  a,
  .linkish {
    color: var(--blue);
    display: flex;
    align-items: center;

    md-outlined-button {
      --md-outlined-button-container-shape: 4px;
      margin-right: 8px;
    }
  }

  pre {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .tip {
    padding: 0.41em;
    margin: 0.6em;
    display: flex;
  }

  .hidden {
    display: none;
  }
}

@import '../themes/themes.scss';

.body-sk commit-detail-sk {
  a,
  .linkish {
    color: var(--primary);
  }
}
