@import '../../../elements-sk/modules/colors';

commit-detail-sk {
  a,
  .linkish {
    text-decoration: underline;
    color: var(--blue);
    display: flex;
    align-items: center;
  }

  pre {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .tip {
    padding: 0.41em;
    border: solid var(--dark-white) 1px;
    margin: 0.6em;
    display: flex;
    gap: 4px;
  }

  .hidden {
    display: none;
  }
}

@import '../themes/themes.scss';

.body-sk commit-detail-sk {
  a,
  .linkish {
    text-decoration: underline;
    color: var(--primary);
  }

  .tip {
    border: solid var(--on-surface) 1px;
  }
}
