@import '~elements-sk/colors';

commit-detail-sk {
  a,
  .linkish {
    text-decoration: underline;
    color: var(--blue);
  }

  pre {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
  }

  .tip {
    padding: 0.41em;
    border: solid var(--dark-white) 1px;
    margin: 0.6em;
    display: inline-block;
  }

  .hidden {
    display: none;
  }
}

@import '~elements-sk/themes/themes.css';

.body-sk commit-detail-sk {
  a,
  .linkish {
    text-decoration: underline;
    color: var(--primary);
  }

  .tip {
    border: solid var(--on-surface) 1px;
  }
}
