@import '../../../elements-sk/modules/colors';
@import '../../themes.scss';

task-summary-sk {
  pre {
    white-space: pre-wrap;
  }

  /**
   * Styling for tables.
   * TODO(borenet): Move these to a common module.
   */
  table {
    border-collapse: collapse;
    display: table;
  }

  tr {
    border-bottom: 1px solid #eeeeee;
    display: table-row;
  }

  tr:hover {
    background-color: var(--dark-white);
  }

  tr:hover tr:hover {
    background-color: #ffffff;
  }

  td,
  th {
    display: table-cell;
    padding: 10px;
  }

  td {
    font-size: 0.813em;
    vertical-align: middle;
  }
}

.darkmode task-summary-sk {
  tr:hover {
    background-color: var(--surface-2dp);
  }
}
