@import '~elements-sk/colors';

body {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0.6em;
  color: white;
  background: var(--blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header h1 {
  font-size: 110%;
}
