@import '../colors';

cluster-digests-sk {
  // This guarantees that the <cluster-digests-sk> DOM node will have the same width and height as
  // the child <svg> node.
  display: inline-flex;

  svg {
    border: 1px solid grey;

    circle.node {
      stroke-width: 2px;
      cursor: pointer;

      &.positive {
        fill: var(--triaged-positive);
      }

      &.negative {
        fill: var(--triaged-negative);
      }

      &.untriaged {
        fill: var(--untriaged);
      }

      &.selected {
        stroke-width: 5px;
      }
    }
  }
}
