[Unit]
Description=InfluxDB Instance for Skia
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/bin/influxd \
    -pidfile /var/run/influxdb/influxd.pid \
    -config /opt/influxdb/shared/config.toml
Restart=always
User=root
Group=root
LimitNOFILE=10000
ExecStartPost=-/usr/bin/influx -port 10117 -execute "CREATE DATABASE skmetrics"
ExecStartPost=-/usr/bin/influx -port 10117 -execute "CREATE RETENTION POLICY one_week ON skmetrics DURATION 720h REPLICATION 1 DEFAULT"
ExecStartPost=-/usr/bin/influx -port 10117 -execute "CREATE RETENTION POLICY one_week ON graphite  DURATION 720h REPLICATION 1 DEFAULT"

[Install]
WantedBy=multi-user.target
