<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <link href="res/css/main.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Gonna have to figure out the proper path in a real project later.. -->
    <script src="res/js/flot/jquery.flot.js"></script>
    <script src="res/js/flot/jquery.flot.crosshair.js"></script>
    <script src="res/js/flot/jquery.flot.navigate.js"></script>
    <script src="res/js/logic.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="plot-wrapper">
            <div id="chart">
            </div>
            <input id="min-zoom" class="zoom-control" type="range"></input>
            <input id="min-zoom-value" class="zoom-input"></input>
            <input id="max-zoom" class="zoom-control" type="range"></input>
            <input id="max-zoom-value" class="zoom-input"></input>
        </div>
        <div>
            <div id="legend">
                <table><tbody></tbody></table>
            </div>
            <a id="nuke-plot" href="#">Remove all</a>
        </div>
        <div>
            <form id="results-form" action="" method="POST">
                <table><tr id="line-form">
                </tr></table>
                <input id="add-lines" type="button"
                    value="Add lines"></input>
                <input type=radio name=schema-type value=skps checked>Perf</input>
                <input type=radio name=schema-type value=micro>Microbench</input>
            </form>
            <div id='line-num'></div>
        </div>

    </div>
    <div id="note">
        <div id="data"></div>
    </div>
    <div id="notification">
        <div id="notification-text">Please turn on Javascript</div>
    </div>
</body>
</html>
