<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <script src="res/js/perf.js"></script>
    <script src="res/js/logic2.js"></script>
</head>
<body>
    <h2>Plot</h2>
    <div id="plot"></div>

    <h2>Legend</h2>
    <div id="legend"> </div>
    <button type="submit" id="removeTrace">Remove Trace</button>
    <button type="submit" id="toggleTrace">Toggle Trace</button>

    <h2>Query</h2>
    <div id="query"> </div>
    <button type="submit" id="addTrace">Add Trace</button>
    <button type="submit" id="changeTile">Change Tile</button>
</body>
</html>
