binary-page-sk {
  display: flex;
  flex-direction: column;
  height: 100%;

  .author-and-timestamp,
  .compile-task {
    font-size: .8em;
  }

  .instructions {
    font-weight: bold;
  }

  div#treemap {
    margin-top: 10px;
    flex: 1;
  }

  #treemap svg text {
    font-size: 1rem;
  }
}
.cell-tooltip {
  border-radius: 8px;
  padding:10px;
  border-style: solid;
  font-size: 1rem;
  font-family: serif;
}