binary-page-sk {
  display: flex;
  flex-direction: column;
  height: 100%;

  .author-and-timestamp,
  .compile-task {
    font-size: .8em;
  }

  .instructions {
    font-weight: bold;
  }

  .search-bar {
    display: flex;
    flex-direction: column;
    margin:1em;
    max-width: 90%;
    background: var(--background);
    min-height: 20px;
    position: relative;
  }

  // /* The search box inside the navigation bar */
  .search-bar input[type=text] {
    font-size: 1rem;
  }

  .search-match-list {
    position: absolute;
    z-index: 1;
    top: 20px;

    background-color: var(--surface);
    border: 2px solid var(--on-surface);
    color: var(--on-surface);
    list-style-type: none;
    padding: 5px;

    li.selected {
      background-color: var(--primary-highlight);
    }
    li:hover {
      background-color: var(--primary-highlight);
      cursor: pointer;
    }
  }

  div#treemap {
    margin-top: 10px;
    flex: 1;
  }

  #treemap svg text {
    font-size: 1rem;
  }
}
.cell-tooltip {
  border-radius: 8px;
  padding:10px;
  border-style: solid;
  font-size: 1rem;
  font-family: serif;
}