binary-page-sk {
  display: flex;
  flex-direction: column;
  height: 100%;

  .author-and-timestamp,
  .compile-task {
    font-size: .8em;
  }

  .instructions {
    font-weight: bold;
  }

  .search-bar {
    display: flex;
    flex-direction: column;
    margin:1em;
    max-width: 90%;
    background: var(--background);
  }

  /* Links inside the navigation bar */
  .search-bar a {
    color: grey;
    text-align: left;
    text-decoration: none;
    font-size: 1rem;
  }

/* The "active" element to highlight the current node */
.search-bar a.active {
  background-color: #2196F3;
}

// /* The search box inside the navigation bar */
.search-bar input[type=text] {
  font-size: 1rem;
}

.search-match-list {
  margin:0em;
  list-style-type: none;
  overflow: auto;
}
.search-match-list-item:hover {
  opacity: 0.5;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

  div#treemap {
    margin-top: 10px;
    flex: 1;
  }

  #treemap svg text {
    font-size: 1rem;
  }
}
.cell-tooltip {
  border-radius: 8px;
  padding:10px;
  border-style: solid;
  font-size: 1rem;
  font-family: serif;
}