<div class="container-fluid ng-cloak" ng-cloak>
    <h3>Stats</h3>

    <div class="row stateHeader" ng-show="state === 'loading'">
    	Loading...Please wait.
    </div>

    <div class="row stateHeader" ng-show="state == 'retry'">
    	Server Busy Calculating Filediffs. We will reload in {{reloadInterval}}s.
    </div>

    <div class="row" ng-class="{ 'busyLoading': state !== 'ready' }">
    	<div class="col-md-7">
	        <div sk-flot data="plotData" ticks="plotTicks" style="width:100%; height:500px;">
	        </div>

	        <div class="countsQueryContainer">
		        <sk-query all-params="allParams" query="query" click-update="loadCounts()"></sk-query>
		    </div>
	    </div>

	    <div class="col-md-5">
			<table class="table table-hover table-condensed" style="font-size:font-size: small;">
		      <thead>
		        <tr>
		          <th>Test</th>
		          <th>+</th>
		          <th>-</th>
		          <th>Untriaged</th>
		          <th>&nbsp;</th>
		        </tr>
		      </thead>

		      <tbody>
		        <tr>
		          <td><a href="#/counts">All Tests</a></td>
		          <td>{{allAggregates.pos}}</td>
		          <td>{{allAggregates.neg}}</td>
		          <td>{{allAggregates.unt}}</td>
		          <td>&nbsp;</td>
		        </tr>
		        <tr ng-repeat="oneTest in allTests">
		          <td style="max-width:15em; word-break: break-all;"><a href="#/counts/{{oneTest.name}}"
		          	   title="{{oneTest.name}}">
		          	{{oneTest.name | limitTo:65 }}
		          </a></td>
		          <td>{{oneTest.aggregates.pos}}</td>
		          <td>{{oneTest.aggregates.neg}}</td>
		          <td>{{oneTest.aggregates.unt}}</td>
		          <td><a href="#/triage/{{oneTest.name}}{{qStr}}">Triage</a></td>
		        </tr>
		      </tbody>
		    </table>
	    </div>


    </div>
</div>
