<div class="container-fluid ng-cloak" ng-cloak>
    <div class="row">
    	<div class="col-md-2">
    		<div>
    			<img src="http://placehold.it/1000x1001" style="max-width:100%; max-height: 100%; padding-bottom: 1em;">
    		</div>
    		<div>
    			<img src="http://placehold.it/1000x1002" style="max-width:100%; max-height: 100%; padding-bottom: 1em;">
    		</div>
    		<div>
    			<img src="http://placehold.it/1000x1003" style="max-width:100%; max-height: 100%; padding-bottom: 1em;">
    		</div>
    		<div>
    			<img src="http://placehold.it/1000x1004" style="max-width:100%; max-height: 100%; padding-bottom: 1em;">
    		</div>
    	</div>

    	<div class="col-md-8">
    		<div>
	    		<div class="col-xs-6">
	    			<img src="http://placehold.it/1000x1001" style="max-width:100%; max-height: 100%; padding-bottom: 1em;">
	    		</div>
	    		<div class="col-xs-6">
	    			<img src="http://placehold.it/1000x1005" style="max-width:100%; max-height: 100%; padding-bottom: 1em;">
	    		</div>
	    	</div>
	    	<div>
	    		<div class="col-xs-12">
	    			<img src="http://placehold.it/1000x1005" style="max-width:100%; max-height: 100%; padding-bottom: 1em;">
	    		</div>
	    	</div>
    	</div>


    	<div class="col-md-2">
    		<div>
    			<img src="http://placehold.it/1000x1005" style="max-width:100%; max-height: 100%; padding-bottom: 1em;">
    		</div>
    		<div>
    			<img src="http://placehold.it/1000x1006" style="max-width:100%; max-height: 100%; padding-bottom: 1em;">
    		</div>
    		<div>
    			<img src="http://placehold.it/1000x1007" style="max-width:100%; max-height: 100%; padding-bottom: 1em;">
    		</div>
    		<div>
    			<img src="http://placehold.it/1000x1010" style="max-width:100%; max-height: 100%; padding-bottom: 1em;">
    		</div>
    	</div>
    </div>
</div>
