<div class="container-fluid ng-cloak" ng-cloak>
    <h3>Triage</h3>

    <div class="row stateHeader" ng-show="state === 'loading'">
    	Loading...Please wait.
    </div>

    <div class="row stateHeader" ng-show="state == 'retry'">
    	Server Busy Calculating Filediffs. We will reload in {{reloadInterval}}s.
    </div>

    <div class="row" ng-class="{ 'busyLoading': state !== 'ready' }">
        <div class="row countsQueryContainer">
        	<div class="col-xs-12">
		        <sk-query all-params="allParams"
		                  query="filteredQuery"
		                  click-update="loadAllTriageData()"></sk-query>
		    </div>
	    </div>
	    <br><br>

        <div class="row">
        	<div class="col-xs-6">
        		<div>
        			<div class="col-xs-2" style="padding:6px;">
        				<span style="font-weight: bold; text-align: right;">Commit Range:</span>
        			</div>
        			<div class="col-xs-3">
        				<input type="text"
        					   ng-model="commitRangeQuery[c.QUERY_COMMIT_START]"
        				       placeholder="Start Commit"
        				       style="width: 100%; padding: 6px;">
				    </div>
 				    <div class="col-xs-3">
					    <input type="text"
        					   ng-model="commitRangeQuery[c.QUERY_COMMIT_END]"
        					   placeholder="End Commit"
        					   style="width: 100%; padding: 6px;">
					</div>
					<div class="col-xs-3">
						<button ng-click="resetCommitRangeQuery()"
								ng-disabled="crClean"
						        class="btn btn-default">Reset</button>

						<button ng-click="selectCommitRange()"
						        ng-disabled="crClean"
						        class="btn btn-primary">Update</button>
					</div>
	  			</div>
        	</div>

        	<div class="col-xs-6 pull-right" style="padding: 6px;">
        		<div style="display:inline; font-weight: bold;">
        			Show # of commits:
        		</div>
        		<div class="autoRange" ng-repeat="cr in crLinks">
 	        		<span ng-if="cr.start.hash === commitRangeQuery[c.QUERY_COMMIT_START]">{{cr.name}}</span>
	        		<a ng-if="cr.start.hash !== commitRangeQuery[c.QUERY_COMMIT_START]" href=""  ng-click="selectCommitRange(cr)">{{cr.name}}</a>
	        	</div>
		    </div>
	    </div>
	    <br><br>

	    <div class="row">
	    	<div class="col-xs-12">
	    	</div>
	    </div>

    	<div class="row">
		    <div class="col-md-12">
				<table class="table table-hover table-condensed" style="font-size:font-size: small;">
			      <thead>
			        <tr>
			          <th>Test</th>
			          <th>+</th>
			          <th>-</th>
			          <th>Untriaged</th>
			          <th>Pos Image</th>
			          <th>Unt Image</th>
			          <th>Diff Image</th>
			          <th>&nbsp;</th>
			        </tr>
			      </thead>

			      <tbody>
<!-- 			        <tr>
			          <td><a href="#/counts">All Tests</a></td>
			          <td>{{allAggregates.pos}}</td>
			          <td>{{allAggregates.neg}}</td>
			          <td>{{allAggregates.unt}}</td>
			          <td>&nbsp;</td>
			          <td>&nbsp;</td>
			          <td>&nbsp;</td>
			          <td>&nbsp;</td>
			        </tr> -->
			        <tr ng-repeat="oneTest in allTests">
			          <td style="max-width:15em; word-break: break-all;"><a href="#/triage/{{oneTest.name}}{{qStr}}"
			          	   title="{{oneTest.name}}">
			          	{{oneTest.name | limitTo:65 }}
			          </a></td>
			          <td>{{oneTest.pos}}</td>
			          <td>{{oneTest.neg}}</td>
			          <td>{{oneTest.unt}}</td>
			          <td ng-style="{ width: settings.imageSize+'px' }">
			          	  <img ng-show="oneTest.showPos"
			          	  	   ng-style="{ width: imageSize+'px' }"
                               ng-src="{{ oneTest.showPos.imgUrl }}" >
                          <span ng-hide="oneTest.showPos">&nbsp;</span>
                      </td>
			          <td ng-style="{ width: settings.imageSize+'px' }">
			          	  <img ng-show="oneTest.showUnt"
			          	       ng-style="{ width: imageSize+'px' }"
                               ng-src="{{ oneTest.showUnt.imgUrl }}" >

                          <span ng-hide="oneTest.showUnt">&nbsp;</span>
                      </td>
			          <td ng-style="{ width: settings.imageSize+'px' }">
			          	   <img ng-show="oneTest.showDif"
			          	       ng-style="{ width: imageSize+'px' }"
                               ng-src="{{ oneTest.showUnt.diffs[0].diffImgUrl }}" >
                          <span ng-hide="oneTest.showDif">&nbsp;</span>
                      </td>
			          <td><a href="#/triage/{{oneTest.name}}{{qStr}}">Triage</a></td>
			        </tr>
			      </tbody>
			    </table>
		    </div>
		</div>

    </div>
</div>
