[Unit]
Description=Starts and stops a single Grafana instance on this system
Documentation=http://docs.grafana.org
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/default/grafana-server
User=grafana
Group=grafana
Type=simple
WorkingDirectory=/usr/share/grafana
ExecStartPre=chmod 777 /etc/grafana
ExecStartPre=/usr/bin/curl -o /etc/grafana/custom.ini   \
               -H "Metadata-Flavor: Google" \
               http://metadata/computeMetadata/v1/project/attributes/grafana_config
ExecStartPre=chown grafana:grafana /etc/grafana/custom.ini
ExecStart=/usr/sbin/grafana-server                                \
                            --config=/etc/grafana/custom.ini      \
                            --pidfile=${PID_FILE}                 \
                            cfg:default.paths.logs=${LOG_DIR}     \
                            cfg:default.paths.data=${DATA_DIR}
Restart=always
LimitNOFILE=10000
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
