leasing-scaffold-sk {
  text-align: center;

  * {
    font-family:Roboto,Helvetica,Arial,'Bitstream Vera Sans',sans-serif;
    font-size: 12px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
  }

  nav {
    display: flex;
    flex-direction: column;
    text-align: left;
    a {
      padding: 1em 1em;
      color: var(--on-surface); /* Override User Agent SS*/
      text-decoration: none;
    }
    span {
      padding: 0 0.5em;
      vertical-align: middle;
      font-size: 1.4em;
    }
    span:hover {
      text-decoration: underline;
    }
  }

  login-sk {
    margin-right: 1em;
  }

  /* Overrides to elements-sk elements since they set color internally. */
  svg.icon-sk-svg {
    fill: var(--on-surface);
  }

  h1 {
    font-weight: normal;
  }

  main {
    padding: 1em;
  }

  a {
    font-size: 1em;
  }

  .name {
    font-size: 20px;
  }
}
