# Commit Queue configuration file. The documentation of the format can be found
# at http://luci-config.appspot.com/schemas/projects/refs:cq.cfg.

version: 1
cq_status_url: "https://chromium-cq-status.appspot.com"
git_repo_url: "https://skia.googlesource.com/buildbot/"

gerrit {}

verifiers {
  gerrit_cq_ability {
    committer_list: "project-skia-committers"
    dry_run_access_list: "project-skia-tryjob-access"
  }

  try_job {
    buckets {
      name: "skia.primary"
      builders { name: "Housekeeper-OnDemand-Presubmit" }
      builders { name: "Infra-PerCommit-Small" }
      builders { name: "Infra-PerCommit-Medium" }
      builders { name: "Infra-PerCommit-Large" }
    }
    try_job_retry_config {
      try_job_retry_quota: 0
    }
  }
}
