search-page-sk {
  display: block;

  .top-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div.buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      button {
        white-space: nopwrap;
      }
    }
  };

  changelist-controls-sk {
    display: block;
    margin-left: 16px;
  }

  p.summary {
    margin-left: 16px;
  }

  digest-details-sk {
    display: block;
    border: 1px solid black;
    margin-left: 16px;
    margin-bottom: 16px;
  }

  dialog.help {
    dt {
      font-weight: bold;
      float: left;
    }

    div.buttons {
      display: flex;
      justify-content: flex-end;
    }
  }

  digest-details-sk {
    &.selected {
      outline: 2px dashed black;
      outline-offset: 3px;
    }
  }
}
