//@import '../colors.css';

commits-table-sk {
  #commitsTableContainer {
    //display: flex;
    //flex-direction: row;
    display: grid;
  }
  #commits {
    // height and width
    display: block;
    min-height: 780px;
    min-width: 50px;
    grid-row: 1 / -1;
  }
  .commit {
    //display: flex;
    font-family: monospace;
    font-size: .75em;
    height: 16px;
    padding: 2px;
    position: relative;
    cursor: pointer;
  }
  .commit:nth-child(even) {
    background-color: #EFEFEF;
  }
  #legend {
    border-right: 1px solid black;
    font-size: 10px;
    height: 68px;
  }

  #tasksTable {
    min-height: 780px;
    //display: flex;
    //flex-direction: row;
  }
}