//@import '../colors.css';

body {
  // temporary for demoing
  background-color: var(--background);
  color: var(--on-background);
  fill: var(--on-background);
}
commits-table-sk {
  background-color: var(--surface);
  color: var(--on-surface);
  #commitsTableContainer {
    //display: flex;
    //flex-direction: row;
    display: grid;
    gap: 2px 2px;
    border: solid 1px;
  }
  #rowOverlay {
    display: contents;
    div {
      z-index: -1;
    }
    div:nth-child(even) {
      background-color: #EFEFEF;
    }
  }
.task-spec {
background-color: var(--surface-1dp);
border-radius: 5px;
border: 1px solid;
box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
cursor: pointer;
height: 20px;
justify-content: center;
}
  #commits {
    // height and width
    display: block;
    ///////min-height: 780px;
    min-width: 50px;
    border: solid 1px;
    grid-row: 1 / -1;
    grid-column: 1 / 2;
  }
  .commit {
    //display: flex;
    font-family: monospace;
    font-size: .75em;
    height: 16px;
    padding: 2px;
    position: relative;
    cursor: pointer;
  }
  #legend {
    border-right: 1px solid;
    font-size: 10px;
   /////// height: 68px;
  }

  #tasksTable {
    min-height: 780px;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    border: solid 1px;
    display: contents;
    //grid-template-columns: subgrid;
    //grid-template-rows: subgrid;
    //display: flex;
    //flex-direction: row;
  }
  .category {
    border: solid 1px;
  }
  .task {
    border-radius: 3px;
    border: solid 1px;
    cursor: pointer;
  }
  .multicommit-task {
    display: grid;
    //gap: 3px 2px;
    .task {
      border-radius: initial;
      border: initial;
      border-left: solid 1px;
      border-right: solid 1px;
    }
    .task:first-child {
      border-top: solid 1px;
      border-radius: 3px 3px 0px 0px;
    }
    .task:last-child {
      border-bottom: solid 1px;
      border-radius: 0px 0px 3px 3px;
    }
    .task.dashed-top {
      border-top: dashed 1px;
    }
    .task.dashed-bottom {
      border-bottom: dashed 1px;
    }
  }
  .multicommit-task:hover {
    border-color: red;
    border-radius: 3px;
    border: solid 1px;
    cursor: pointer;
  }
  .grow {
    transition: all .2s ease-in-out;

  }
  .grow:hover {
    transform: scale(1.1);
    background-color: rgba(102, 166, 30, 0.9);
  }

    .task-success {
      background-color: rgba(102, 166, 30, 0.3);
    }
}

div.hidden.task {
  visibility: hidden;
}

// Darkmode overrides
.darkmode {
  #rowOverlay {
    div:nth-child(even) {
      background-color: var(--surface-2dp);
    }
  }
  .task-success {
    background-color: rgba(102, 166, 30, 0.7);
  }
}