@import '../../../../infra-sk/themes.scss';

skottie-text-editor-box-sk {
  .wrapper {
    display: block;
    list-style: none;
    margin-bottom: 10px;
    width: 100%;
  }

  .text-element {
    display: block;
    width: 100%;
    padding: 6px 0px 6px 0px;

    &-item {
      margin-bottom: 8px;
    }

    &-label {
      font-size: 14px;
      font-weight: 800;
      margin-bottom: 4px;
    }

    &-input {
      border: solid 1px var(--on-surface);
      color: var(--on-surface);
      background: var(--surface);
      border-radius: 4px;
      font-size: 14px;
      padding: 4px 2px 2px 2px;
      width: 100%;
      min-height: 70px;
    }

    &-origin {
      font-size: 12px;
    }

    .text-element-section {
      .text-element-section--title {
        color: var(--on-surface);
        font-size: 14px;
        padding: 16px 0 8px 0;
      }
    }
  }
}
