@import '../../../../infra-sk/themes.scss';

skottie-text-editor-box-sk {
  .wrapper {
    display: block;
    list-style: none;
    margin-bottom: 10px;
    width: 100%;

    .summary-label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .text-element {
    display: block;
    width: 100%;
    padding: 6px 0px 6px 0px;

    &-item {
      margin-bottom: 8px;
    }

    &-label {
      font-size: 14px;
      font-weight: 800;
      margin-bottom: 4px;
    }

    &-input {
      border: solid 1px var(--on-surface);
      color: var(--on-surface);
      background: var(--surface);
      border-radius: 4px;
      font-size: 14px;
      padding: 4px 2px 2px 2px;
      width: 100%;
      min-height: 70px;
    }

    &-origin {
      font-size: 12px;
    }

    .text-element-section {
      .text-element-section--title {
        color: var(--on-surface);
        font-size: 14px;
        padding: 16px 0 8px 0;
      }
    }
  }

  .text-box {
    display: inline-flex;
    width: 110px;
    align-items: center;
    background-color: var(--surface-2dp);
    border-radius: 4px;
    gap: 8px;
    padding: 4px;
    margin-top: 8px;

    &__left {
      border-radius: 4px 0 0 4px;
    }

    &__right {
      border-radius: 0 4px 4px 0;
    }

    &--label {
      display: inline-block;
      font-size: 22px;
    }

    &--input {
      flex: 1 1 auto;
      min-width: 0;
      border: none;
    }

    .text-box--label {
      .text-box--label--icon {
        font-size: 22px;
      }
    }
  }
}
