@import '../../../infra-sk/themes.scss';

skottie-text-editor-sk {
  .editor-header {
    align-items: center;
    display: flex;
    font-size: 18px;

    &-title {
      font-size: 18px;
      flex: 0 0 auto;
    }

    &-separator {
      flex: 1 1 auto;
    }

    &-save-button {
      cursor: pointer;
      flex: 0 0 auto;
      margin: 0 6px;
    }
  }

  .text-container {
    padding: 0;
  }
}
