@import '../../../infra-sk/themes';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*
  Only define deltas from the original theme and global changes from elemets-sk
  elements.
*/
body {
  margin: 0;
  padding: 0;
}

#bottom-spacer {
  height: 500px;
}
