[Unit]
Description=ChromeVR Gold ingester
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/local/bin/chromevr-gold-ingestion \
    --config_filename=/etc/chromevr-gold-ingestion/config.json5 \
    --namespace=gold-chromevr \
    --http_port=:9091 \
    --logtostderr \
    --prom_port=:20002
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
