[Unit]
Description=Diff server used by the back end of gold.skia.org.
Wants=network-online.target
After=network-online.target

[Service]
Environment=DATA_DIR=/mnt/pd0/data

ExecStart=/usr/local/bin/diffserver-prod \
    --grpc_port=:8000 \
    --image_dir=${DATA_DIR}/imageStore \
    --image_port=:8001 \
    --logtostderr \
    --prom_port=":20000" \
    --gs_buckets=skia-infra-gm,skia-infra-gm-internal \
    --cache_size=20

Restart=always
User=default
Group=default
LimitNOFILE=500000

[Install]
WantedBy=multi-user.target
