[Unit]
Description=Web server for Skia correctness monitoring.
Wants=network-online.target
After=network-online.target

[Service]
Environment=DATA_DIR=/mnt/pd0/data  \
  RESOURCE_DIR=/usr/local/share/skiacorrectness/frontend

ExecStart=/usr/local/bin/skiacorrectness-stage  \
    --app_title="Stage Gold" \
    --baseline_gs_path=skia-infra-gm/hash_files/gold-stage-baselines \
    --cache_size=20 \
    --diff_server_grpc=skia-diffserver-stage:8000 \
    --diff_server_http=skia-diffserver-stage:8001 \
    --ds_namespace=gold-skia-stage \
    --event_topic=gold-stage-eventbus \
    --force_login \
    --git_repo_dir=${DATA_DIR}/gold/skia \
    --hashes_gs_path=skia-infra-gm/hash_files/gold-stage-hashes.txt \
    --image_dir=${DATA_DIR}/imageStore  \
    --internal_port=:19000 \
    --logtostderr \
    --n_commits=100   \
    --port=:8001  \
    --prom_port=:20001 \
    --redirect_url=https://gold-stage.skia.org/oauth2callback/  \
    --resources_dir=${RESOURCE_DIR} \
    --storage_dir=${DATA_DIR}/datastore  \
    --trace_service=skia-tracedb:9090

Restart=always
User=default
Group=default
LimitNOFILE=500000

[Install]
WantedBy=multi-user.target
