[Unit]
Description=Web server for Skia correctness monitoring.
Wants=network-online.target
After=network-online.target

[Service]
Environment=DATA_DIR=/mnt/pd0/data  \
  RESOURCE_DIR=/usr/local/share/skiacorrectness  \

ExecStart=/usr/local/bin/skiacorrectness-prod  \
    --auth_users="google.com \
mtklein@chromium.org \
skia-external-gm-uploader@skia-swarming-bots.iam.gserviceaccount.com" \
    --baseline_gs_path=skia-infra-gm/baselines/gold-prod \
    --cache_size=20 \
    --diff_server_grpc=skia-diffserver-prod:8000 \
    --diff_server_http=skia-diffserver-prod:8001 \
    --ds_namespace=gold-skia-prod \
    --event_topic=gold-prod-eventbus \
    --force_login \
    --git_repo_dir=${DATA_DIR}/gold/skia \
    --hashes_gs_path=skia-infra-gm/hash_files/gold-prod-hashes.txt \
    --image_dir=${DATA_DIR}/imageStore  \
    --internal_port=:19000 \
    --logtostderr \
    --match_fields=name,style \
    --n_commits=150   \
    --port=:8001  \
    --prom_port=:20001 \
    --redirect_url=https://gold.skia.org/oauth2callback/  \
    --resources_dir=${RESOURCE_DIR}/frontend \
    --storage_dir=${DATA_DIR}/datastore  \
    --trace_service=skia-tracedb:9090

Restart=always
User=default
Group=default
LimitNOFILE=500000

[Install]
WantedBy=multi-user.target
