[Unit]
Description=Web server for Skia correctness monitoring.
Wants=network-online.target
After=network-online.target

[Service]
Environment=DATA_DIR=/mnt/pd0/data  \
  RESOURCE_DIR=/usr/local/share/skiacorrectness  \

ExecStart=/usr/local/bin/skiacorrectness-stage  \
    --port=:8001  \
    --logtostderr \
    --trace_service=skia-tracedb:9090 \
    --git_repo_dir=${DATA_DIR}/gold/skia \
    --image_dir=${DATA_DIR}/imageStore  \
    --storage_dir=${DATA_DIR}/datastore  \
    --resources_dir=${RESOURCE_DIR}  \
    --db_host=173.194.106.53 \
    --db_name=skiacorrectness_stage  \
    --redirect_url=https://gold-stage.skia.org/oauth2callback/  \
    --n_commits=100   \
    --cache_size=20 \
    --resources_dir=/usr/local/share/skiacorrectness/frontend \
    --prom_port=:20001 \
    --baseline_gs_path=skia-infra-gm/hash_files/gold-stage-baseline.json \
    --hashes_gs_path=skia-infra-gm/hash_files/gold-stage-hashes.txt \
    --diff_server_grpc=skia-diffserver-stage:8000 \
    --diff_server_http=skia-diffserver-stage:8001 \
    --force_login \
    --event_topic=testing-gold-stage-eventbus \
    --ds_namespace=gold_ingestion-localhost-stephana

Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
