[Unit]
Description=Web server for Skia correctness monitoring.
Wants=network-online.target
After=network-online.target

[Service]
Environment=DATA_DIR=/mnt/pd0/data  \
  RESOURCE_DIR=/usr/local/share/skiacorrectness/frontend  \

ExecStart=/usr/local/bin/skiacorrectness-pdfium  \
    --app_title="Pdfium Gold" \
    --auth_users="google.com" \
    --baseline_gs_path=skia-infra-gm/hash_files/gold-pdfium-baselines \
    --cache_size=20 \
    --default_corpus=corpus \
    --ds_namespace=gold-pdfium \
    --event_topic=gold-pdfium-eventbus \
    --force_login=false \
    --gerrit_url=https://pdfium-review.googlesource.com \
    --git_repo_dir=${DATA_DIR}/gold/pdfium_repo \
    --git_repo_url=https://pdfium.googlesource.com/pdfium \
    --gs_buckets=skia-pdfium-gm \
    --hashes_gs_path=skia-infra-gm/hash_files/gold-pdfium-hashes.txt \
    --image_dir=${DATA_DIR}/imageStore  \
    --logtostderr \
    --n_commits=150   \
    --port=:8001  \
    --prom_port=:20001 \
    --public_whitelist=all \
    --redirect_url=https://pdfium-gold.skia.org/oauth2callback/  \
    --resources_dir=${RESOURCE_DIR}  \
    --show_bot_progress=false \
    --storage_dir=${DATA_DIR}/datastore  \
    --trace_service=skia-tracedb:9091


Restart=always
User=default
Group=default
LimitNOFILE=500000

[Install]
WantedBy=multi-user.target
