[Unit]
Description=Web server for Skia correctness monitoring.
Wants=network-online.target
After=network-online.target

[Service]
Environment=DATA_DIR=/mnt/pd0/data  \
  RESOURCE_DIR=/usr/local/share/skiacorrectness  \

ExecStart=/usr/local/bin/skiacorrectness-chromevr  \
    --app_title="Chrome VR Gold" \
    --baseline_gs_path=skia-chromevr-gm/hash_files/gold-chromevr-baselines \
    --cache_size=20 \
    --db_host=173.194.109.248  \
    --db_name=skiacorrectness_chromevr  \
    --default_corpus=chromevr \
    --ds_namespace=gold-chromevr \
    --event_topic=gold-chromevr-eventbus \
    --force_login=false \
    --gerrit_url=https://chromium-review.googlesource.com \
    --git_repo_dir=${DATA_DIR}/gold/chromevr_repo \
    --git_repo_url=https://chromium.googlesource.com/chromium/src \
    --gs_buckets=skia-chromevr-gm \
    --hashes_gs_path=skia-chromevr-gm/hash_files/gold-chromevr-hashes.txt \
    --image_dir=${DATA_DIR}/imageStore  \
    --logtostderr \
    --n_commits=100   \
    --port=:8001  \
    --prom_port=:20001 \
    --public_whitelist=all \
    --redirect_url=https://chrome-vr-gold.skia.org/oauth2callback/  \
    --resources_dir=${RESOURCE_DIR}  \
    --resources_dir=/usr/local/share/skiacorrectness/frontend \
    --show_bot_progress=false \
    --storage_dir=${DATA_DIR}/datastore  \
    --trace_service=skia-tracedb:9092

Restart=always
User=default
Group=default
LimitNOFILE=500000

[Install]
WantedBy=multi-user.target
