debugger-page-sk {
  * {
    font-family: Helvetica,Arial,'Bitstream Vera Sans',sans-serif;
    font-size: 12px;
  }

  .horizontal-flex {
    display: flex;
    flex-diection: row;
  }

  header {
    background: #1f78b4;
    color: white;
    padding: 0.5em;
    margin: 0;

    display: flex;
    justify-content: space-between;
  }

  .file-version {
    margin: 2px;
  }

  header h2 {
    font-size: 1.5em;
    margin: 0;
  }

  commands-sk {
    width: 32em;
  }

  #content {
    margin: 0.5em;
  }

  .version-link {
    color: white;
    font-weight: bold;
  }

  input[type="file"] {
    width: 100%;
  }

  matrix-clip-controls-sk {
    width: 20em;
  }

  #center {
    margin-left: 20px;
    margin-right: 20px;
  }

  .gpuDrawBoundColor {
    color: #E31A1C;
    opacity: 0.75;
  }

  .gpuOpBoundColor {
    color: #FF7F00;
    opacity: 0.75;
  }

  .gpuTotalOpColor {
    color: #6A3D9A;
    opacity: 0.75;
  }
}
