debugger-page-sk {
  --sidebar-width: 0;
  --header-horiz-padding: 16px;

  * {
    font-size: 12px;
  }

  .horizontal-flex {
    display: flex;
    align-items: center;
  }

  .horizontal-flex-start {
    display: flex;
    align-items: flex-start;
  }

  .file-version {
    margin: 2px;
  }

  commands-sk {
    width: 32em;
  }

  #content {
    margin: 0.5em;
  }

  .version-link {
    font-weight: bold;
  }

  input[type='file'] {
    width: 100%;
  }

  matrix-clip-controls-sk {
    width: 20em;
  }

  #center {
    margin-left: 20px;
    margin-right: 20px;
  }

  .gpuDrawBoundColor {
    color: var(--error);
    opacity: 0.75;
  }

  .gpuOpBoundColor {
    color: var(--failure);
    opacity: 0.75;
  }

  .gpuTotalOpColor {
    color: var(--warning);
    opacity: 0.75;
  }

  .matrixClipBox {
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.5em;
    width: 5em;
  }

  h3.compact {
    margin: 0.5em;
  }
}
