@import '../colors.css';

expandable-textarea-sk {
  textarea {
    resize: none;
      background-color: var(--surface);
      color: var(--on-surface);
      width: 100%;
      height:100%;
}
  textarea::placeholder {
    color: var(--secondary);
  }
    li.selected {
      background-color: var(--secondary);
      color: var(--on-secondary);
      padding-left: .5em;
      padding-right: 1em;
    }
    li:hover {
      padding-left: .5em;
      padding-right: 1em;
      background-color: var(--primary-variant);
    }
    ul {
      list-style-type:none;
      padding: 0;
    }
    li {
      padding-left: 1em;
      padding-right: .5em;
    }
}

/* Outside task-queue-sk because darkmode exists outside it. */
.darkmode a {
  color: var(--secondary);
}
