@import '../colors.css';

expandable-textarea-sk {
  textarea {
    resize: none;
    background-color: var(--surface);
    color: var(--on-surface);
    width: 100%;
    height:100%;
  }
  textarea:focus {
    outline-color: var(--primary);
  }
  textarea::placeholder {
    color: var(--transparent-overlay);
  }
}

/* Outside task-queue-sk because darkmode exists outside it. */
.darkmode a {
  color: var(--secondary);
}
