@import url(~elements-sk/colors.css);

enter-tree-status-sk {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  textarea, button {
    font-size: 1.2em;
  }

  textarea {
    // width: 50%
  }
  button {
    display: inline-block;
  }
}
