skottie-gif-exporter {
	.form {
		width: 100%;

		 &-elem {
		 	margin-bottom: 10px;
		 }
	}

	.main {
		padding: 20px 0;
	}

	.export-info {
		display: inline-block;
		padding: 10px;
		background-color: #EEE;

		.export-info-row {
			padding: 4px;
		}
	}

	.download {
		display: block;
		padding-top: 10px;
	}

	.editor-header-save-button {
		cursor: pointer;
	}

}
