[Service]
User=chrome-bot
Group=chrome-bot
ExecStart=/usr/local/bin/alert_to_pubsub_ansible \
  --location={{ inventory_hostname }} \
  --port=:{{ all.prometheus.alert_to_pubsub_port }} \
  --prom_port=:{{ all.prometheus.monitoring.ports.alert_to_pubsub_ansible }}

[Install]
WantedBy=multi-user.target