[Unit]
Description=Buildbot Scheduler for Skia
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/build_scheduler \
    --host=build-scheduler.skia.org \
    --log_dir=/var/log/logserver \
    --log_max_size=10485760 \
    --workdir=/mnt/pd0/build_scheduler_workdir \
    --influxdb_host=skia-monitoring:10117 \
    --influxdb_database=skmetrics \
    --buildbot_db_host=skia-datahopper2:8000 \
    --resources_dir=/usr/local/share/build_scheduler/
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
