@import '../colors';

display-tree-status-sk {
  display: block;
  padding: 1.2em;

  table {
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    width: 80%
  }

  td, th {
    border: 1px solid var(--on-background);
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: normal;
  }

  th {
    background-color: var(--primary);
    color: var(--on-primary);
  }

  .closed {
    background-color: var(--closed);
    color: var(--on-primary);
  }

  .open {
    background-color: var(--open);
  }

  .caution {
    background-color: var(--caution);
  }
}
