json-source-sk {
  button,
  spinner-sk {
    display: inline-block;
  }

  spinner-sk {
    margin-top: 0.6em;
    margin-bottom: -0.6em;
  }

  pre {
    box-shadow: 2px 2px 5px gray;
    margin: 0.6em;
    padding: 1em;
  }
}
