@use '../common/buttons.scss';

json-source-sk {
  spinner-sk {
    width: 16px;
    height: 16px;
    border-width: 4px;
  }

  .controls {
    display: flex;
    gap: 8px;
    align-items: center;

    button {
      @include buttons.perf-button;
    }
  }

  .controls[hidden] {
    display: none;
  }

  pre {
    margin: 8px;
    padding: 8px;
  }

  #json-dialog {
    position: relative;
    border: solid 1px var(--on-background);
    color: var(--on-background);
    background: var(--background);

    #closeIcon {
      position: sticky;
      top: 0;
      right: 0;
      float: right; // for positioning in older browsers
      border: none;
      background: transparent;
      padding: 0;
      cursor: pointer;
      fill: var(--primary);
      z-index: 2;
    }

    #json-source {
      position: relative;
      overflow: auto;
      top: 12px;
    }
  }
}
