@import '~elements-sk/colors';

query-summary-sk,
query-summary-sk a {
  max-width: 30em;
  overflow: auto;
  color: var(--blue);
  font-weight: bold;
  word-wrap: break-word;
  vertical-align: middle;
}
