{% extends "skia_telemetry_base.html" %}

{% block content %}

<center>
  <h2>All Admin Tasks</h2>
  <br/>

  {% if admin_tasks %}
  <table border="1" cellpadding="5">
    <tr bgcolor="#CCCCFF">
      <td><b>User</b></td>
      <td><b>Task</b></td>
      <td><b>Requested Time</b></td>
      <td><b>Completed Time</b></td>
    </tr>
    {% for task in admin_tasks %}
    <tr {% if not task.completed_time %}bgcolor="#8FDF5F"{% endif %} >
      <td>{{ task.username }}</td>
      <td>{{ task.task_name }}</td>
      <td>{{ task.requested_time }}</td>
      <td>
        {% if task.completed_time %}
          {{ task.completed_time }}
        {% else %}
          In Progress
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
    No Previous runs yet.
  {% endif %}
</center>

{% endblock %}
