<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <style>
      BODY {
        BACKGROUND-IMAGE: url(/static/googleballs.gif); BACKGROUND-SIZE: auto; BACKGROUND-REPEAT: repeat-y;
      }
    </style>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet"/>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <center>
      <table width="100%%">
        <tr>
          <td align="left">
            <a href="/">
              <img border="0" height="75" src="/static/chromium-logo.png">
            </a>
          </td>
          <td align="center">
            <font size="5"><b>
              {{ title }}
            </b></font>
          </td>
          <td valign="top" align="right">
            <b> {{ username }} </b>
            <br />{{current_UTC_time|date:"D M d, h:i a T " }}
          </td>
        </tr>
      </table>

      <table cellpadding="5" border="1">
        <tr>
          <td align="center">                                                   
            <a href='/skia-telemetry/chromium_try'>Chromium Perf Tryserver</a>       
          </td>
          <td align="center">                                                   
            <a href='/skia-telemetry/skia_try'>Skia Correctness Tryserver</a>       
          </td>
          <td align="center">                                                   
            <a href='/skia-telemetry/chromium_builds'>Manage Chromium Builds</a>
          </td>                                                                 
          <td align="center">                                                   
            <a href='/skia-telemetry'>Capture SKPs</a>                        
          </td>                                                                 
          <td align="center">                                                   
            <a href='/skia-telemetry/lua_script'>Run Lua Scripts</a>            
          </td>                                                                 
          <td align="center">                                                   
            <a href='/skia-telemetry/admin_tasks'>Run Admin Tasks</a>           
          </td>                                                                 
          <td align="center">                                                   
            <a href='/skia-telemetry/pending_tasks'>Pending Tasks in Queue</a>
          </td>
          <td align="center">
            <a href='/skia-telemetry/all_tasks'>Tasks History</a>
          </td>
        </tr>
      </table>

      {% if framework_msg %}
        <br/>
        <h1><font color="red">{{ framework_msg }}</font></h1>
        <br/>
      {% endif %}

      <br/>
      <h3><font color="red">Warning</font></h3>
      <h4>This is the old CT frontend.
      The new CT frontend is available <a href="https://ct.skia.org/">here</a>.</h4>
      <hr/>

    </center>
    {% block content %}{% endblock %}
  </body>
</html>
