<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <style>
      BODY {
        BACKGROUND-IMAGE: url(/static/googleballs.gif); BACKGROUND-SIZE: auto; BACKGROUND-REPEAT: repeat-y;
      }
    </style>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet"/>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <center>
      <table width="100%%">
        <tr>
          <td align="left">
            <a href="/">
              <img border="0" height="75" src="/static/logo.png">
            </a>
          </td>
          <td align="center">
            <font size="5"><b>
              {{ title }}
            </b></font>
          </td>
          <td valign="top" align="right">
            <b> {{ username }} </b>
            <br />{{current_UTC_time|date:"D M d, h:i a T " }}
          </td>
        </tr>
      </table>

      <table cellpadding="5" border="1">
        <tr>
          <td align="center">
            <a href='/skia-telemetry/chromium_builds'>Manage Chromium Builds</a>
          </td>
          <td align="center">
            <a href='/skia-telemetry'>Run Benchmarks</a>
          </td>
          <td align="center">
            <a href='/skia-telemetry/lua_script'>Run Lua Scripts</a>
          </td>
          <td align="center">
            <a href='/skia-telemetry/admin_tasks'>Run Admin Tasks</a>
          </td>
          <td align="center">
            <a href='/skia-telemetry/all_tasks'>Tasks History</a>
          </td>
        </tr>
      </table>

      {% if framework_msg %}
        <br/>
        <h1><font color="red">{{ framework_msg }}</font></h1>
        <br/>
      {% endif %}

      <br/>
      <h2>General Information</h2>
      <table cellpadding="5">
        <tr>
          <td>Number of GCE slaves</td>
          <td>{{ gce_slaves }}</td>
          <td></td>
          <td>Number of webpages per pageset</td>
          <td>{{ num_webpages_per_pageset }}</td>
        </tr>
        <tr>
          <td>Source of pagesets</td>
          <td><a href='{{ pagesets_source }}'>Top 1M</a></td>
          <td></td>
          <td>Number of archived webpages</td>
          <td>{{ num_webpages }}</td>
        </tr>
      </table>
        <br/>
        (Above information last updated on {{ last_updated }})
        <hr/>

    </center>
    {% block content %}{% endblock %}
  </body>
</html>
