<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <style>
      BODY {
        BACKGROUND-IMAGE: url(/static/googleballs.gif); BACKGROUND-SIZE: auto; BACKGROUND-REPEAT: repeat-y;
      }
    </style>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet"/>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <center>
      <table width="100%%">
        <tr>
          <td align="left">
            <a href="/">
              <img border="0" height="75" src="/static/logo.png">
            </a>
          </td>
          <td align="center">
            <font size="5"><b>
              {{ title }}
            </b></font>
          </td>
          <td valign="top" align="right">
            <b> {{ username }} </b>
            <br />{{current_UTC_time|date:"D M d, h:i a T " }}
          </td>
        </tr>
      </table>

      <table cellpadding="5">
        <tr>
          <td align="center">
            <a href='/skia-telemetry'>Run Benchmarks</a>
          </td>
          <td align="center">
            <a href='/skia-telemetry/lua_script'>Run Lua Scripts</a>
          </td>
          <td align="center">
            <a href='/skia-telemetry/all_tasks'>Tasks History</a>
          </td>
        </tr>
      </table>

      {% if framework_msg %}
        <br/>
        <h1><font color="red">{{ framework_msg }}</font></h1>
        <br/>
      {% endif %}

      <h2>General Information</h2>
      <table cellpadding="5">
        <tr>
          <td>Chrome was last built on</td>
          <td>{{ chrome_last_built }}</td>
          <td></td>
          <td>Source of pagesets</td>
          <td><a href='{{ pagesets_source }}'>Top 1M</a></td>
        </tr>
        <tr>
          <td>Chromium Revision</td>
          <td>{{ chromium_rev }}</td>
          <td></td>
          <td>Number of webpages archived</td>
          <td>{{ num_webpages }}</td>
        </tr>
        <tr>
          <td>Skia Revision</td>
          <td>{{ skia_rev }}</td>
          <td></td>
          <td>Number of webpages per pageset</td>
          <td>{{ num_webpages_per_pageset }}</td>
        </tr>
        <tr>
          <td>Number of GCE slaves</td>
          <td>{{ gce_slaves }}</td>
          <td></td>
          <td>Number of Total SKP files</td>
          <td>{{ num_skp_files }}</td>
        </tr>
      </table>
        <br/>
        (Last updated on {{ last_updated }})
        {% if not admin %}<br/>Must be admin to trigger below admin tasks (contact rmistry@)<br/><br/>{% endif %}

        <form action="/skia-telemetry/all_tasks" name="all_admin_tasks" method="post">
          <table cellpadding="5">
            <tr>
              <td align="center">
                <input type="submit" value="Rebuild Chrome" name="admin_task" {% if not admin %}disabled{% endif %}>
              </td>
              <td align="center">
                <input type="submit" value="Recreate Pagesets" name="admin_task" {% if not admin %}disabled{% endif %}>
              </td>
              <td align="center">
                <input type="submit" value="Recreate Webpage Archives" name="admin_task" {% if not admin %}disabled{% endif %}>
              </td>
            </tr>
          </table>
        </form>
        <hr/>

    </center>
    {% block content %}{% endblock %}
  </body>
</html>
