  <table border="1" cellpadding="5">                                            
    <tr bgcolor="#CCCCFF">                                                      
      {% if alltaskspage %}<td><b>User</b></td>{% endif %}                                         
      <td><b>Description</b></td>                                               
      <td><b>Pagesets Type</b></td>                                             
      <td><b>Chromium Build</b></td>                                            
      <td><b>Render Pictures Args</b></td>                                      
      <td><b>NoPatch GPU</b></td>
      <td><b>WithPatch GPU</b></td>
      <td><b>Requested Time</b></td>                                            
      <td><b>Completed Time</b></td>                                            
      <td><b>Patch Link</b></td>                                                
      <td><b>Slave1 Log</b></td>                                                
      <td><b>HTML report</b></td>                                               
      {% if not alltaskspage %}<td><b>Delete</b></td>{% endif %}                                                    
    </tr>                                                                       
    {% for task in skia_try_tasks %}                                            
    <tr {% if not task.completed_time %}bgcolor="#8FDF5F"{% endif %} >
      {% if alltaskspage %}<td>{{ task.username }}</td>{% endif %}          
      <td>{{ task.description }}</td>                                           
      <td>{{ task.pagesets_type }}</td>                                         
      <td>                                                                      
        <a href='https://chromium.googlesource.com/chromium/src/+/{{ task.chromium_rev }}'>{{ task.chromium_rev|slice:":7" }}</a>-<a href='https://skia.googlesource.com/skia/+/{{ task.skia_rev }}'>{{ task.skia_rev|slice:":7" }}</a>
      </td>                                                                     
      <td>{{ task.render_pictures_args }}</td>                                  
      <td>{{ task.gpu_nopatch_run }}</td>
      <td>{{ task.gpu_withpatch_run }}</td>
      <td>{{ task.requested_time }}</td>                                        
      <td>                                                                      
        {% if task.completed_time %}                                            
          {{ task.completed_time }}                                             
        {% else %}                                                              
          {% include "col_status.html" %}                                       
        {% endif %}                                                             
      </td>                                                                     
      <td align="center">                                                       
        {% if task.patch_link %}                                                
          <a href='{{ task.patch_link }}' target='_blank'>patch</a>             
        {% else %}                                                              
          {% include "col_status.html" %}                                       
        {% endif %}                                                             
      </td>                                                                     
      <td align="center">                                                       
        {% if task.slave1_output_link %}                                        
          <a href='{{ task.slave1_output_link }}' target='_blank'>slave1_log</a>
        {% else %}                                                              
          {% include "col_status.html" %}                                       
        {% endif %}                                                             
      </td>                                                                     
      <td align="center">                                                       
        {% if task.html_output_link %}                                          
          <a href='{{ task.html_output_link }}' target='_blank'>output</a>      
        {% else %}                                                              
          {% include "col_status.html" %}                                       
        {% endif %}                                                             
      </td>
      {% if not alltaskspage %}                                                                     
      <td align="center">                                                       
        <form action="skia_try" name="delete_skia_try_task" method="post">      
          <input type='hidden' name='delete' value='{{ task.key.id_or_name }}'> 
          <input type='submit' value='Delete' {% ifequal task.key.id_or_name oldest_pending_task_key %}disabled{% endifequal %}>
        </form>                                                                 
      </td>
      {% endif %}                                                                     
    </tr>                                                                       
    {% endfor %}                                                                
  </table>                        
