[Unit]
Description=powercycle_server_ansible
After=syslog.target network.target
# Prevent systemd from giving up restarting the service if it keeps crashing. This is useful e.g.
# when power is restored after a power outage, but internet connectivity hasn't been restored yet,
# causing services that depend on external APIs to repeatedly crash until access to the internet is
# restored.
#
# These settings tell systemd to restart the crashing service every 10 seconds (see RestartSec=
# below), and to stop trying to restart it if it crashes more than 1000 times (StartLimitBurst=)
# within an interval of 1 second (StartLimitIntervalSec=), effectively never giving up.
#
# Docs:
# - https://www.freedesktop.org/software/systemd/man/systemd.unit.html
# - https://www.freedesktop.org/software/systemd/man/systemd.service.html
StartLimitIntervalSec=1
StartLimitBurst=1000

[Service]
Type=simple
User=chrome-bot
Environment=POWERCYCLE_PASSWORD={{ secrets.skolo_password }}
ExecStart=/usr/local/bin/powercycle_server_ansible \
   --config=prod.json \
   --powercycle_config=powercycle-{{ inventory_hostname }}.json5 \
   --prom_port=:{{ all.prometheus.monitoring.ports.powercycle_server_ansible }} \
   --machine_server=https://machines.skia.org
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
