[Unit]
Description=The Skia logmetrics service.
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/logmetrics \
    --logtostderr \
    --prom_port=:20001 \
    --metrics_filename=/etc/logmetrics/metrics.json5
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
