@import '~elements-sk/colors';

bulk-triage-sk {

  button {
    &.selected {
      background-color: var(--dark-white);
      border: none;
      box-shadow: none;
    }

    &.positive {
      &.selected check-circle-icon-sk {
        fill: #1B9E77;
      }
    }

    &.negative {
      &.selected cancel-icon-sk {
        fill: #E7298A;
      }
    }

    &.untriaged {
      &.selected help-icon-sk {
        fill: #A6761D;
      }
    }

    &.closest {
      &.selected view-agenda-icon-sk {
        fill: #1F78B4;
      }
    }
  }
}
