@import 'node_modules/elements-sk/colors.scss';

skottie-drive-sk {
  display: block;

  app-sk {
    --sidebar-width: 200px;

    display: block;
    min-height: 100vh;
  }

  figcaption p.errors {
    font-weight: bold;
    color: var(--red);
  }
}
