[Unit]
Description=Leasing Server for Swarming Bots.
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/leasing \
    --workdir=/mnt/pd0 \
    --host=leasing.skia.org \
    --logtostderr
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
