[Unit]
Description=Swarming Bots Leasing Server.
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/leasing \
    --logtostderr
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
