/*
 * CSS styles for dot displays, used by both dots.html and dotlegend.html.
 */

g:hover circle {
  fill:   #E7298A;
  stroke: #E7298A;
}

circle.status0 {
  fill:   #000000;
  stroke: #000000;
}

circle.status1 {
  fill:   #ffffff;
  stroke: #1B9E77;
}

circle.status2 {
  fill:   #ffffff;
  stroke: #D95F02;
}

circle.status3 {
  fill:   #ffffff;
  stroke: #7570B3;
}

circle.status4 {
  fill:   #ffffff;
  stroke: #E7298A;
}

circle.status5 {
  fill:   #ffffff;
  stroke: #66A61E;
}

circle.status6 {
  fill:   #ffffff;
  stroke: #E6AB02;
}

circle.status7 {
  fill:   #ffffff;
  stroke: #A6761D;
}

circle.status8 {
  fill:   #ffffff;
  stroke: #999999;
}
