@import 'node_modules/elements-sk/themes/color-palette.scss';
@import 'node_modules/elements-sk/themes/themes.scss';

expandable-textarea-sk {
  button.expander {
    min-width: 0;
    text-transform: none;
    padding: 0 0.5em 0 0;
    margin: 0;
    height: auto;
  }
}
