@import '../themes/themes';

pivot-table-sk {
  display: block;
  margin: 8px;

  table {
    border-collapse: collapse;
  }

  td,
  th {
    border: solid var(--primary) 1px;
    padding: 8px;
  }

  th.key {
    text-align: right;
  }

  sort-icon-sk,
  arrow-drop-down-icon-sk,
  arrow-drop-up-icon-sk {
    cursor: pointer;
  }

  paramset-sk {
    table * {
      border: none;
    }
  }

  .querydef {
    display: inline-grid;
    margin-bottom: 8px;

    paramset-sk {
      display: inline-block;
    }

    > div {
      margin: 0 8px 8px 0;
      display: flex;
      align-items: center;
    }

    .title {
      font-weight: bold;
      margin-right: 8px;
      color: var(--secondary);
    }
  }
}
