@import '../themes/themes';

pivot-table-sk {
  display: block;
  margin: 8px;

  table {
    border-collapse: collapse;
  }

  td,
  th {
    border: solid var(--primary) 1px;
    padding: 8px;
  }

  th.key {
    text-align: right;
  }

  sort-icon-sk,
  arrow-drop-down-icon-sk,
  arrow-drop-up-icon-sk {
    cursor: pointer;
  }
}
