# partition table of disk image
unit: sectors

sd_card.img1 : start=     2048, size=   122880, Id= c, bootable
sd_card.img2 : start=   124928, size=  6291456, Id= 5
sd_card.img3 : start=  6416384, size=   204800, Id=83
sd_card.img4 : start=        0, size=        0, Id= 0
sd_card.img5 : start=   126976, size=  2097152, Id=83
sd_card.img6 : start=  2226176, size=  2097152, Id=83
sd_card.img7 : start=  4325376, size=  2091008, Id=83
