matrix-clip-controls-sk {
  td {
    padding: 0.3em;
    font-family: monospace;
  }
  h2 {
    font-size: 18px;
    margin: 0.2em 0;
  }
  checkbox-sk {
    margin-left: 3em;
    margin-bottom: 0.4em;
    min-width: 16px;
  }
}
