plot-summary-sk {
  resize: both;
  overflow: hidden;
  min-width: 200px;
  min-height: 200px;
  position: relative;
  padding: 0;
  border: 0;
  color: #000000;
  background: #ffffff;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  .plot {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.body-sk plot-simple-sk {
  color: var(--on-background);
  background: var(--background);
}
