plot-summary-sk {
  resize: both;
  overflow: hidden;
  min-width: 200px;
  min-height: 100px;
  position: relative;
  padding: 0;
  border: 0;
  color: #000000;
  background: #ffffff;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .plot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  [hidden] {
    display: none;
  }
}

@import '../themes/themes.scss';

.body-sk plot-summary-sk {
  color: var(--on-background);
  background: var(--background);
}
