[Unit]
Description=ssh tunnel to skia-prom for prom metrics federation.
Wants=network-online.target
Wants=sshd.service

[Service]
Environment=HOME=/home/chrome-bot
# Start a tunnel that forwards requests to skia-prom:12005 to localhost:8000,
# which is where the Prometheus instance runs on the jumphost.
# The port number 12005 is defined in infra/prometheus/sys/prometheus.yml and is
# reserved for this jumphost.
ExecStart=/usr/bin/gcloud compute ssh default@skia-prom \
    --zone=us-central1-c \
    -- \
    -NT -R 12005:localhost:8000 \
    -o "ExitOnForwardFailure=yes" \
    -o "ServerAliveInterval=30" \
    -o "ServerAliveCountMax=10"

RestartSec=3
Restart=always
User=chrome-bot
Group=chrome-bot
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
