@import '../../../elements-sk/modules/colors';

skottie-compatibility-sk {
  .tab-container {
    margin: 0 8px;
  }

  .pass-message {
    padding: 16px;
  }

  .feature-id-cell {
    vertical-align: top;
  }

  skottie-button-sk button.active-tab {
    color: var(--primary);
  }
}
