@import '../../../elements-sk/modules/colors';

skottie-compatibility-sk {
  .tab-container {
    margin: 0 8px;
  }

  .tab-content {
    padding: 16px;
  }

  .report-content {
    margin-bottom: 8px;
  }

  .feature-id-cell {
    vertical-align: top;
  }

  skottie-button-sk button.active-tab {
    color: var(--primary);
  }
}
