<!DOCTYPE html>
<html>
<head>
    <title>Skia Debugger</title>
    <meta charset="utf-8">
    <meta name="theme-color" content="#526E9C">
    <link rel="shortcut icon" href="/res/img/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css" media="screen">
      body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
      }
    </style>
</head>
<body>
  <h1>The hosted debugger is taking a short hiatus and will return shortly.</h1>
</body>
</html>
