[Unit]
Description=Fuzzer backend
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/fuzzer-be \
  --log_dir=/var/log/logserver \
  --graphite_server=skia-monitoring:2003 \
  --skia_root=/mnt/ssd0/skia-be \
  --clang_path=/usr/bin/clang \
  --clang_p_p_path=/usr/bin/clang++ \
  --depot_tools_path=/mnt/ssd0/depot_tools \
  --afl_root=/mnt/ssd0/afl \
  --afl_output_path=/mnt/ssd0/fuzzes/afl-out \
  --fuzz_samples=/mnt/ssd0/fuzzes/samples \
  --generator_working_dir=/mnt/ssd0/generator-wd \
  --executable_path=/mnt/ssd0/executables \
  --fuzz_path=/mnt/ssd0/fuzzes \
  --fuzz_processes=4 \
  --analysis_processes=24 \
  --upload_processes=8 \
  --download_processes=16
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
