[Unit]
Description=Fuzzer frontend
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/fuzzer-fe \
  --logtostderr \
  --resources_dir=/usr/local/share/fuzzer-fe/ \
  --bolt_db_path=/mnt/pd0/fe-db \
  --host=fuzzer.skia.org \
  --skia_root=/mnt/pd0/skia-fe \
  --clang_path=/usr/bin/clang \
  --clang_p_p_path=/usr/bin/clang++ \
  --depot_tools_path=/mnt/pd0/depot_tools \
  --executable_cache_path=/mnt/pd0/executable_cache \
  --fuzz_sync_period=1m0s \
  --download_processes=32 \
  --backend_names=skia-fuzzer-be-0 \
  --backend_names=skia-fuzzer-be-1 \
  --backend_names=skia-fuzzer-be-2 \
  --backend_names=skia-fuzzer-be-3 \
  --backend_names=skia-fuzzer-be-4 \
  --backend_names=skia-fuzzer-be-5 \
  --backend_names=skia-fuzzer-be-6 \
  --backend_names=skia-fuzzer-be-7 \
  --backend_names=skia-fuzzer-be-8 \
  --backend_names=skia-fuzzer-be-9
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
