[Unit]
Description=Fuzzer backend
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/fuzzer-be \
  --logtostderr \
  --skia_root=/mnt/pd0/skia-be \
  --clang_path=/usr/bin/clang \
  --clang_p_p_path=/usr/bin/clang++ \
  --depot_tools_path=/mnt/pd0/depot_tools \
  --afl_root=/mnt/pd0/afl \
  --afl_output_path=/mnt/pd0/afl-out \
  --fuzz_samples=/mnt/pd0/samples \
  --generator_working_dir=/mnt/pd0/generator-wd \
  --aggregator_working_dir=/mnt/pd0/aggregator-wd \
  --executable_cache_path=/mnt/pd0/executable_cache \
  --fuzz_path=/mnt/pd0/fuzzes \
  --status_period=10s \
  --analysis_timeout=5s \
  --architecture=linux_x64 \
  --binary_fuzz_processes=4 \
  --analysis_processes=16 \
  --upload_processes=12 \
  --download_processes=32 \
  --fuzz_to_run=sksl2glsl \
  --fuzz_to_run=path_deserialize \
  --fuzz_to_run=region_deserialize \
  --fuzz_to_run=textblob \
  --fuzz_to_run=skp \
  --fuzz_to_run=jpeg_encoder \
  --fuzz_to_run=png_encoder \
  --fuzz_to_run=webp_encoder
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
