@import '../../../elements-sk/modules/colors';

skottie-color-input-sk {
  .wrapper {
    &--color {
      display: inline-block;
      border: 1px solid var(--skottie-on-surface-white);
      border-radius: 4px;
      padding: 4px 6px;

      &__withOpacity {
        border-radius: 4px 0 0 4px;
        border-right: none;
      }

      &--input {
        width: 18px;
        height: 22px;
        border: none;
        padding: 0;
      }
    }

    &--opacity {
      border: 1px solid var(--skottie-on-surface-white);
      border-radius: 0 4px 4px 0;
      padding: 4px;
      width: 80px;
    }
  }
}
