[Unit]
Description=Skia systemd monitoring UI.
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/sksysmon --port=:10114 --log_dir=/var/log/logserver
Restart=always
User=root
Group=root
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
