      <core-header-panel navigation flex mode=seamed >
        <core-toolbar>Skia Push</core-toolbar>
        <core-menu theme="core-light-theme">
          <core-item icon="home" label="Home"><a href="/"></a></core-item>
          <core-item icon="drive-file" label="Code"><a href="https://github.com/google/skia-buildbot/tree/master/push"></a></core-item>
        </core-menu>
      </core-header-panel>
      <div id=title tool flex horizontal layout>
        <login-sk></login-sk>
        <span id="version"></span>
      </div>
