@import '../styles.scss';

autoroller-status-sk {
  .tr.roller:hover {
    background-color: var(--primary);
    color: var(--on-primary);
    fill: var(--on-primary);
  }

  // Remove the alpha from the failure color to make it pop.
  .bg-failure {
    background-color: var(--failure);
  }
}
