@import '../themes/themes';

pivot-query-sk {
  display: flex;

  multi-select-sk,
  select-sk {
    display: inline-grid;
    flex-direction: column;
    padding: 2px;
    margin: 4px;

    div {
      display: inline-block;
      padding: 2px;
      margin: 3px;
    }
  }

  #group_by {
    height: 200px;
    overflow-y: auto;
  }

  label {
    margin-right: 16px;
  }
}
