[Unit]
Description=Periodically backup Cloud Datastore entities to Cloud Storage.
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/datastore_backup \
    --logtostderr \
    --prom_port=:20005
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
