@import '~elements-sk/colors';
@import '~elements-sk/select-sk/select-sk';
@import '~elements-sk/styles/buttons/buttons';
@import '../query-values-sk/query-values-sk';

query-sk {
  display: block;

  button {
    padding: 0.4em;
    height: initial;
    text-transform: initial;
  }

  .selection {
    display: inline-block;
  }

  query-values-sk {
    display: inline-block;
    margin: 0 1em;
  }

  query-values-sk.hidden {
    display: none;
  }

  select-sk {
    display: block;
    max-height: 20em;
    overflow-y: auto;
  }

  multi-select-sk {
    min-width: 10em;
  }

  .bottom {
    display: flex;
  }

  multi-select-sk div,
  select-sk div {
    line-height: 14px;
    cursor: pointer;
  }

  #fast {
    color: var(--on-surface);
    background: var(--surface-1dp);
    border: solid 1px var(--on-surface);
    padding: 4px;
    height: 20px;
  }

  .clear_filters {
    border: none;
    min-width: 0;
    margin: 0 0 0 -20px;
    background: none;
    cursor: pointer;
    height: 20px;
    padding: 0;
  }

  .filtering {
    margin-bottom: 8px;
  }
}
