@import '../colors.scss';

alert-manager-sk {
  button.fab {
    position: fixed;
    right: 10px;
    bottom: 10px;
  }

  spinner-sk[active] {
    visibility: initial;
  }

  spinner-sk {
    visibility: hidden;
    display: inline-block;
    position: fixed;
    top: 4em;
    left: 34em;
  }

  button {
    text-transform: none;
    height: initial;
    padding: 0.2em;
  }

  h2 {
    align-items: center;
    color: $red;
    margin: 0;
    padding: 0;
    font-size: 14px;
    cursor: pointer;
  }

  h2.assigned {
    color: $orange;
  }

  h2.inactive {
    color: $gray;
  }

  h2.selected {
    background: #eee;
  }

  h2.silenced {
    color: $green;
  }

  footer {
    grid-area: footer;
  }

  .incidents {
    display: grid;
    grid-area: incidents;
    overflow-y: auto;
    height: 80vh;
    border-right: solid gray 1px;

    checkbox-sk {
      display: inline-block;
    }

    h2 {
      display: flex;
      justify-content: space-between;
    }

  }

  .silences {
    grid-area: silences;
    overflow-y: auto;
    height: 20vh;
    border-right: solid gray 1px;
    padding: 1em;
    border-top: solid gray 1px;

    h2 {
      color: $blue;
      display: flex;
      justify-content: space-between;
    }

  }

  comment-icon-sk {
    fill: $green;
    padding: 0.2em 0.6em;
  }

  .invisible {
    visibility: hidden;
  }

  .edit {
    grid-area: edit;
  }

  display: grid;
  grid-template-columns: 22em 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "incidents edit"
  "silences edit"
  "footer footer";
}
