# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2011 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
  {
    'master': 'PrivateSkia',
    'hostname': 'skia-private-slave-001',
    'builder': [
        'Skia_Private_Builder_Debug_001',
        'Skia_Private_Builder_Release_001',
        'Skia_Private_Builder_Bench_001',
        ],
    'serial': '5D327F9B4103E10F',
  },
  {
    'master': 'PrivateSkia',
    'hostname': 'skia-private-slave-002',
    'builder': [
        'Skia_Private_Builder_Debug_002',
        'Skia_Private_Builder_Release_002',
        'Skia_Private_Builder_Bench_002',
        ],
    'serial': '0012746f51cea6b9',
  },
  {
    'master': 'PrivateSkia',
    'hostname': 'skia-private-slave-003',
    'builder': [
        'Skia_Private_Builder_Debug_003',
        'Skia_Private_Builder_Release_003',
        'Skia_Private_Builder_Bench_003',
        ],
    'serial': 'R32C801B5LH',
  },
]
