# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2011 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
  {
    'master': 'PrivateSkia',
    'hostname': 'skia-private-slave',
    'builder': [
        'Skia_Private_Builder_001',
        ],
  },
]
