# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2011 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.

import imp
import os

slaves_cfg = imp.load_source('slaves_cfg', 'slaves.cfg')

slaves = [
  {
    'master': 'PrivateSkia',
    'hostname': 'skia-private-slave-001',
    'builder': [
        'Build-Ubuntu12-GCC-Arm7-Debug-Unknown',
        'Build-Ubuntu12-GCC-Arm7-Release-Unknown',
    ],
  },
  {
    'master': 'PrivateSkia',
    'hostname': 'skia-private-slave-002',
    'builder': [
        'Test-Android-Unknown-SGX540-Arm7-Debug',
        'Test-Android-Unknown-SGX540-Arm7-Release',
        'Perf-Android-Unknown-SGX540-Arm7-Release',
    ],
    'serial': '5D327F9B4103E10F',
  },
]

for slave_dict in slaves:
  slaves_cfg.AddTrybots(slave_dict)