/* Common Tree status colors via CSS Variables.

  Can be imported via:

    @import '../colors';
*/

@import '../../infra-sk/themes';

:root {
  --primary: rgb(63, 81, 181);

  .darkmode {
    --primary: var(--blue-grey-600);
    --on-primary: var(--white);
  }
}
