@import '~elements-sk/colors';

push-selection-sk {
  display: block;

  .pushSelection {
    display: flex;
    padding: 0.4em 0.2em;
    cursor: pointer;
  }

  .pushSelection[selected]:hover,
  .pushSelection:hover {
    background: var(--light-gray);
  }

  .pushSelection check-icon-sk {
    visibility: hidden;
  }

  .pushSelection[selected] check-icon-sk {
    visibility: visible;
  }

  .pushSelection[selected] {
    background: var(--white);
  }

  a {
    color: var(--blue);
  }

  .userid {
    color: var(--purple);
    width: 6em;
  }

  .built {
    color: var(--orange);
    width: 2em;
  }

  pre {
    margin: 0 0.2em;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
  }

  select-sk {
    overflow-y: auto;
    height: 50vh;
  }
}
