@import '~elements-sk/themes/themes';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Roboto+Mono:400,500|Material+Icons');
/*
  Only define deltas from the original theme and global changes from elemets-sk
  elements.
*/

* {
  font-family: Roboto, Helvetica, Arial, 'Bitstream Vera Sans', sans-serif;
}

.body-sk.darkmode {
  --primary: var(--light-blue-500);
  --primary-variant: var(--light-blue-200);
  --on-primary-variant: var(--black);
}

.body-sk {
  --secondary: var(--green-500);
  --primary-variant: var(--light-blue-600);

  input {
    border: solid 1px var(--on-surface);
    color: solid 1px var(--on-surface);
    background: solid 1px var(--surface);
    display: inline-block;
  }

  button {
    min-width: auto;
    text-align: center;
    text-transform: none;
    outline: none;
    padding: 4px;
    margin: 4px;
    height: fit-content;
  }

  select,
  checkbox-sk {
    margin: 8px 0;
  }

  a {
    color: var(--primary);
    background: var(--surface);
  }
}
