<!DOCTYPE html>
<html>
<head>
    <title>Skia Performance Monitoring | Activity Log</title>

    {{template "header.html" .}}

    <style type="text/css" media="screen">
      table {
        margin: 2em;
      }

      td {
        padding: 0.5em 1em;
      }
    </style>
</head>
<body>
  <perf-scaffold-sk responsiveWidth="700px">
    <div id=container>
      <table>
      <tr><th>ID</th><th>Date</th><th>User</th><th>Action</th><th>Link</th></tr>
      {{range .}}
      <tr><td>{{.ID}}</td><td>{{.Date}}</td><td>{{.UserID}}</td><td>{{.Action}}</td><td><a href="{{.URL}}">{{.URL}}</a></tr>
      {{end}}
      </table>
    </div>
  </perf-scaffold-sk>
</body>
</html>
