<!DOCTYPE html>
<html>
<head>
    <title>Skia Performance Monitoring | Alerting</title>

    {{template "header.html" .}}

    <style type="text/css">
      sort-sk,
      form {
        display: block;
        padding: 1em;
      }

      cluster-summary-sk {
        border: solid lightgray 1px;
        display: block;
        margin: 1em;
        padding: 1em;
      }

    </style>
</head>
<body>
  <perf-scaffold-sk responsiveWidth="700px">
    <sort-sk target=alerts>
      <button data-key="clustersize">Cluster Size </button>
      <button data-key="stepregression">Regression </button>
      <button data-key="stepsize">Step Size </button>
      <button data-key="steplse">Least Squares</button>
      <button data-key="timestamp">Step Time</button>
    </sort-sk>

    <section id=alerts> </section>
    <form action="/alert_reset/" method="POST" accept-charset="utf-8">
      <button type="submit">Delete all non-Bug alerts. (Dangerous!)</button>
    </form>
  </perf-scaffold-sk>

  <script type="text/javascript" charset="utf-8">
    sk.DomReady.then(function() {
      document.body.style.cursor = 'wait';
      sk.get('/alerting/').then(JSON.parse).then(function(json) {
        var container = $$$('#alerts');
        sk.clearChildren(container);
        if (json.Clusters.length == 0) {
          container.innerHTML = "No active clusters exist.";
        } else {
          json.Clusters.forEach(function(c){
            var sum = document.createElement('cluster-summary-sk');
            container.appendChild(sum);
            sum.setSummary(c);
            sum.fade = true;
          });
        }
        document.body.style.cursor = 'auto';
      }).catch(function(e){
        sk.errorMessage(e);
        document.body.style.cursor = 'auto';
      });
      sk.get('/tiles/0/-1/').then(JSON.parse).then(function(json) {
        sk.Mailbox.send("tileinfo", json);
      }).catch(sk.errorMessage);
    });
  </script>
</body>
</html>
