<!DOCTYPE html>
<html>
<head>
    <title>Skia Performance Monitoring | Alerting</title>

    {{template "header.html" .}}

    <link href="/res/imp/cluster.html" rel="import" />
    <script src="/res/js/alerting.js"></script>
</head>
<body>
  <scaffold-sk responsiveWidth="700px">
    {{template "titlebar.html" .}}

    <div id="container">
      <section id=alerts> </section>
      <form action="/alert_reset/" method="POST" accept-charset="utf-8">
        <button type="submit">Delete all non-Bug alerts. (Dangerous!)</button>
      </form>
    </div>

  </scaffold-sk>
</body>
</html>
