<!DOCTYPE html>
<html>
<head>
    <title>Skia Performance Monitoring | Alert {{.ID}}</title>

    {{template "header.html" .}}

    <link href="/res/imp/cluster.html" rel="import" />
</head>
<body>
  {{template "titlebar.html" .}}
  <section id=alerts>
  </section>
  <script type="text/javascript" charset="utf-8">
    var cl = {{.}};

    var summary = new sk.ClusterSummary($$$('#alerts'), cl);
    summary.attach();

    // Don't fade out summaries on this page.
    summary.fade(false);
  </script>
</body>
</html>
