<!DOCTYPE html>
<html>
<head>
    <title>Skia Performance Monitoring | Alert {{.ID}}</title>

    {{template "header.html" .}}

    <link href="/res/imp/cluster.html" rel="import" />
</head>
<body>
    <scaffold-sk responsiveWidth="700px">

      {{template "titlebar.html" .}}
      <div id="container">
        <cluster-summary-sk></cluster-summary-sk>
      </div>
      <script type="text/javascript" charset="utf-8">
        window.addEventListener('load', function() {
         $$$('cluster-summary-sk').summary = {{.}};
        });
      </script>
    </scaffold-sk>
</body>
</html>
