<!DOCTYPE html>
<html>
<head>
    <title>Skia Performance Monitoring | Alert {{.ID}}</title>

    {{template "header.html" .}}

</head>
<body>
    <perf-scaffold-sk responsiveWidth="700px">
      <div id="container">
        <cluster-summary-sk></cluster-summary-sk>
      </div>
      <script type="text/javascript" charset="utf-8">
        window.addEventListener('load', function() {
         $$$('cluster-summary-sk').setSummary({{.}});
        });
      </script>
    </perf-scaffold-sk>
</body>
</html>
