<!DOCTYPE html>
<html>
<head>
    <title>Skia Performance Monitoring | Clusters</title>

    {{template "header.html" .}}

    <link href="/res/imp/cluster.html" rel="import" />
    <script src="/res/js/clusters.js"></script>
    <style type="text/css" media="screen">
      .clSorting {
        padding: 1em 0;
      }
    </style>
</head>
<body>
  <scaffold-sk responsiveWidth="700px">
    {{template "titlebar.html" .}}
    <div id="container">
      <section id=clustering>
        <h2>Trace Clustering</h2>
        <p>
          <label for="_stddev">StdDev Threshhold:</label>
          <input type="text" name="_stddev" value="0.001" id="_stddev">
        </p>
        <p>
          <label for="_k">Num Clusters:</label>
          <input type="text" name="_k" value="50" id="_k">
        </p>
        <p>
          <label for="_issue">Issue:</label>
          <select name="_issue" id="_issue" size="1">
             <option selected> </option>
          </select>
        </p>
        <div id="sk-query"></div>
        <button id="start" type="submit">Calculate</button>

        <div id=clSorting>
          Sort by:
          <input type="radio" name="sort" value="clustersize">ClusterSize</input>
          <input type="radio" name="sort" value="stepregression" checked>Regression</input>
          <input type="radio" name="sort" value="stepsize">Step Size</input>
          <input type="radio" name="sort" value="steplse">Least Squares</input>
        </div>
        <div id="clResults">
        </div>
      </section>
    </div>
  </scaffold-sk>
</body>
</html>
