<!DOCTYPE html>
<html>
  <head>
    <title>Skia Performance Monitoring (Framed)</title>

    {{template "header.html" .}}
    <style type="text/css" media="screen">
      body {
        margin: 0;
        padding: 0;
      }
    </style>

  </head>
  <body>
    <plot-sk width=500 height=250></plot-sk>

    <script type="text/javascript" charset="utf-8">
      (function () {
        function Navigation() {
          this.commitData_ = [];
        };

        /**
         * commitData_ may have a trailing set of commits with a commit_time of 0,
         * which means there's no commit, it is just extra space from the Tile.
         */
        Navigation.prototype.lastCommitIndex = function() {
          for (var i = this.commitData_.length - 1; i >= 0; i--) {
            if (this.commitData_[i].commit_time != 0) {
              return i;
            }
          }
          // We shouldn't get here.
          return this.commitData_.length-1;
        }

        /**
         * Adds Traces that match the given query params.
         *
         * q is a URL query to be appended to /query/<scale>/<tiles>/traces/.
         * The matching traces are returned and added to the plot.
         */
        Navigation.prototype.addTraces = function(q) {
          sk.get("/query/0/-1/traces/?" + q).then(JSON.parse).then(function(json){
            for (var i = json.traces.length - 1; i >= 0; i--) {
              json.traces[i]._params["id"] = json.traces[i].label;
            }
            $$$('plot-sk').addTraces(json.traces);
          }.bind(this)).catch(sk.errorMessage);
        };


        /**
         * Wires up all the callbacks to the controls that Navigation uses.
         */
        Navigation.prototype.attach = function() {
          var oldWidth = $$$('plot-sk').width;
          window.setInterval(function() {
            var newWidth = window.innerWidth;
            if (newWidth != oldWidth) {
              $$$('plot-sk').width = oldWidth = newWidth;
            }
          }, 500);

          // Load the commit data and set up the plot.
          sk.get('/tiles/0/-1/').then(JSON.parse).then(function(json){
            this.commitData_ = json.commits;
            if (window.location.hash.length >= 2) {
              this.addTraces("__shortcut=" + window.location.hash.substr(1))
            }

            var skps = [0].concat(json.skps, [this.commitData_.length-1]);
            var tickmap = {};
            for (var i = json.ticks.length - 1; i >= 0; i--) {
              var t = json.ticks[i];
              tickmap[t[0]] = t[1];
            }
            $$$('plot-sk').setBackgroundInfo(tickmap, skps, this.lastCommitIndex());
          }.bind(this));

          $$$('plot-sk').addEventListener('click', function() {
            top.location = window.location.origin + "#" + window.location.hash.substr(1);
          });

          $$$('plot-sk').addEventListener('selected', function() {
            top.location = window.location.origin + "#" + window.location.hash.substr(1);
          });
        };

        sk.DomReady.then(function() {
          var navigation = new Navigation();
          navigation.attach();
        });
      })();
    </script>
  </body>
</html>
