    <meta charset="utf-8">
    <meta name="theme-color" content="#1f78b4">
    <link rel="shortcut icon" href="/res/img/favicon.ico" />
    <link rel="manifest" href="/res/manifest.json">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/res/js/core.js" type="text/javascript" charset="utf-8"></script>
    <link href="/res/vul/elements.html" rel="import" />
    <style type="text/css" media="screen">
      body {
        margin: 0;
        padding: 0;
      }

      .main * {
        font-size: 12px;
      }

      .main h2 {
        font-size: 16px !important;
      }

      .main h3 {
        font-size: 14px !important;
      }

      .main button {
        text-transform: none !important;
      }

      query2-sk iron-selector div {
        line-height: 14px !important;
      }
    </style>
    <script>
      // Check that service workers are registered
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
    <link href="/dist/main-bundle.css" rel="stylesheet">
    <script type="text/javascript" src="/dist/main-bundle.js"></script>
