<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="res/css/perf.css" rel="stylesheet" />
    <script src="res/js/perf.js"></script>
    <script src="res/js/logic2.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="plot-wrapper">
            <div id="chart">
            </div>
            <div class="zooooom">
                <div class="to-the-left">
                    <a href="#" id="add-left">&lt; &lt;</a>
                    <a href="#" id="shift-left">&lt;</a>
                </div>
                <div class="centered">
                    <input id="zoom" type="range"></input>
                </div>
                <div class="to-the-right">
                    <a href="#" id="shift-right">&gt;</a>
                    <a href="#" id="add-right">&gt; &gt;</a>
                </div>
            </div>
        <div>
            <input id="start" class="zoom-input"
                type="datetime-local"></input>
            <input id="end" class="zoom-input"
                type="datetime-local"></input>
            <input id="back-to-the-future" type="button" value="Go"></input>
        </div>
        <div>
            <a id="nuke-plot" href="#">Remove all</a>
            <a id="reset-axes" href="#">Reset axes</a>
            <label>
                <input id="islog" type="checkbox"></input>
                Use log scale
            </label>
            <br>
            <label>Select trybot requester, issue, and result to show:</label>
            <form id="trybot-form" action="" method="POST">
                <select id="requester">
                    <option value="">(none)</option>
                </select>
                <select id="issue">
                    <option data-requester="" value="">(none)</option>
                </select>
                <select id="trybot">
                    <option data-requester="" data-issue="" value="">(none)</option>
                </select>
           </form>
           <div id="legend">
                <table>
                    <tbody>
                        <template id="legend-entry">
                            <tr>
                                <td>
                                    <div class="legend-box-outer">
                                        <div class="legend-box-inner">
                                        </div>
                                    </div>
                                    <input type="checkbox" checked></input>
                                    <label></label>
                                </td>
                                <td>
                                    <a href="#">Remove</a>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <form id="query-form" action="" method="POST">
                <table><tr id="inputs"></tr></table>
                <input id="add-lines" type="button"
                    value="Add lines"></input>
                <input type="radio" name="schema-type" value="skps" checked>SKP Bench</input>
                <input type="radio" name="schema-type" value="micro">Microbench</input>
            </form>
            <div id="query-text"></div>
        </div>
    </div>
    <template id="plot-note">
        <div class="note" tabindex="0">
            <div class="info">
            </div>
            <a class="make-solo" href="#">Deselect other lines</a>
            <hr />
            <h4>Previous commits</h4>
            <div class="hidden more-info">
            </div>
            <a class="toggle" href="#">Expand/shrink</a>
            <h4>Annotations</h4>
            <div class="messages">
            </div>
            <hr />
            <form>
                <input class="username" type="text" placeholder="Username here"></input><br />
                <textarea class="annotation-message"></textarea><br />
                <input type="radio" name="annotation-level" value="0" checked>Info</input>
                <input type="radio" name="annotation-level" value="1">Warning</input>
                <input type="radio" name="annotation-level" value="2">Problem</input>
                <input class="submit-annotation" type="button" value="Submit annotation note"></input>
            </form>
        </div>
    </template>
    <template id="annotation">
        <div class="wrapper">
            <hr />
            Author: <span class="author">(none?)</span> <br />
            <span class="notes"></span>
        </div>
    </template>
    <div class="notification">
        <div class="notification-text" id="msg"></div>
    </div>
</body>
</html>
