<!DOCTYPE html>
<html>
  <head>
    <title>Skia Performance Monitoring</title>

    {{template "header.html" .}}
    <link href="/res/imp/trace_details.html" rel="import" />

    <script src="/res/js/index.js"></script>
    <style type="text/css" media="screen">
      #pageWrapper {
        background: white;
      }
      .col {
        padding: 0.5em;
      }
    </style>
  </head>
  <body>
    <scaffold-sk responsiveWidth="700px">

      {{template "titlebar.html" .}}

        <div id="pageWrapper" horizontal layout>
          <div id="plotAndQueryWrapper" flex two vertical layout class="col">

            <div horizontal layout center>
              <paper-button id=shortcut title="Create shortcut."> <core-icon icon="link"></core-icon></paper-button>
              <highlightbar-sk flex></highlightbar-sk>
            </div>
            <plot-sk></plot-sk>
            <div horizontal layout>
              <paper-button raised id="nuke-plot">Remove all traces</paper-button>
              <paper-button raised id="reset-axes">Reset axes</paper-button>
              <paper-button raised id="add-lines">Add traces</paper-button>
            </div>
            <div horizontal layout center>

             <paper-input-decorator floatingLabel label="Formula" flex>
               <textarea id="formula" rows=3 cols=80></textarea>
             </paper-input-decorator>

              <paper-button id="add-calculated">Add</paper-button> <a href="/help/" target=_blank><core-icon icon="help"></core-icon></a>
            </div>
            <query-sk></query-sk>
          </div>

          <trace-details-sk flex two class=col> </trace-details-sk>

        </div>
    </scaffold-sk>
  </body>
</html>
