<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="res/css/perf.css" rel="stylesheet" />
    <script src="res/js/perf.js"></script>
    <script src="res/js/logic.js"></script>
  </head>
  <body>
    <div id="page-wrapper">

      <div id="plot-and-query-wrapper">

        <div id="plot-wrapper">
          <input type="text" disabled value="" placeholder="Highlighted Trace ID" id="plot-label" size=80>
          <div id="chart"> </div>
        </div>

        <div id="query-wrapper">
          <button id="nuke-plot">Remove all traces</button>
          <button id="reset-axes">Reset axes</button>
          <button id="clear-selections">Clear selections</button>
          <button id="add-lines">Add traces</button> <span id="query-text"></span>
          <div id="inputs">
            <br>
            <p id="more-inputs">More...</p>
            <div id="more" class="hidden">
            </div>
          </div>
        </div>

      </div> <!-- end of plot-and-query-wrapper -->


      <div id="note" class="hidden">
        <a class="make-solo" href="#">Deselect other lines</a>
        <hr>
        <table border="0" cellspacing="5" cellpadding="5">
          <tbody class="params"></tbody>
        </table>
        <hr>
        <div class="commits"></div>
      </div>

    </div> <!-- end of page-wrapper -->

    <!-- Templates -->

    <template id="query-select">
    <div class="query-node">
      <h4></h4>
      <select name="" class="query-select" multiple size="16">
      </select>
    </div>
    </template>

    <template id="note-param">
    <tr><td class="key"></td><td class="value"></td></tr>
    </template>

    <div class="notification">
      <div class="notification-text" id="msg"></div>
    </div>

  </body>
</html>
