@use '../../../elements-sk/modules/styles/buttons';
@use '../themes/themes';

commit-detail-picker-sk {
  dialog button {
    margin: 0 0 16px;
  }

  dialog {
    color: var(--on-background);
    background: var(--background);
    border: solid 1px var(--on-background);

    day-range-sk {
      display: inline-block;
    }

    .tiny {
      margin: 0 0 8px;
      font-size: 12px;
    }
  }
}
