@use 'node_modules/jsoneditor/dist/jsoneditor.min.css';

particles-sk {
  display: block;
  background: var(--background);
  margin: 0;
  min-height: 100vh;

  --sidebar-width: 0;
  --header-horiz-padding: 16px;

  main {
    padding: 16px;
  }

  figure {
    margin: 8px 0;
    padding: 0;
  }

  figcaption {
    margin: 8px 0;
    text-align: center;
  }

  .jsoneditor-field {
    color: var(--primary);
  }

  div.jsoneditor-field[contenteditable='true']:focus,
  div.jsoneditor-field[contenteditable='true']:hover,
  div.jsoneditor-value[contenteditable='true']:focus,
  div.jsoneditor-value[contenteditable='true']:hover {
    background: var(--surface);
    color: var(--secondary);
  }

  .playerAndEditor {
    display: flex;
  }

  #json_editor {
    min-width: 400px;
    padding: 0;

    button {
      box-shadow: none;
    }
  }

  #dimensions label {
    display: block;
    margin: 8px 0 8px 0;
  }
}
