@import '../themes/themes.scss';

particles-sk {
  display: block;

  header {
    background: var(--blue);
    color: var(--white);
    padding: 0.5em;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header > * {
    display: inline-block;
  }
}
