@import '../themes/themes.scss';

particles-sk {
  display: block;
  background: var(--surface);
  height: 100vh;

  header {
    background: var(--surface-1dp);
    color: var(--primary);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;
  }

  header #githash {
    background: var(--surface-1dp);
  }

  main {
    padding: 16px;
  }

  figure {
    margin: 8px 0;
    padding: 0;
  }

  figcaption {
    margin: 8px 0;
    text-align: center;
  }

  .jsoneditor-field {
    color: var(--primary);
  }

  div.jsoneditor-field[contenteditable='true']:focus,
  div.jsoneditor-field[contenteditable='true']:hover,
  div.jsoneditor-value[contenteditable='true']:focus,
  div.jsoneditor-value[contenteditable='true']:hover {
    background: var(--surface);
    color: var(--secondary);
  }

  .playerAndEditor {
    display: flex;
  }

  #json_editor {
    min-width: 400px;
    margin: 8px 8px 0 16px;
    padding: 0;
  }
}
