@import '~elements-sk/colors';

systemd-unit-status-sk {
  display: flex;
  flex-direction: row;
  align-items: center;

  button {
    height: 2em;
    padding: 0 1em;
  }

  div {
    font-family: monospace;
    margin: 0.2em;
    padding: 0.8em;
  }

  .uptime {
    width: 2em;
  }

  .state {
    width: 4em;
  }
  .running {
    color: var(--green);
  }
  .failed {
    color: var(--red);
  }
  .halted {
    color: var(--orange);
  }
  .dead {
    color: var(--purple);
  }
  .exited {
    color: black;
  }
}
