@import '~elements-sk/checkbox-sk/checkbox-sk';
@import '~elements-sk/multi-select-sk/multi-select-sk';

query-values-sk {
  #regex ~ #values,
  #regex[checked] + #regexValue {
    display: inline-block;
  }

  #regex[checked] ~ #values,
  #regex + #regexValue {
    display: none;
  }

  multi-select-sk {
    max-height: 20em;
    overflow-y: auto;
  }
}
