# interfaces(5) file used by ifup(8) and ifdown(8)
auto lo
iface lo inet loopback

auto {{ interface }}
iface {{ interface }} inet dhcp
pre-up /sbin/ethtool -s {{ interface }} speed 100 duplex full
pre-up /sbin/ethtool -A {{ interface }} rx off tx off autoneg off