- name: Copy over test_machine_monitor executable (Skolo)
  when: zone == 'skolo'
  become: true
  get_url:
    url:
      "http://metadata:{{ all.jumphost_file_server
      }}/test_machine_monitor/build/{{ ansible_facts['system'] }}/{{
      ansible_facts['architecture'] }}/test_machine_monitor"
    dest: /usr/local/bin/test_machine_monitor
    owner: root
    group: root
    mode: 0755

- name: Copy over test_machine_monitor executable (GCE)
  when: zone == 'gce'
  become: true
  copy:
    src:
      "{{ test_machine_monitor_directory_path
      }}/build/{{
      ansible_facts['system'] }}/{{
      ansible_facts['architecture']
      }}/test_machine_monitor"
    dest: /usr/local/bin/test_machine_monitor
    owner: root
    group: root
    mode: 0755

- name: Install Foundry Bot (Skolo)
  when: zone == 'skolo'
  become: true
  get_url:
    url:
      "http://metadata:{{ all.jumphost_file_server
      }}/foundry_bot/build/{{ ansible_facts['system'] }}/{{
      ansible_facts['architecture'] }}/bot.1"
    dest: /usr/local/bin/bot.1
    owner: root
    group: root
    mode: 0755

- name: Install Foundry Bot (GCE)
  when: zone == 'gce'
  become: true
  copy:
    src:
      "{{ foundry_bot_directory_path
      }}/build/{{
      ansible_facts['system'] }}/{{
      ansible_facts['architecture']
      }}/bot.1"
    dest: /usr/local/bin/bot.1
    owner: root
    group: root
    mode: 0755

- name: Check that /etc/systemd/system/swarming_bot.service exists
  stat:
    path: /etc/systemd/system/swarming_bot.service
  register: swarming_service_stat

- name: Clean up swarming systemd service
  when:
    install_test_machine_monitor__start_swarming and
    swarming_service_stat.stat.exists
  block:
    - name: Disable and stop swarming_bot service
      become: true
      systemd:
        enabled: false
        state: stopped
        name: swarming_bot

    - name: Remove /etc/systemd/system/swarming_bot.service
      become: true
      file:
        path: /etc/systemd/system/swarming_bot.service
        state: absent

    - name: Reload systemctl daemon
      become: true
      systemd:
        daemon_reload: true

- name: Check that ~chrome-bot/.config/autostart/swarming.desktop exists
  stat:
    path: ~chrome-bot/.config/autostart/swarming.desktop
  register: swarming_desktop_stat

- name: Clean up old way of launching swarming
  copy:
    src: files/swarming.desktop
    dest: ~chrome-bot/.config/autostart/swarming.desktop
    owner: chrome-bot
    group: chrome-bot
    mode: 0644
  when:
    install_test_machine_monitor__start_swarming and
    swarming_desktop_stat.stat.exists

- name: Copy over service file.
  become: true
  template:
    src: templates/test_machine_monitor.service
    dest: /etc/systemd/system/test_machine_monitor.service
    owner: root
    group: root
    mode: 0644

- name: Start systemd servce.
  become: true
  systemd:
    enabled: true
    # Do not force a restart, we'll just pick up the new version on reboot.
    state: started
    name: test_machine_monitor
    daemon_reload: true
