machines-table-sk {
  .clickable {
    cursor: pointer;
  }

  details > summary {
    cursor: pointer;
    white-space: nowrap;
  }

  select {
    padding: 0;
  }

  table {
    position: relative;

    th {
      position: sticky;
      top: 50px;
      background-color: var(--background);
      opacity: 1;
      z-index: 10;

      svg {
        z-index: 1;
      }
    }
  }
}
