@import '../theme/theme.scss';

machines-table-sk {
  .clickable {
    cursor: pointer;
  }

  details > summary {
    cursor: pointer;
    white-space: nowrap;
  }

  select {
    padding: 0;
  }

  table {
    position: relative;

    th {
      position: sticky;
      top: 50px;
      background-color: var(--background);
      opacity: 1;
      z-index: 10;
      white-space: nowrap;

      svg {
        z-index: 1;
      }
    }

    td {
      vertical-align: baseline;
      padding: 0;

      &.outOfSpec {
        color: var(--failure);
      }

      &.powercycle {
        display: flex;
        align-items: center;
        gap: 8px;

        > * {
          margin: 0;
        }

        spinner-sk {
          width: 11px;
          height: 11px;
          border-width: 5px;
        }
      }
    }
  }
}
