[Unit]
Description=Power Controller
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/power-controller \
  --resources_dir=/usr/local/share/power-controller/ \
  --powercycle_config=/etc/powercycle/powercycle-rpi-01.json5 \
  --powercycle_config=/etc/powercycle/powercycle-linux-01.json5 \
  --powercycle_config=/etc/powercycle/powercycle-win-02.json5 \
  --powercycle_config=/etc/powercycle/powercycle-win-03.json5 \
  --authorized_email="service-account-json@skia-buildbots.google.com.iam.gserviceaccount.com" \
  --port=:8002
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
