@import '~elements-sk/themes/themes.css';

cluster-page-sk {
  algo-select-sk {
    max-width: 10em;
    display: block;
  }

  summary h2 {
    display: inline-block;
  }

  div#inputs > * {
    display: block;
    margin: 1em;
  }
  div#inputs > label > input {
    display: block;
  }

  .query-action {
    display: flex;
  }

  paramset-sk div {
    display: block;
  }
}
