[Unit]
Description=Skia into Android's Next Release AutoRoll Bot
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/local/bin/autoroll \
    --use_metadata=true \
    --host=android-next-roll.skia.org \
    --logtostderr \
    --workdir=/mnt/pd0/autoroll_workdir \
    --childName="Skia into Android's Next Release" \
    --childPath=external/skia \
    --resources_dir=/usr/local/share/autoroll/ \
    --sheriff=https://skia-tree-status.appspot.com/current-robocop \
    --roll_into_android=true \
    --parent_name="Android's Next Release" \
    --parent_repo=android \
    --parent_waterfall=https://android-build.googleplex.com/builds/branches/git_pi-dev/grid \
    --child_branch=android/next-release \
    --parent_branch=pi-dev
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
