[Unit]
Description=AutoRoll Bot
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/local/bin/autoroll-fe \
    --config_dir=/usr/local/share/autoroll/config \
    --host=autoroll-internal.skia.org \
    --internal \
    --resources_dir=/usr/local/share/autoroll/
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
