[Unit]
Description=AutoRoll Bot
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/local/bin/autoroll \
    --use_metadata=true \
    --host=nacl-roll.skia.org \
    --logtostderr \
    --parent_name=Chromium \
    --parent_waterfall=https://build.chromium.org \
    --workdir=/mnt/pd0/autoroll_workdir \
    --childName=NaCl \
    --childPath=src/native_client \
    --resources_dir=/usr/local/share/autoroll/ \
    --sheriff=mseaborn@chromium.org
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
