[Unit]
Description=AutoRoll Bot
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/autoroll \
    --use_metadata=true \
    --graphite_server=skia-monitoring:2003 \
    --host=nacl-roll.skia.org \
    --log_dir=/var/log/logserver \
    --log_max_size=10485760 \
    --workdir=/mnt/pd0/autoroll_workdir \
    --childName=NaCl \
    --childPath=src/native_client \
    --resources_dir=/usr/local/share/autoroll/ \
    --depot_tools=/home/default/depot_tools \
    --sheriff=mseaborn@chromium.org
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
