[Unit]
Description=AutoRoll Bot
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/local/bin/autoroll \
    --use_metadata=true \
    --host=skcms-skia-roll.skia.org \
    --logtostderr \
    --workdir=/mnt/pd0/autoroll_workdir \
    --childName=skcms \
    --childPath=third_party/externals/skcms \
    --parent_name=Skia \
    --parent_repo=https://skia.googlesource.com/skia.git \
    --parent_waterfall=https://status.skia.org \
    --resources_dir=/usr/local/share/autoroll/ \
    --sheriff=https://skia-tree-status.appspot.com/current-sheriff
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
