[Unit]
Description=AutoRoll Bot
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/autoroll \
    --use_metadata=true \
    --host=autoroll.skia.org \
    --influxdb_database=skmetrics \
    --influxdb_host=skia-monitoring:10117 \
    --log_dir=/var/log/logserver \
    --log_max_size=10485760 \
    --workdir=/mnt/pd0/autoroll_workdir \
    --childName=Skia \
    --childPath=src/third_party/skia \
    --resources_dir=/usr/local/share/autoroll/ \
    --depot_tools=/home/default/depot_tools \
    --sheriff=https://skia-tree-status.appspot.com/current-sheriff \
    --cqExtraTrybots=tryserver.blink:linux_blink_rel;tryserver.chromium.win:win_clang_dbg
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
