[Unit]
Description=AutoRoll Bot
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/local/bin/autoroll \
    --use_metadata=true \
    --host=skia-internal-autoroll-8000-proxy.skia.org \
    --workdir=/mnt/pd0/autoroll_workdir \
    --childName="Skia" \
    --childPath=skia \
    --parent_name="Skia Internal" \
    --parent_repo=https://skia.googlesource.com/internal_test.git \
    --parent_waterfall=https://status-internal.skia.org/ \
    --resources_dir=/usr/local/share/autoroll/ \
    --sheriff=borenet@google.com \
    --strategy=single \
    --pre_upload_step=TrainInfra
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
