[Unit]
Description=AutoRoll Bot
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/local/bin/autoroll-be \
    --config_file=/mnt/pd0/autoroll_workdir/autoroll-config.json \
    --host=skia-internal-autoroll-8000-proxy.skia.org \
    --workdir=/mnt/pd0/autoroll_workdir
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
