[Unit]
Description=AutoRoll Bot
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/autoroll \
    --use_metadata=true \
    --host=skia-internal-autoroll-8000-proxy.skia.org \
    --workdir=/mnt/pd0/autoroll_workdir \
    --childName="Skia Internal" \
    --childPath=skia \
    --parent_repo=https://skia.googlesource.com/internal_test.git \
    --resources_dir=/usr/local/share/autoroll/ \
    --sheriff=borenet@google.com \
    --strategy=single
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
