<html>
  <head>
    <title>Results of Skia Tryserver Run</title>
  </head>

  <body>
    <h2>Results of Skia Tryserver Run</h2>

    {% if slave_name_to_info_items %}
    RenderPictures args: {{ render_pictures_args }}<br/>
    NoPatch run compiled with mesa: {{ nopatch_mesa }}<br/>
    WithPatch run compiled with mesa: {{ withpatch_mesa  }}<br/><br/>

    To view all {{ failing_files_count }} failing files click <a href='{{ absolute_url }}list_of_all_files.html'>here</a>.
    <br/><br/><br/>

    <table border="1" cellpadding="5">
      <tr bgcolor="#CCCCFF">
        <th>Slave</th>
        <th>Total failing files</th>
      </tr>
      {% for slave_name, slave_info in slave_name_to_info_items %}
        <tr>
          <td>{{ slave_name }}</td>
          <td align="center">{{ slave_info.failed_files|length }}</td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
      <h4>All SKP images were identical!</h4>
    {% endif %}
  </body>
</html>
