@import url(~elements-sk/colors.css);

arb-status-sk {
  :host {
    font-family: sans-serif;
  }
  #loadstatus {
    font-size: 0.8em;
    padding: 0px 15px;
  }
  #tabsContainer {
    width: 400px;
  }
  #pleaseLoginMsg {
    color: red;
    padding: 10px;
  }
  a,a.visited {
    color: #1f78b4;
  }

  .big {
    font-size: 1.3em;
  }
  .small {
    font-size: 0.8em;
  }
  .hidden {
    display: none;
  }
  .nowrap {
    white-space: nowrap;
  }
  .rollCandidate {
    height: 80px;
  }
  .trybot {
    margin: 5px;
  }

  /**
   * Styling for tables.
   * TODO(borenet): Move these to a common module.
   */
  table {
    border-collapse: collapse;
    display: table;
  }

  tr {
    border-bottom: 1px solid #EEEEEE;
    display: table-row;
  }

  tr:hover {
    background-color: var(--dark-white);
  }

  tr:hover tr:hover {
    background-color: var(--white);
  }

  tr-container {
    display: table-row-group;
  }

  td,th {
    display: table-cell;
    padding: 10px;
  }

  td {
    font-size: 0.813em;
    vertical-align: middle;
  }

  th {
    color: var(--gray);
    font-size: 0.75em;
  }

  number {
    text-align: right;
  }
}
