@import '../../../infra-sk/modules/results';
@import '../colors';

arb-status-sk {
  :host {
    font-family: sans-serif;
  }
  #loadstatus {
    font-size: 0.8em;
    padding: 0px 15px;
  }
  #tabsContainer {
    width: 400px;
  }
  #pleaseLoginMsg {
    color: var(--error);
    padding: 10px;
  }
  #modeSelect {
    margin: 0px;
  }
  #modeChangeMsgInput {
    margin: 0px;
    padding: 8px;
  }
  #strategySelect {
    margin: 0px;
  }
  #strategyChangeMsgInput {
    margin: 0px;
    padding: 8px;
  }

  .big {
    font-size: 1.3em;
  }
  .small {
    font-size: 0.8em;
  }
  .hidden {
    display: none;
  }
  .nowrap {
    white-space: nowrap;
  }
  .rollCandidate {
    height: 80px;
  }
  .trybot {
    margin: 5px;
  }

  .manual {
    white-space: nowrap;
  }
}
