@import '../../../elements-sk/modules/styles/buttons';
@import '../themes/themes.scss';

existing-bug-dialog-sk {
  #existing-bug-dialog {
    overflow: auto;
    width: 25%;
    padding: 16px;
    border: solid var(--on-background) 1px;
    color: var(--on-background);
    background: var(--background);
    textarea {
      background: var(--background);
      color: var(--on-surface);
      border: solid 1px var(--on-surface);
    }
    #closeIcon {
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
      margin-top: 10px;
      margin-right: 11px;
      border: none;
      padding: 5px;
      cursor: pointer;
    }
    .footer {
      display: flex;
      justify-content: right;
    }

    #existing-bug-dialog-select-project:focus {
      outline-style: none;
    }

    #bug_id {
      position: relative;
      line-height: 25px;
      width: 125px;
      box-sizing: content-box;
      padding-left: 8px;
    }

    #associated-bugs-table {
      margin-top: 5px;
      margin-bottom: 5px;
      overflow-y: scroll;
      cursor: pointer;
    }
  }

  .iron-selected {
    background: #eee;
  }

  #add-to-existing-bug {
    display: block;
  }
}
