@import url(~elements-sk/colors.css);

named-edit-sk {
  dialog-sk {
    padding: 0 0 0.6em 0;
    border: none;
  }

  label {
    display: block;
    padding: 0.5em;
  }

  label input {
    margin: 0.4em 1em;
    padding: 0.3em;
    border: solid 1px var(--light-blue);
  }

  .dialog-buttons {
    display: flex;
    justify-content: flex-end;
    margin: 0.6em;
  }

  h2 {
    margin: 0;
    padding: 0.6em;
    background: var(--blue);
    color: var(--dark-white);
  }
}

