@import '../colors.css';

task-queue-sk {
  div.dialog-background {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    background-color: var(--transparent-grey);
  }
  div.hidden {
    display: none;
  }
  div.dialog-content {
    min-width: 200px;
    max-width: calc(100% - 10px);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    border-radius: 1em;
    background-color: var(--white);
  }
  table.queue {
    border-spacing: 0px;
    padding-top: 2em;
  }
  tr.headers {
    background-color: var(--lavender);
    text-align: center;
  }
  td.nowrap {
    white-space: nowrap;
  }
  th,
  td  {
    padding: 15px;
    border: solid black 1px;
  }
  span.red {
    color: var(--red)
  }
}
