<!DOCTYPE html>
<html>

<head>
  <title>Docs</title>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#526E9C" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="google-site-verification" content="pwqU0tZr1xJubovbW73M6WGA2IIygCYPBkB6O4kzbYI" />
  <meta name="google-site-verification" content="pIHubYTE28EzwOWGWmHyNmxRNA6yclJyxSymw6uX8b8" />
  <script async src="https://fiddle.skia.org/dist/embed-bundle.js"></script>
  <link href="https://fiddle.skia.org/dist/embed-bundle.css" rel="stylesheet" />

  <script async src="https://skottie.skia.org/static/inline-bundle.js"></script>
  <link href="https://skottie.skia.org/static/inline-bundle.css" rel="stylesheet" />
  <link href="/res/css/main.css" rel="stylesheet" />
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-18058-16');
  </script>
</head>

<body>
  <header>
    <div id="lhs">
      <button id="menu" title="Menu">
        <svg viewBox="0 0 24 24" height="24px" width="24px">
          <g>
            <path d="M3 18h18v-2h-18v2zm0-5h18v-2h-18v2zm0-7v2h18v-2h-18z"></path>
          </g>
        </svg>
      </button>
      <img src="/res/img/logo.png" />
    </div>
    <div id="rhs">
      <a href="https://groups.google.com/forum/#!forum/skia-discuss">Community</a>
      <a href="https://bugs.skia.org">Issues</a>
      <a href="/user/api">Reference</a>
      <a href="https://fiddle.skia.org">Playground</a>
      <gcse:searchbox-only></gcse:searchbox-only>
    </div>
  </header>
  <aside id="drawer">
    {{.Nav}}
  </aside>
  <main>
    {{.Body}}
  </main>
  <footer></footer>
  <script src="/res/js/docs.js"></script>
</body>

</html>