@import '~elements-sk/colors';
@import '../colors';

gold-scaffold-sk {
  font-family:Roboto,Helvetica,Arial,'Bitstream Vera Sans',sans-serif;

  app-sk {
    --header-background-color: var(--gold);
    --background: var(--white);
  }

  header {
    h1 {
      font-weight: bold;
      font-size: 1.5em;
      padding: 0 0.25em;
    }

    .spinner-spacer {
      min-width: 40px;
    }

    spinner-sk {
      width: 24px;
      height: 24px;
      margin: 0;
      border: 8px solid var(--light-orange);
      border-left: 8px solid var(--red);
    }

    last-commit-sk {
      color: var(--white);
      margin-right: 5px;
    }
  }

  nav {
    display:flex;
    flex-direction: column;
    a {
      padding: 0.5em 0.75em;
      color: var(--black);
      fill: var(--black);
      text-decoration: none;
    }
    span {
      padding: 0 0.5em;
      vertical-align: middle;
    }
  }

  login-sk {
    margin-left: auto;
    margin-right: 1em;
    display: block;
    color: var(--white);
  }
}
