[Unit]
Description=The Cluster Telemetry master.
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/poller
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
