[Unit]
Description=Cluster Telemetry frontend.
Wants=network-online.target
After=network-online.target

[Service]
ExecStartPre=/usr/local/bin/ctfe_migratedb \
  --log_dir=/var/log/logserver
ExecStart=/usr/local/bin/ctfe \
  --log_dir=/var/log/logserver \
  --resources_dir=/usr/local/share/ctfe/ \
  --host=ct.skia.org \
  --graphite_server=skia-monitoring:2003
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
