[Unit]
Description=Cluster Telemetry frontend.
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/ctfe \
  --resources_dir=/usr/local/share/ctfe/ \
  --host=ct.skia.org
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
