@import '../../../elements-sk/modules/styles/buttons';
@import '../themes/themes.scss';

explore-simple-sk {
  display: block;
  padding: 16px;

  h3 {
    margin: 0.5em 0 0 0;
  }

  #selections {
    margin: 0 1em;

    #closeQueryIcon {
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
      margin-top: 10px;
      margin-right: 11px;
      border: none;
      padding: 5px;
      cursor: pointer;
    }
  }

  #commits,
  #paramset {
    display: inline-block;
    margin: 0.5em;
    overflow-y: auto;
  }

  .formulas {
    display: block;

    textarea {
      display: block;
    }
  }

  help-icon-sk {
    fill: var(--primary);
  }

  .query-parts {
    display: flex;
    height: 400px;
  }

  .query-counts {
    height: 2.5em;
  }

  query-values-sk {
    display: flex;
    flex-direction: column;

    #values {
      height: 13em;
    }
  }

  #bottomButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  checkbox-sk {
    display: inline-block;
  }

  #commits {
    margin: 1em;
  }

  #simple_paramset {
    margin: 8px 8px 8px 0;
  }

  #params_and_logentry {
    code,
    #logEntry {
      white-space: pre-wrap;
      width: 50em;
    }

    anomaly-sk {
      margin: 1.25em;
    }

    display: flex;
  }

  #percent {
    margin: 0.6em;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    color: var(--on-surface);
  }

  #explore.display_query_only .hide_on_query_only {
    display: none;
  }

  #explore.display_plot .hide_on_plot {
    display: none;
  }

  #explore.display_pivot_table .hide_on_pivot_table {
    display: none;
  }

  #explore.display_pivot_plot .hide_on_pivot_plot {
    display: none;
  }

  #plot {
    display: block;
    height: 600px;
    width: 100%;
  }

  #plotSummary {
    display: flex;
    width: 100%;
    height: 100px;
  }

  #selectSummaryTrace[hidden] {
    display: none;
  }

  #spin-overlay {
    position: relative;
    display: block;
  }

  #buttons,
  #traceButtons,
  #calcButtons {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 90px;

    button,
    checkbox-sk {
      margin: 0;
      height: auto;
      min-height: 40px;
    }

    [hidden] {
      display: none;
    }

    #zoomPan {
      h3 {
        font-size: 14px;
        margin: 0;
      }

      #btnContainer {
        button {
          min-height: 0;

          span {
            font-size: 16px;
            height: auto;
            width: auto;
          }
        }
      }
    }
  }

  button#removeAll {
    padding: 5px;
    border: none;
    cursor: pointer;
    float: right;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-right: 30px;
  }

  #traceButtons {
    checkbox-sk {
      display: flex;
      align-items: center;
    }
  }

  #spinner[aria-hidden='true'] {
    display: none;
  }

  #spin-container spinner-sk {
    width: 128px;
    height: 128px;
    border-width: 4px;
  }

  #spin-container {
    display: none;
  }

  #spin-container {
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: var(--surface-1dp);
  }

  #trace-details-container {
    align-items: center;
    display: flex;

    div.icon-sk {
      margin-right: 5px;
      cursor: pointer;
      display: none;
    }
  }

  #trace_id {
    display: inline-block;
  }

  json-source-sk {
    padding: 1em;
  }

  dialog {
    padding: 16px;
    border: solid var(--on-background) 1px;
    color: var(--on-background);
    background: var(--background);
  }

  #help {
    table * {
      border: 0;
    }

    table {
      border-spacing: 0.6em;

      td.mono {
        font-family: 'Courier New', Courier, monospace;
      }
    }

    h2 {
      margin-top: 0;
    }

    sup,
    .footnote {
      font-size: 80%;
    }

    .footnote {
      padding: 1em;
    }

    .help-footer {
      display: flex;
      justify-content: end;
    }
  }

  tabs-panel-sk {
    border-radius: 0;

    commit-range-sk {
      display: block;
      margin-left: 12px;
    }
  }

  #query-dialog {
    overflow: auto;
    width: 90%;
    margin-top: 60px;
    height: 68vh;

    paramset-sk {
      display: inline-block;
      max-width: 40em;
      overflow-x: auto;
      div {
        display: block;
      }
    }

    tabs-panel-sk {
      margin-top: 0;
      border-top: solid 1px var(--on-surface);
      background: var(--surface);
    }

    tabs-sk {
      display: block;
      border-bottom: solid 1px;
      margin-top: 8px;

      button {
        margin: 0;
        padding: 4px 4px 0 4px;
      }
    }

    .footer {
      display: flex;
      justify-content: right;
    }
  }

  #bisect-dialog {
    overflow: auto;
    width: 45%;

    #bisectCloseIcon {
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
      margin-top: 10px;
      margin-right: 11px;
      border: none;
      padding: 5px;
      cursor: pointer;
    }

    paramset-sk {
      display: inline-block;

      div {
        display: block;
      }
    }

    #testpath {
      width: 90%;
    }

    #patch {
      width: 90%;
    }

    tabs-panel-sk {
      margin-top: 0;
      border-top: solid 1px var(--on-surface);
      background: var(--surface);
    }

    tabs-sk {
      display: block;
      border-bottom: solid 1px;
      margin-top: 8px;

      button {
        margin: 0;
        padding: 4px 4px 0 4px;
      }
    }

    .footer {
      display: flex;
      justify-content: right;
    }
  }

  textarea {
    background: var(--surface);
    color: var(--on-surface);
    border: solid 1px var(--on-surface);
  }

  #commitsTab[disabled] {
    display: none;
  }

  .collapser {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: var(--surface-1dp);
    border-radius: 0;
    text-transform: none;
    padding: 0 0.5em 0 0;
    margin: 0;
    height: auto;

    // We don't want icons interferring with the button click.
    * {
      pointer-events: none;
    }
  }

  #traceDetails {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: var(--on-surface);
  }

  button.navigation {
    padding: 0 4px;
  }

  #summaryPicker {
    display: flex;
    flex-direction: row;
    align-items: end;

    label {
      margin-bottom: 10px;
      margin-left: 10px;
    }
  }
}
