[Unit]
Description=Web server for Skia perf monitoring.
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/local/bin/skiaperf  \
    --resources_dir=/usr/local/share/skiaperf/  \
    --git_repo_dir=/mnt/pd0/skiaperf/repo  \
    --git_repo_url=https://skia.googlesource.com/perf-buildid/android-master  \
    --logtostderr \
    --config_filename=/etc/skiaperf/ingest.json5 \
    --ptrace_store_dir=/mnt/pd0/skiaperf/store \
    --namespace=perf-androidmaster \
    --dataframe_size=256 \
    --num_continuous=300 \
    --num_shift=50 \
    --radius=11 \
    --interesting=25 \
    --internal_only \
    --algo=stepfit \
    --subdomain=android-master-perf \
    --default_sparse=true \
    --commit_range_url=https://android-master-ingest.skia.org/rr/{begin}/{end} \
    --step_up_only

Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
