[Unit]
Description=Web server for Skia perf monitoring.
Requires=mnt-pd0.mount
Wants=network-online.target
After=mnt-pd0.mount network-online.target

[Service]
ExecStart=/usr/local/bin/skiaperf  \
    --resources_dir=/usr/local/share/skiaperf/  \
    --git_repo_dir=/mnt/pd0/skiaperf/repo  \
    --config_filename=/etc/skiaperf/ingest.toml \
    --logtostderr \
    --ptrace_store_dir=/mnt/pd0/skiaperf/store

Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
