<!DOCTYPE html>
<html>
<head>
  <title>Skia Fiddle</title>
  {%template "header.html" .%}
</head>
<body>
  <header class="horizontal layout center">
    <h2>Skia Fiddle</h2>
    <div class="flex"></div>
    <login-sk></login-sk>
  </header>
  <section id=main>
    <fiddle-sk display_options embed_button bug_link width="{%.Options.Width%}" height="{%.Options.Height%}" source="{%.Options.Source%}" fiddlehash="{%.Hash%}" sources="{%.Sources%}">
      <textarea spellcheck="false" rows="15" cols="100">{%.Code%}</textarea>
    </fiddle-sk>
    <error-toast-sk></error-toast-sk>
  </section>
  <script type="text/javascript" charset="utf-8">
    (function () {
      $$$('fiddle-sk').addEventListener('fiddle-success', function(e) {
        window.history.pushState(null, null, '/c/' + e.detail);
      });
    })();
  </script>
</body>
</html>
