<!DOCTYPE html>
<html>
<head>
  <title>Skia Fiddle - Named Fiddles</title>
  {%template "header.html" .%}
</head>
<body>
  <header class="horizontal layout center">
    {%template "menu.html" .%}
    <h2>Skia Fiddle</h2>
    <div class="flex"></div>
    <login-sk></login-sk>
  </header>
  <section id=main>
    <h1>Named Fiddles</h1>
    <table>
      <tr><th>Name</th><th>Author</th></tr>
      {%range .%}
      <tr><td><a href="/c/@{%.Name%}">@{%.Name%}</a></td><td>{%.User%}</td></tr>
      {%end%}
    </table>
  </section>
</body>
</html>
