@import '~common-sk/modules/colors';

incident-sk {
  display: block;
  padding: 0;
  font-size: 90%;

  h2 {
    color: $red;
    background: linear-gradient(#000, #222);
    padding: 0.2em 0.6em;
    margin: 0;
    font-size: 18px;
    cursor: pointer;
  }

  h2.assigned {
    color: $orange;
  }

  h2.inactive {
    color: $gray;
  }

  .note {
    background: linear-gradient(#222, #000);
  }

  td {
    text-align: left;
  }

  th {
    text-align: right;
  }

  td, td {
    padding: 0.1em 0.4em;
  }

  textarea {
    display: block;
    margin: 0.6em 0.6em;
    background: #333;
    color: white;
  }

  p {
    max-width: 40em;
    display: inline-block;
    margin: 0;
  }

  section {
    max-width: 40em;
    margin: 0.6em;
  }

  .date {
    margin: 0 1em;
    color: $orange;
  }

  .author {
    color: $green;
  }

  delete-icon-sk {
    fill: $light-gray;
    cursor: pointer;
    border: solid transparent 1px;
  }

  delete-icon-sk:hover {
    border: solid $light-gray 1px;
  }

  .meta {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

incident-sk[closed] .detail {
  display: none;
}

