@import '~elements-sk/colors';

compile-scaffold-sk {
  display: block;
  text-align: center;

  * {
    font-family:Roboto,Helvetica,Arial,'Bitstream Vera Sans',sans-serif;
    font-size: 12px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
  }

  nav-button-sk button {
    fill: var(--white);
    color: var(--white);
    background: var(--blue);
    border: none;
    box-shadow: none;
  }

  nav-button-sk button:hover {
    background: var(--light-blue);
  }

  nav {
    display: flex;
    align-items: center;
    color: var(--white);
    background: var(--blue);
    text-align: left;
  }

  nav a[href] {
    color: var(--black);
    text-decoration: none;
  }

  nav a[href]:hover {
    text-decoration: underline;
  }

  nav a span {
    vertical-align: middle;
    padding: 0.2em;
    padding-left: 1em;
    color: var(--blue);
    font-size: 1.3em;
  }

  nav div {
    margin: 1em;
  }

  nav-links-sk {
    top: 4em;
  }

  login-sk {
    margin-left: auto;
    margin-right: 1em;
    display: block;
    color: var(--white);
    --login-sk-color: var(--white);
  }

  h1 {
    font-weight: normal;
  }

  main {
    padding: 1em;
  }

  a {
    font-size: 1em;
  }

  .name {
    font-size: 20px;
  }
}
