[Unit]
Description=Checks to see if Skia change compiles against Android repo.
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/android_compile \
    --workdir=/mnt/pd0 \
    --host=android-compile.skia.org \
    --resources_dir=/usr/local/share/android-compiled/ \
    --num_checkouts=10 \
    --logtostderr
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
