@import '~elements-sk/colors';

skottie-config-sk {
  display: inline-block;
  background: var(--surface);
  padding: 8px;
  border: solid 1px var(--on-surface);
  margin: 16px 8px;

  input[type='file'] {
    visibility: hidden;
    width: 0;
  }

  .filename {
    padding: 4px;
    margin: 8px;
    font-style: inherit;
    font-weight: bold;
  }

  .empty {
    font-style: italic;
    font-weight: inherit;
  }

  input[type='number'] {
    margin-right: 8px;
    padding: 4px;
    border: solid var(--on-surface) 1px;
  }

  label.number {
    display: block;
    margin: 8px;
  }

  #dialog-buttons {
    margin-top: 8px;
    text-align: right;
  }

  .warning {
    margin: 16px 0 4px 8px;
  }

  .warning p {
    font-weight: bold;
    color: var(--error);
  }
}
