<!DOCTYPE html>
<html>
  <head>
    {{template "header.html" .}}

    <title>Skia Alerts</title>

    <style>
    core-header-panel {
      background: white;
      font-family: sans-serif;
    }
    core-toolbar {
      background-color: #88CCEE;
      color: #FFFFFF;
      text-align: center;
    }
    core-toolbar.alerting {
      background-color: #CC6677;
    }
    h1 {
      font-size: 1.7em;
    }
    login-sk {
      font-size: 0.6em;
    }
    </style>
  </head>
  <body fullbleed vertical layout unresolved>
    <core-header-panel flex>
      <core-toolbar>
        <div flex></div><login-sk></login-sk>
        <h1 class="bottom" flex>Skia Alerts</h1>
      </core-toolbar>
      <alerts-sk reload=60></alerts-sk>
    </core-header-panel>
    <div horizontal layout>
      <div flex></div>
      <version-sk></version-sk>
    </div>
  </body>
</html>
