<!DOCTYPE html>
<html>
  <head>
    {{template "header.html" .}}
    <title>Skia Commits</title>

    <style>
    core-header-panel {
      background: white;
      font-family: sans-serif;
    }
    core-toolbar {
      background-color: #55AAFF;
      color: #FFFFFF;
      text-align: center;
    }
    h1 {
      font-size: 1.7em;
    }
    login-sk {
      font-size: 0.6em;
      display: none;
    }
    core-toolbar.medium-tall > login-sk {
      display: block;
    }
    </style>
  </head>
  <body fullbleed vertical layout unresolved>
    <core-header-panel mode="waterfall-tall" tallClass="medium-tall" flex>
      <core-toolbar>
        <div flex></div><login-sk></login-sk>
        <h1 class="bottom" flex>Skia Commits</h1>
      </core-toolbar>
      <commits-sk></commits-sk>
    </core-header-panel>
    <div horizontal layout>
      <div flex></div>
      <version-sk></version-sk>
    </div>
  </body>
</html>
