<!DOCTYPE html>
<html>
  <head>
    {{template "header.html" .}}

    <title>Skia Alert Rules</title>

    <style>
    html /deep/ core-header-panel {
      background: white;
      font-family: sans-serif;
    }
    html /deep/ core-toolbar {
      background-color: #88CCEE;
      color: #FFFFFF;
      text-align: center;
      font-size: 15px;
    }
    </style>
  </head>
  <body fullbleed vertical layout unresolved>
    <app-sk fit appName="Alert Rules" drawerWidth="230px">
      <alerts-menu-section-sk navigation></alerts-menu-section-sk>
      <rules-sk reload=60></rules-sk>
    </app-sk>
  </body>
</html>
