<!DOCTYPE html>
<html>
  <head>
    {{template "header.html" .}}

    <title>Skia Alert Rules</title>

    <style>
    core-header-panel {
      background: white;
      font-family: sans-serif;
    }
    core-toolbar {
      background-color: #88CCEE;
      color: #FFFFFF;
      text-align: center;
      font-size: 15px;
    }
    h1 {
      font-size: 1.7em;
    }
    </style>
  </head>
  <body fullbleed vertical layout unresolved>
    <core-header-panel flex>
      <core-toolbar>
        <div><a href="/">Active Alerts</a></div><div flex></div><login-sk></login-sk>
        <h1 class="bottom" flex>Skia Alert Rules</h1>
      </core-toolbar>
      <rules-sk reload=60></rules-sk>
    </core-header-panel>
    <div horizontal layout>
      <div flex></div>
      <version-sk></version-sk>
    </div>
  </body>
</html>
