<!DOCTYPE html>
<html>
  <head>
    {{template "header.html" .}}

    <title>Skia Alert Rules</title>

  </head>
  <body class="fullbleed vertical layout unresolved">
    <style is="custom-style">
    app-sk {
      --app-sk-main: {
        background-color: #FFFFFF;
        font-family: sans-serif;
      };
      --app-sk-toolbar: {
        background-color: #88CCEE;
        color: #FFFFFF;
        font-size: 15px;
        font-family: sans-serif;
        text-align: center;
      };
    }
    </style>
    <app-sk class="fit">
      <h1 toolbar>Skia Alert Rules</h1>
      <alerts-menu-sk navigation></alerts-menu-sk>
      <rules-sk reload=60></rules-sk>
    </app-sk>

  </body>
</html>
