<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- This launchd config file ensures that /usr/local/bin/comp-ui-cron-job
    runs once a day.

    Copy this file to /Library/LaunchAgents/org.skia.compui.plist and either
    reboot or run 'sudo launchctl load
    /Library/LaunchAgents/org.skia.compui.plist'.

    See http://go/comp-ui.

    -->
    <key>Label</key>
    <string>org.skia.compui</string>

    <key>UserName</key>
    <string>chrome-bot</string>

    <key>ProgramArguments</key>
    <array>
            <string>/usr/local/bin/comp-ui-cron-job</string>
    </array>

    <key>EnvironmentVariables</key>
	<dict>
		<key>PYTHONPATH</key>
		<string>/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages</string>
    </dict>

    <key>ProcessType</key>
    <string>Interactive</string>

    <key>StartInterval</key>
    <integer>10800</integer>
</dict>
</plist>
