@import '../../../elements-sk/modules/colors';

skottie-file-form-sk {
  .wrapper {
    width: 100%;
    padding: 8px;

    .toolbar {
      width: 100%;
      display: flex;
      gap: 8px;
      justify-content: end;
    }
  }

  .upload-file {
    &--label {
      color: var(--skottie-primary-light);
      font-size: 14px;
      cursor: pointer;
      display: block;
      margin: 8px 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &--input {
      display: none;
    }
  }
}
