/*
 *  A set of styles to make buttons and select/options look more Material Design-ish.
 **/
button {
  min-width: 5.14em;
  background-color: #fff;
  color: #175A87;
  fill: #175A87;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border-radius: 4px;
  padding: 0.6em 1.2em;
  border: solid lightgray 1px;
  margin: 0.6em;
  height: 3em;
  transition: box-shadow 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.6);
}

button:hover {
  background: #eee;
}

button.action:hover {
  background: #1E77B3;
}

button:focus {
  background-color: #ddd;
  transition: background-color 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

button:active {
  background-color: #757575;
  transition: background-color 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1);
}

button:disabled {
  color: #757575;
  fill: #757575;
  background-color: #fff;
}

button.action:active {
  background-color: #A6CEE3;
  transition: background-color 0.1s color 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

button.action {
  color: white;
  fill: white;
  background: #175A87;
  border: none;
}

button.action:disabled {
  color: white;
  fill: white;
  background: #757575;
  border: none;
}

button.action:focus {
  border: solid gray 2px;
}

button.fab {
  border-radius: 50%;
  padding: 10px;
  width: 48px;
  height: 48px;
  min-width: 0px;
  font-weight: bold;
  color: white;
  background: #E31A1C;
  font-size: 22px;
  transition: box-shadow 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.6);
}

button.fab:active {
  background: #FB9a99;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
}

button.fab:focus{
  border: solid gray 2px;
}
