@import '../themes/themes.scss';

chart-tooltip-sk {
  display: block;

  > div.container {
    position: absolute;
    z-index: 1;
    width: 420px;
    margin: 1px;
    padding: 20px;
    border: 1px solid black;
    word-wrap: break-word;
    overflow: auto;
    background: var(--surface-2dp);

    button#closeIcon {
      position: absolute;
      right: 5px;
      top: 5px;
      border: none;
      cursor: pointer;
      padding: 4px;
    }

    h3 {
      margin: 0;
      margin-bottom: 16px;
    }

    h4 {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      text-decoration: underline;
    }

    ul.table {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 16px;

      li {
        display: table-row;

        span {
          &:first-child {
            font-weight: bold;
          }

          display: table-cell;
          padding: 1px 6px;
        }
      }
    }

    .revlink {
      margin-bottom: 26px;
    }

    button[hidden] {
      display: None;
    }

    button {
      float: right;
    }

    .see-more-text {
      text-decoration: underline;
      font-style: italic;
    }
  }
}
