<!DOCTYPE html>
<html>

<head>
  <title>Android Ingestion Status</title>
  <meta charset="utf-8">
  <meta name="theme-color" content="#526E9C">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style type="text/css" media="screen">
    body {
      margin: 0;
      padding: 2em;
    }

    pre {
      margin-left: 2em;
      color: green;
    }

    details-sk {
      display: block;
    }
  </style>
</head>

<body>
  <h1>Android Ingestion Status</h1>
  <h2>Recent Good Requests</h2>
  {%range .RecentGood%}
  <details>
    <summary>
      {%.TS%}
    </summary>
    <pre><code>{%.JSON%}</code></pre>
  </details>
  {%end%}
  <h2>Recent Bad Requests</h2>
  {%range .RecentBad%}
  <details>
    <summary>
      {%.TS%}
    </summary>
    <p>{%.Reason%}</p>
    <pre><code>{%.JSON%}</code></pre>
  </details>
  {%end%}
  <h1>Last BuildID Added To Git</h1>
  <p>Last BuildID: {%.LastBuildId%}</p>
</body>

</html>