/*
 * Styles for the svg elements used in plot-simple-sk are kept in this
 * separate CSS file since we are using d3 to manage those elements and not
 * the Polymer.dom() functions, so Polymer doesn't get a chance to do its
 * funky CSS selector magic.
 */
plot-simple-sk .selectionrect {
  display: inline;
  stroke-width: 1px;
  stroke-dasharray: 5px;
  stroke: black;
  stroke-opacity: 0.7;
  fill: transparent;
}

plot-simple-sk .axis path,
plot-simple-sk .axis line {
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
}

plot-simple-sk .axis text {
  font-family: 'Arial';
  font-size: 13px;
}

plot-simple-sk .tick {
  stroke-dasharray: 1, 2;
}

plot-simple-sk .dot {
  fill: white;
  stroke-width: 2px;
  display: none;
}

plot-simple-sk .dot.focused {
  fill: black;
}

plot-simple-sk .trace path {
  stroke-width: 1px;
}

plot-simple-sk .trace.focused path {
  stroke-width: 5px;
}

plot-simple-sk .trace.highlight path {
  stroke-width: 3px;
}

plot-simple-sk .trace.focused .dot {
  display: inline;
}

plot-simple-sk .xhair {
  stroke-width: 0.5px;
  stroke: red;
}

plot-simple-sk svg.nocrosshair .xhair {
  display: none;
}

plot-simple-sk .xbar {
  stroke-width: 5px;
  stroke: red;
  display: none;
}

plot-simple-sk .xbar.displayed {
  display: inline;
}

plot-simple-sk .band {
  opacity: 0.1;
}

plot-simple-sk {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
