{{template "header.html"}}

<h2>Build Scheduler Status</h2>
<build-scheduler-blacklist-sk id="blacklist_sk"></build-scheduler-blacklist-sk>

<script>
// Add status information from the server to the build-scheduler-blacklist-sk.
var elem = document.getElementById("blacklist_sk");
elem.builders = [
  {{range .Builders}}
  "{{.}}",
  {{end}}
];
elem.commits = [
  {{range .Commits}}
  "{{.}}",
  {{end}}
];
elem.rules = [
  {{range .Blacklist.Rules}}{
    "added_by": "{{.AddedBy}}",
    "builder_patterns": [
      {{range .BuilderPatterns}}"{{.}}",
      {{end}}],
    "commits": [
      {{range .Commits}}"{{.}}",
      {{end}}],
    "description": "{{.Description}}",
    "name": "{{.Name}}",
  },
  {{end}}
];
</script>
{{template "footer.html"}}
