@import '../styles.scss';

branches-sk {
  --branch-color-0: var(--secondary);
  --branch-color-1: var(--primary);
  --branch-color-2: #4fc3f7;
  --branch-color-3: #b39ddb;
  --branch-color-4: #ff8a65;
  .pointer {
    cursor: pointer;
  }
}
.darkmode branches-sk {
  --branch-color-3: #ffb300;
}
