@import '../styles.scss';

branches-sk {
  --branch-color-0: var(--primary);
  --branch-color-1: var(--secondary);
  --branch-color-2: var(--light-blue-300);
  --branch-color-3: var(--deep-purple-200);
  --branch-color-4: var(--deep-orange-300);
  .pointer {
    cursor: pointer;
  }
}
.darkmode branches-sk {
  --branch-color-3: var(--amber-600);
}
