@import '~elements-sk/colors';

body {
  margin: 0;
  padding: 0;
}

app-sk {
  --sidebar-width: 0;
  --sidebar-horiz-padding: 0;

  header h1 {
    margin-left: 0.4em;
  }
}


push-app-sk {
  a:visited,
  a {
    color: var(--blue);
  }

  main {
    padding: 0.4em;
  }

  header {
    margin: 0;
    padding: 0.2em 1em;
    color: var(--white);
    background: var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header h1 {
    font-size: 110%;
  }

  header login-sk {
    font-size: 110%;
    display: block;
    margin: 0.67em;
  }

  .controls {
    padding: 0.4em;
  }

  .controls spinner-sk {
    margin-bottom: -0.8em;
    width: 20px;
    height: 20px;
  }

  .applicationRow {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-bottom: 0.2em;
  }

  .applicationRow div {
    margin: 0 0.2em;
  }

  .appContainer > div:nth-child(odd) {
    background: #eee;
  }

  .serviceName,
  .appName,
  .logs {
    font-family: monospace;
  }

  .appName {
    margin-left: 2em;
    font-weight: bold;
  }

  .reboot,
  .application {
    height: 2em;
    padding: 0 1em;
  }

  .application {
    min-width: 0;
    height: 2.4em;
    padding: 0.2em;
  }

  .invisible {
    visibility: hidden;
  }

  h2 {
    margin: 0.2em 0;
  }

  .hidden {
    display: none;
  }
}

