@import '~elements-sk/colors';

// If the sidebar is to be hidden then we remove it from the grid.
perf-scaffold-sk.sidebar_hidden {
  grid-template-areas:
    'topbar'
    'main';
  grid-template-columns: 100%;
}

perf-scaffold-sk {
  display: grid;
  height: 100vh;

  grid-template-columns: 110px 1fr;
  grid-template-rows: 55px 1fr;
  grid-template-areas:
    'topbar topbar'
    'sidebar main';

  * {
    font-family: Roboto, Helvetica, Arial, 'Bitstream Vera Sans', sans-serif;
    font-size: 12px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
  }

  #sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;

    background: var(--dark-white);

    ul {
      padding-inline-start: 0;
      list-style-type: none;
    }

    li {
      padding: 10px;
    }

    li a span {
      margin-left: 6px;
    }

    li > * {
      fill: var(--blue);
      color: var(--blue);
    }

    li:hover {
      background: var(--light-blue);
    }
  }

  #topbar {
    display: flex;
    grid-area: topbar;

    align-items: center;
    color: var(--white);
    background: var(--blue);

    #toggleSidebarButton {
      fill: var(--white);
      color: var(--white);
      background: var(--blue);
      border: none;
      box-shadow: none;
      border-radius: 0;
    }

    #toggleSidebarButton:hover {
      background: var(--light-blue);
    }

    a[href] {
      color: black;
      text-decoration: none;
    }

    a[href]:hover {
      text-decoration: underline;
    }

    a span {
      vertical-align: middle;
      padding: 0.2em;
      padding-left: 1em;
      color: var(--blue);
    }

    div {
      margin: 1em;
    }
  }

  login-sk {
    margin-left: auto;
    margin-right: 1em;
    display: block;
    color: white;
    --login-sk-color: var(--white);
  }

  h1 {
    font-weight: normal;
  }

  main {
    grid-area: main;
    padding: 1em;
  }

  .name {
    font-size: 20px;
  }
}
