    <meta charset="utf-8">
    <meta name="theme-color" content="#526E9C">
    <link rel="shortcut icon" href="/res/img/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/res/js/core.js" type="text/javascript" charset="utf-8"></script>
    <link href="/res/vul/elements.html" rel="import" />
    <style type="text/css" media="screen">
      body {
        margin: 0;
        padding: 0;
        transition: none;
        font-family: sans-serif;
      }

      header {
        background: #1f78b4;
        color: white;
        padding: 0.5em;
        margin: 0;
      }

      header > * {
        display: inline-block;
      }

      header h2 {
        margin: 0;
      }

      #main {
        padding: 1em;
      }

      #main pre,
      #main img{
        padding: 1em;
      }

      .visimage {
        width: 50%;
        min-width: 500px;
      }

      input {
        font-size: 15px;
        padding: 0.5em;
      }

    </style>
    <style type="text/css" is="custom-style" include="iron-flex iron-flex-alignment"></style>
