@use '../themes/themes';

bug-tooltip-sk {
  .bug-count-container {
    position: relative;
    display: inline-block;
  }

  .bug-count-container[hidden] {
    display: none;
  }

  .bug-tooltip {
    visibility: hidden;
    opacity: 0;
    background-color: var(--surface-2dp);
    color: var(--on-surface);
    text-align: left;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1000;
    bottom: 125%; /* Position above the container */
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.7s;
    min-width: 220px; /* Increased width */
    max-height: 80px; /* Limit height to avoid overflow
    outside the perf content div. */
    overflow: auto; /* Enable vertical scrolling */ /* Enable horizontal scrolling */
    white-space: normal; /* Allow text to wrap */
    box-shadow: 0 0 10px var(--transparent-overlay);
  }

  .bug-tooltip ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
  }

  .bug-tooltip ul li {
    white-space: nowrap;
  }

  .bug-tooltip a {
    color: var(--primary);
    text-decoration: underline;
  }

  .bug-count-container:hover .bug-tooltip {
    visibility: visible;
    opacity: 1;
  }
}
