@import '../colors';

leasing-task-sk {
  display: block;
  text-align: center;

  table.tasktable {
    border: 1px solid var(--on-background);
    padding: 5px;
  }

  table.tasktable tr.headers {
    background-color: var(--primary);
    opacity: var(--text-intensity-medium);
  }

  table.tasktable td.task-title {
    color: var(--on-primary);
  }

  a[href] {
    color: var(--primary);
    text-decoration: none;
  }

  a[href]:hover {
    text-decoration: underline;
  }
}
