[Unit]
Description=Skia systemd monitoring UI and pull service.
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/pulld-arm \
  --port=:10114 \
  --on_gce=false \
  --resources_dir=/usr/local/share/pulld-arm/ \
  --installed_packages_file=/var/pulld-arm/installed_packages.json \
  --pull_period 1m
Restart=always
User=root
Group=root
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
