[Unit]
Description=Collects metrics of Gerrit CLs in the CQ.
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/cq_watcher \
    --logtostderr
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
