@use '../../../elements-sk/modules/styles/buttons';
@use '../../../elements-sk/modules/styles/table';
@use '../../../infra-sk/themes';

job-sk {
  font-family: Arial, sans-serif;

  #cancelButton {
    cursor: pointer;
    background: var(--unexpected);
    color: var(--on-surface);
    fill: var(--on-surface);
  }

  #timeline {
    @extend %button-like;

    a {
      background: var(--primary);
      color: var(--on-primary);
      fill: var(--on-primary);
    }
  }

  td > button {
    margin: 0;
  }

  .pre {
    white-space: pre-wrap;

    code {
      font-family: monospace;
    }
  }
}
