@import '../../../infra-sk/themes.scss';

job-sk {
  font-family: Arial;

  #cancelButton {
    cursor: pointer;
    background: var(--unexpected);
    color: var(--on-surface);
    fill: var(--on-surface);
  }

  #timeline {
    @extend .button-like;

    a {
      background: var(--primary);
      color: var(--on-primary);
      fill: var(--on-primary);
    }
  }

  td > button {
    margin: 0px;
  }
}
