@import '../../../elements-sk/modules/styles/select';
@import '../../../elements-sk/modules/styles/buttons';
@import '../themes/themes.scss';

anomalies-table-sk {
  display: block;
  padding-top: 16px;
  padding-bottom: 10px;

  .expand-button[hidden] {
    display: none;
  }

  #anomalies-table {
    spinner-sk {
      width: 24px;
      height: 24px;
      margin: 0;
      padding: 0;
      position: static;
    }
    border-collapse: collapse;
    border-spacing: 0;
    font-size: small;
    width: 100%;
    th,
    td {
      text-align: left;
      padding-right: 10px;
      padding-top: 4px;
      padding-bottom: 4px;
      max-width: 500px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    a,
    th {
      // Make the header look clicky on hover.
      cursor: pointer;
      font-weight: bold;
    }
    #group,
    #checkbox,
    #graph_header,
    #change_direction {
      width: 50px;
    }

    #bug_id {
      width: 130px;
    }
    .improvement {
      color: var(--secondary);
    }
    .regression {
      color: var(--error);
    }
    #change_direction {
      text-align: center;
      width: var(--percent-changed-width, 50px);
    }
    .center-content {
      justify-content: center;
      align-items: center;
    }
    #trendingicon-link {
      color: rgb(87, 120, 211);
      cursor: pointer;
      text-align: center;
      display: contents;
    }
  }

  close-icon-sk#btnUnassociate {
    fill: var(--negative);
    cursor: pointer;
  }

  header {
    display: flex;
  }

  details {
    display: inline-block;
  }

  details table {
    margin: 1em;
  }

  summary {
    margin-right: 8px;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  .cluster {
    text-align: center;
  }

  a {
    color: var(--primary);
  }

  .parent-expanded-row,
  .child-expanded-row > td:not(:first-child) {
    background-color: var(--surface-2dp);
  }

  .child-expanded-row > td:first-child {
    background-color: var(--background);
  }

  tr:has(input[type='checkbox']:checked) > td,
  .child-expanded-row:has(input[type='checkbox']:checked) > td:not(:first-child) {
    background-color: rgba(63, 81, 181, 0.1);
  }
  .child-expanded-row:has(input[type='checkbox']:checked) > td:first-child {
    background-color: var(--background);
  }

  .popup-container {
    position: relative;
  }

  .popup-container .popup {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--background);
    padding: 20px;
    border: var(--on-background);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
  }

  .separator-cell {
    padding: 10px 0;
  }

  .separator-container {
    display: flex;
    align-items: center;
    color: var(--on-surface-variant);
    width: 100%;
  }

  .separator-line {
    flex-grow: 1;
    height: 1px;
    background-color: var(--surface-1dp);
    margin: 0 10px;
  }

  .separator-text {
    padding: 0 1em;
    font-style: italic;
    white-space: nowrap;
  }

  .other-group {
    opacity: 0.65;
    transition: opacity 0.2s ease-in-out;
  }

  .other-group:hover {
    opacity: 1;
  }
}
