point-links-sk {
  div.point-links {
    ul.table {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: space-evenly;
    }
  }
}
