[Unit]
Description=Skia pulld monitors and installs updated push packages.
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/pulld --oauth=false --log_dir=/var/log/logserver --installed_packages_file=/var/pulld/installed_packages.json
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
