[Unit]
Description=Skia pushd monitors and installs updated push packages.
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/pushd --oauth=false --log_dir=/var/log/logserver --resources_dir=/usr/local/share/pushd/ --config_filename=/etc/pushd/skiapush.conf --zone=us-central1-f --project=google.com:skia-buildbots
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
