<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>caffeinated</string>

    <key>OnDemand</key>
    <false/>

    <key>UserName</key>
    <string>chrome-bot</string>

    <key>GroupName</key>
    <string>admin</string>

    <key>ProgramArguments</key>
    <array>
            <string>/usr/bin/caffeinate</string>
            <string>-d</string>
            <string>-i</string>
            <string>-m</string>
            <string>-s</string>
    </array>
</dict>
</plist>