<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- This launchd config file ensures that MacOS stays awake no matter what. Copy this file to
         /Library/LaunchAgents/org.skia.caffeinated.plist and either reboot or run
         'sudo launchctl load /Library/LaunchAgents/org.skia.caffeinated.plist'. -->
    <key>Label</key>
    <string>org.skia.caffeinated</string>

    <key>OnDemand</key>
    <false/>

    <key>UserName</key>
    <string>chrome-bot</string>

    <key>GroupName</key>
    <string>admin</string>

    <key>ProgramArguments</key>
    <array>
            <!-- caffeinate is a command-line util to ensure MacOS does not sleep. -->
            <string>/usr/bin/caffeinate</string>
            <!-- Prevent display from sleeping. -->
            <string>-d</string>
            <!-- Prevent the system from idle sleeping. -->
            <string>-i</string>
            <!-- Prevent the disk from idle sleeping. -->
            <string>-m</string>
            <!-- Prevent the system from sleeping on AC power. -->
            <string>-s</string>
    </array>
</dict>
</plist>
