[Unit]
Description=Authenticated proxy.
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/corpproxy \
    --logtostderr

Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
