[Unit]
Description=Authenticated proxy.
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/corpproxy \
    --log_dir=/var/log/logserver  \
    --prom_port=:10110 \
    --port=:8000

Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
