<!DOCTYPE html>
<html>
  <head>
    <link rel="import" href="/res/imp/alert-sk.html"/>
    <title>Skia Sheriff Dashboard</title>
  </head>
  <body>
    <div id="page-wrapper">
      <h1>Skia Sheriff Dashboard</h1>
      <div id="alerts-wrapper">
        <h2>Alerts</h2>
        {{ range .Alerts }}
          {{ if .Snoozed }}
          {{ else }}
            <alert-sk alertname="{{ .Name }}"></alert-sk>
          {{ end }}
        {{ end }}
        <h3>Snoozed</h3>
        {{ range .Alerts }}
          {{ if .Snoozed }}
            <alert-sk alertname="{{ .Name }}"></alert-sk>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </body>
</html>
