[Unit]
Description=NSQ Admin console
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/nsqadmin --lookupd-http-address=127.0.0.1:4161 --http-address=:10117
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
