[Unit]
Description=NSQ Lookup Server
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/nsqlookupd
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
