@import '../../../infra-sk/themes.scss';

skottie-text-editor-box-sk {
  .wrapper {
    display: inline-block;
    list-style: none;
    margin-bottom: 10px;
    vertical-align: top;
    width: 100%;
  }

  .text-element {
    border: 4px solid var(--primary);
    display: inline-block;
    padding: 6px 80px 6px 20px;

    &-item {
      margin-bottom: 8px;
    }

    &-label {
      font-size: 14px;
      font-weight: 800;
      margin-bottom: 4px;
    }

    &-input {
      border: solid 1px var(--on-surface);
      color: var(--on-surface);
      background: var(--surface);
      border-radius: 4px;
      font-size: 14px;
      padding: 4px 2px 2px 2px;
    }

    &-origin {
      font-size: 12px;
    }
  }
}
