@import '../themes/themes.scss';

triage-page-sk {
  > dialog {
    z-index: 2;
    background: var(--background);
    color: var(--on-background);
    border: solid 1px var(--on-background);
  }

  header {
    display: flex;
  }

  details {
    display: inline-block;
  }

  details table {
    margin: 1em;
  }

  summary {
    margin-right: 8px;
  }

  summary:focus {
    outline: dashed 1px var(--primary);
    outline-offset: 3px;
  }

  tr:nth-child(even) {
    background-color: var(--surface);
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  .cluster {
    text-align: center;
  }

  th {
    padding: 0 1em;
  }

  a {
    color: var(--primary);
  }
}
