@import '../../../elements-sk/modules/styles/select';
@import '../../../elements-sk/modules/styles/buttons';
@import '../themes/themes.scss';

triage-page-sk {
  display: block;
  padding: 16px;

  > dialog {
    background: white;
    color: black;
    border: solid 1px #ccc;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    max-height: 90vh;
    overflow-y: auto;
    z-index: 10000;
    min-width: 800px;
    min-height: 400px;

    &::backdrop {
      background: rgba(0, 0, 0, 0.5);
      z-index: 9999;
    }
  }

  header {
    display: flex;
  }

  details {
    display: inline-block;
  }

  details table {
    margin: 1em;
  }

  summary {
    margin-right: 8px;
  }

  tr:nth-child(even) {
    background-color: var(--surface);
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  .cluster {
    text-align: center;
  }

  th {
    padding: 0 1em;
  }

  a {
    color: var(--primary);
  }
}
