[Unit]
Description=Skia fiddle allows compiling and running Skia C++ code.
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/fiddle \
  --logtostderr \
  --resources_dir=/usr/local/share/fiddle/ \
  --fiddle_root=/mnt/pd0/fiddle
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
