[Unit]
Description=Skia fiddle allows compiling and running Skia C++ code.
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/fiddle --log_dir=/var/log/logserver --resources_dir=/usr/local/share/fiddle/
Restart=always
User=default
Group=default
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
